<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>

<link rel="stylesheet" href="{{ CONFIG.ASSETCDNURL }}/css/fullcalendar.min.css">
<script src="{{ CONFIG.ASSETCDNURL }}/js/fullcalendar.min.js"></script>

<div class="card card-primary">
    {% set calendarId = random() %}
    <div class="card-body p-0">
        <div id="calendar{{ calendarId }}"></div>
    </div>
    <script>
        $(function () {
            /* initialize the calendar
             -----------------------------------------------------------------*/
            const Calendar = FullCalendar.Calendar;
            
            const calendar{{ calendarId }} = new Calendar(document.getElementById('calendar{{ calendarId }}'), {
                timeZone: 'UTC',
                editable  : false,
                droppable : false,
                themeSystem: 'bootstrap',
                nextDayThreshold: '05:00:00',
                height: 800,
                firstDay: 1,
                buttonText:  {
                    today:    'Today',
                    month:    'Month',
                    week:     'Week',
                    day:      'Day',
                    list:     'List'
                },
                headerToolbar: {
                    left  : 'prev,next today',
                    center: 'title',
                    right : 'dayGridMonth,timeGridWeek,timeGridDay,listYear'
                },
                titleFormat: function(date) {
                    const monthNames = ["January", "February", "March", "April", "May", "June",
                        "July", "August", "September", "October", "November", "December"
                    ]
                    return "{{ LOCATION ? LOCATION.locations_name ~ ": " }}" + monthNames[date['date']['month']] + " " + date['date']['year'];
                },
                events : [
                    {% for project in projects %}
                        {% if project.projects_dates_use_start != null and project.projects_dates_use_end != null %}
                        {
                            title          : "[{{ STATUSES[project.projects_status]["name"]|escape("js") }}] {{ project.clients_name ? project.clients_name|escape("js") ~ " - " }}{{ project.projects_name|escape("js") }}",
                            start          : {{ project.projects_dates_use_start|date('U') }}*1000,
                            end            : {{ project.projects_dates_use_end|date('U') }}*1000,
                            url            : '{{CONFIG.ROOTURL}}/project/?id={{ project.projects_id }}',
                            backgroundColor: '{{ STATUSES[project.projects_status]["backgroundColour"] }}',
                            textColor    : '{{ STATUSES[project.projects_status]["foregroundColour"] }}'
                        },
                        {% endif %}
                        {%  for subproject in project.subProjects %}
                            {% if subproject.projects_dates_use_start != null and subproject.projects_dates_use_end != null %}
                                {
                                    title          : "↳ [{{ STATUSES[subproject.projects_status]["name"]|escape("js") }}] {{ subproject.clients_name ? subproject.clients_name|escape("js") ~ " - " }}{{ subproject.projects_name|escape("js") }}",
                                    start          : {{ subproject.projects_dates_use_start|date('U') }}*1000,
                                    end            : {{ subproject.projects_dates_use_end|date('U') }}*1000,
                                    url            : '{{CONFIG.ROOTURL}}/project/?id={{ subproject.projects_id }}',
                                    backgroundColor: '{{ STATUSES[subproject.projects_status]["backgroundColour"] }}',
                                    textColor    : '{{ STATUSES[subproject.projects_status]["foregroundColour"] }}'
                                },
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                ],
                weekNumbers: true,
                {% if USERDATA.instance['instances_weekStartDates'] %}
                weekNumberContent : function(week) {
                    var weekStartDates =  {{USERDATA.instance['instances_weekStartDates']|raw}};
                    for (const [date, label] of Object.entries(weekStartDates)) {
                        if (moment(week.date).isSame(date, 'isoWeek')) {
                            //This date is in this week so return the label
                            return (label);
                        }
                    }
                    //default to week number if it doesn't have a label
                    return week.num;
                    
                },
                {% else %}
                weekNumberCalculation: "ISO",
                {% endif %}
            });

            calendar{{ calendarId }}.render();
        })
    </script>
</div>