{% extends "assets/template.twig" %}
{% block htmlIncludes %}

{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">CMS Page Access</h3>
                    <div class="card-tools pull-right">
                        <div class="input-group input-group-sm">
                            <a type="button" class="btn btn-default btn-sm" title="View Page" href="{{ CONFIG.ROOTURL }}/cms/?p={{ PAGE.cmsPages_id }}">View Page</a>
                            <a type="button" class="btn btn-default btn-sm" title="Viewing Stats" href="{{ CONFIG.ROOTURL }}/cms/stats.php?p={{ PAGE.cmsPages_id }}"><i class="far fa-chart-bar"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card-body table-responsive p-0">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Timestamp</th>
                                <th>User</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in VIEWERS %}
                                <tr>
                                    <td>{{ entry.cmsPagesViews_timestamp }}</td>
                                    <td>
                                        {% if entry.users_userid != null %}
                                            {% if "BUSINESS:USERS:VIEW:INDIVIDUAL_USER"|instancePermissions %}
                                                <a href="{{ CONFIG.ROOTURL }}/user.php?id={{ entry.users_userid }}">
                                                    {{ entry.users_name1 }} {{ entry.users_name2 }}
                                                </a>
                                            {% else %}
                                                {{ entry.users_name1 }} {{ entry.users_name2 }}
                                            {% endif %}
                                            {% if entry.cmsPages_type and entry.cmsPages_type == 2 %}
                                                <span class="badge badge-info">Mobile App</span>
                                            {% elseif entry.cmsPages_type and entry.cmsPages_type == 3 %}
                                                <span class="badge badge-default">Custom Dashboard</span>
                                            {% endif %}
                                        {% else %}
                                            Public access
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
{% endblock %}