{% set THISWIDGETNAME = 'myMaintenance' %}
{% set THISWIDGET = WIDGETS.widget(THISWIDGETNAME, {'instanceid': USERDATA.instance.instances_id,'userid':USERDATA.users_userid}) %}


<div class="card statsWidget" data-widgetname="{{ THISWIDGETNAME }}">
    <div class="card-header">
        <h3 class="card-title">My Maintenance Jobs</h3>

        <div class="card-tools">
            {% if WIDGETS.checkUser(THISWIDGETNAME) %}
                <button type="button" class="btn btn-tool removeWidgetButton" data-card-widget="collapse" data-widgetname="{{ THISWIDGETNAME }}" title="Remove from Dashboard">
                    <i class="fas fa-times"></i>
                </button>
            {% else %}
                <button type="button" class="btn btn-tool addWidgetButton" data-widgetname="{{ THISWIDGETNAME }}" title="Add to Dashboard">
                    <i class="fas fa-plus"></i>
                </button>
            {% endif %}
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        {% for job in THISWIDGET %}
        <div class="d-flex justify-content-between align-items-center mb-3">
            <p class="text-warning text-xl">
                <i class="ion ion-ios-cart-outline"></i>
            </p>
            <p class="d-flex flex-column text-right">
                    <span class="font-weight-bold">
                        <a href="{{ CONFIG.ROOTURL }}/maintenance/job.php?id={{ job.maintenanceJobs_id }}">{{ job.maintenanceJobs_title }}</a>
                    </span>
                {% if job.maintenanceJobs_timestamp_due %}
                    <span class="text-muted">DUE {{ job.maintenanceJobs_timestamp_due|date("Y-m-d h:ia") }}</span>
                {% endif %}
                    <span class="text-muted">
                        {% if job.maintenanceJobs_priority %}
                            {% for type in MAINTENANCEJOBPRIORITIES %}

                                <span class="badge badge-{{ type.class }}" value="{{ type.id }}" {% if job.maintenanceJobs_priority != type.id %} style="display: none;" {% endif %}>{{ type.text }}</span>
                            {% endfor %}
                        {% endif %}
                    </span>
            </p>
        </div>
        {% endfor %}
    </div>
</div>