<!DOCTYPE html>
<html>
<head>
    <!--{{ CONFIG.PROJECT_NAME }}, version {{ CONFIG.VERSION.TAG }} build {{ CONFIG.VERSION.COMMIT }}-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title id="tab-title-text">{{ CONFIG.PROJECT_NAME }} Backend {{ (pageConfig.TITLE != null ? " | " ~ pageConfig.TITLE : "")  }}</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- CSS SECTION-->
        <!--Include fonts-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha256-916EbMg70RQy9LHiGkXzG8hSg9EdNy97GazNG/aiY1w=" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
              integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous"/>

        <!-- Theme style -->
        <link rel="stylesheet" href="assets/css/AdminLTE.min.css">
        <link rel="stylesheet" href="assets/css/skins/_all-skins.min.css">

    <!-- JS Scripts/Plugins-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"
                integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
                integrity="sha256-KM512VNnjElC30ehFwehXjx1YCHPiQkOPmqnrWtpccM=" crossorigin="anonymous"></script>
        <script>
            $.widget.bridge('uibutton', $.ui.button);
        </script>
        <!-- Bootstrap 3.3.5 -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8=" crossorigin="anonymous"></script>
        <!--Bootbox -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"
                integrity="sha256-4F7e4JsAJyLUdpP7Q8Sah866jCOhv72zU5E8lIRER4w=" crossorigin="anonymous"></script>

        <!--Sticky Table Header-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/floatthead/1.3.2/jquery.floatThead.min.js" integrity="sha256-TuqGSNYCOySq+u0uJ7NEfg5Lg4TZjw2CnSxYzy6eiB8=" crossorigin="anonymous"></script>
        <style>
            table.floatThead-table {
                border-top: none;
                border-bottom: none;
                background-color: #FFF;
            }
        </style>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js" integrity="sha256-FA14tBI8v+/1BtcH9XtJpcNbComBEpdawUZA6BPXRVw=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" integrity="sha256-xJOZHfpxLR/uhh1BwYFS5fhmOAdIRQaiOul5F/b7v3s=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css" integrity="sha256-nbyata2PJRjImhByQzik2ot6gSHSU4Cqdz5bNYL2zcU=" crossorigin="anonymous" />

        <!--Fastclick - increases speed of response-->
         <script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js" integrity="sha256-t6SrqvTQmKoGgi5LOl0AUy+lBRtIvEJ+++pLAsfAjWs=" crossorigin="anonymous"></script>

    <!-- AdminLTE App -->
        <script src="assets/js/app.js"></script>

        <!--Sentry Error logging-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/raven.js/3.26.2/raven.min.js"
                integrity="sha256-SwNT3bdv1zGK2V0mAEIMIdSEhIR+HbhYHLMkmR6U7D8=" crossorigin="anonymous"></script>
        <script>Raven.config('{{ CONFIG.ERRORS.SENTRYPublic }}').install()</script>

        <script>
            //Random colour generator
            Colors = {};
            Colors.names = {
                aqua: "#00ffff",
                azure: "#f0ffff",
                beige: "#f5f5dc",
                black: "#000000",
                blue: "#0000ff",
                brown: "#a52a2a",
                cyan: "#00ffff",
                darkblue: "#00008b",
                darkcyan: "#008b8b",
                darkgrey: "#a9a9a9",
                darkgreen: "#006400",
                darkkhaki: "#bdb76b",
                darkmagenta: "#8b008b",
                darkolivegreen: "#556b2f",
                darkorange: "#ff8c00",
                darkorchid: "#9932cc",
                darkred: "#8b0000",
                darksalmon: "#e9967a",
                darkviolet: "#9400d3",
                fuchsia: "#ff00ff",
                gold: "#ffd700",
                green: "#008000",
                indigo: "#4b0082",
                khaki: "#f0e68c",
                lightblue: "#add8e6",
                lightcyan: "#e0ffff",
                lightgreen: "#90ee90",
                lightgrey: "#d3d3d3",
                lightpink: "#ffb6c1",
                lightyellow: "#ffffe0",
                lime: "#00ff00",
                magenta: "#ff00ff",
                maroon: "#800000",
                navy: "#000080",
                olive: "#808000",
                orange: "#ffa500",
                pink: "#ffc0cb",
                purple: "#800080",
                violet: "#800080",
                red: "#ff0000",
                silver: "#c0c0c0",
                white: "#ffffff",
                yellow: "#ffff00"
            };
            Colors.random = function () {
                var result;
                var count = 0;
                for (var prop in this.names)
                    if (Math.random() < 1 / ++count)
                        result = prop;
                return result;
            };
        </script>

    {% block htmlIncludes %}{% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
{% if BODY %}
<body class="hold-transition skin-black sidebar-mini">
<div class="wrapper">
    <header class="main-header">
        <!-- Logo -->
        <a href="{{ CONFIG.ROOTURL }}" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini">{{ CONFIG.PROJECT_NAME }}</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>{{ CONFIG.PROJECT_NAME }}</b> Admin</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle hidden-lg hidden-md" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span>
                                    {%  if USERDATA.positions|length > 0 %}
                                        {{ USERDATA.positions[0].positions_displayName }} -
                                    {% endif %}
                                    {{ USERDATA.users_name1 }} {{ USERDATA.users_name2 }}</span>
                            </a>

                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    {% if USERDATA.users_thumbnail != null %}
                                        <img src="{{ USERDATA.users_thumbnail|s3URL("tiny") }}" class="img-square">
                                    {% endif %}
                                    <p>
                                        {{ USERDATA.users_name1 }} {{ USERDATA.users_name2 }}
                                        <small>User since {{ USERDATA.users_created|date("F Y") }}</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                {%  if USERDATA.positions|length > 1 %}<!--If they have multiple positions list them here-->
                                <li class="user-body">
                                    {% for position in USERDATA.positions %}
                                    <div class="col-xs-12 text-center" style="padding-bottom: 5px;">
                                        <a>{{ position.positions_displayName }}</a>
                                    </div>
                                    {% endfor %}
                                </li>
                                {% endif %}


                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="account.php" class="btn btn-default btn-flat">Settings</a>
                                    </div>
                                    <div class="pull-right">
                                        {% if USERDATA.viewSiteAs != false %}
                                            <a href="{{ CONFIG.ROOTURL }}/api/account/viewSiteAs_terminate.php"
                                               class="btn btn-default btn-flat">Back to Admin</a>
                                        {% else %}
                                            <a href="{{ CONFIG.ROOTURL }}/login/?logout"
                                               class="btn btn-default btn-flat">Sign out</a>
                                        {% endif %}
                                    </div>
                                </li>
                            </ul>
                        </li>
                       <!--<li>
                            <a data-toggle="control-sidebar">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-danger">5</span>
                            </a>
                        </li>-->
                </ul>

            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <!--<div style="height: 0px; width: 10px; padding: 0px; margin: 0px;" class="paddingapp"></div>-->
        <section class="sidebar">
            <ul class="sidebar-menu"  data-widget="tree">
                {% if 2|permissions or 11|permissions %}
                <li class="header">Security</li>
                {% endif %}
            {% if 2|permissions %}
            <li>
                <a href="{{ CONFIG.ROOTURL }}/users.php">
                    <i class="fa fa-users"></i> <span>Users</span>
                </a>
            </li>
            {% endif %}

            {% if 11|permissions %}
                <li>
                    <a href="{{ CONFIG.ROOTURL }}/permissions.php">
                        <i class="fa fa-unlock-alt"></i> <span>Permissions</span>
                    </a>
                </li>
            {% endif %}
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <!--<div style="height: 0px; width: 10px; padding: 0px; margin: 0px;" class="paddingapp hidden-lg hidden-md hidden-sm"></div>-->
    <div class="content-wrapper" id="content-wrapper">
        {% endif %}
            <div class="alert alert-warning alert-dismissible" style="border: 0px; margin-bottom: 0px;">
                <h4><i class="fa fa-terminal"></i> Developers at Work!</h4>
                {{ CONFIG.PROJECT_NAME }} Admin is currently being worked on by our developers - Please bear with us if you
                hit any snags!
            </div>

            {%  if pageConfig.BREADCRUMB == true and pageConfig.TITLE != null %}
            <section class="content-header">
                <h1>
                    {{ pageConfig.TITLE }}
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">{{ pageConfig.TITLE }}</li>
                </ol>
            </section>
            {% endif %}
        <section class="content">
            {% if USERDATA.users_changepass == '1' %}
            <div class="col-lg-6 col-lg-offset-3 col-md-12" style="padding: 5px;">
                <div class="panel panel-default">
                    <div class="panel-body" style="text-align: center;">
                       <h2>Change your Password</h2>
                            <p>Please enter a new password:</p>
                            <input type="password" id="forcechangepass1" class="form-control input-lg"
                                   placeholder="New Password" style="margin-bottom: 5px;" />
                            <input type="password" id="forcechangepass2" class="form-control input-lg"
                                   placeholder="Confirm New Password"  style="margin-bottom: 5px;" />
                            <p>Choose a strong password longer than 8 characters that is a random alphanumeric string</p>
                            <button id="forcechangepassbutton" class="btn btn-default">Save</button>

                    </div>
                    <div class="panel-footer">
                        <a href="mailto:{{ CONFIG.PROJECT_SUPPORT_EMAIL }}">Contact Support</a>
                    </div>
                    <script>
                        $(document).ready(function () {
                            $('#forcechangepassbutton').click(function () {
                                if ($("#forcechangepass1").val() != $("#forcechangepass2").val()) bootbox.alert("Sorry - Your passwords do not match!");
                                else if ($("#forcechangepass1").val().length < 6) bootbox.alert("Sorry - Your password is too short!");
                                else {
                                    $.ajax({
                                        url: '{{ CONFIG.ROOTURL }}/api/account/forcePasswordChange.php?pass=' + $("#forcechangepass1").val(),
                                        success: function (result) {
                                            if (result == '1') {
                                                location.reload();
                                            } else {
                                                bootbox.alert('Error - Could not send E-Mail again - Please refresh the page and try again!');
                                            }
                                        }
                                    });
                                }
                            });
                        });
                    </script>
                </div>
            </div>
            {% else %}
                {% block content %}
                {% endblock %}
            {% endif %}

            {% if BODY %}
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
    <footer class="main-footer" id="main-footer">
        <div class="pull-right hidden-xs">
            <a href="https://github.com/Jbithell/bCMS">bCMS {{ CONFIG.VERSION.TAG }}.{{ CONFIG.VERSION.COMMIT }}</a>
        </div>
        <strong>&copy;2018-{{ "now"|date("Y") }} <a href="https://www.jbithell.com">James Bithell</a>.</strong> All rights
        reserved.
    </footer>
</div><!-- ./wrapper -->
<script>
    $(document).ready(function () {
        $(".sticky-header").floatThead();
        $('[data-toggle="popover"]').popover({
            html: true,
        });
    });
    console.log("Welcome to {{ CONFIG.PROJECT_NAME }} version {{ CONFIG.VERSION.TAG }}  build {{ CONFIG.VERSION.COMMITFULL }}");
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id={{ CONFIG.ANALYTICS.TRACKINGID }}"></script>
<script>
    //Google Anylitics
    <!-- Global site tag (gtag.js) - Google Analytics -->
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', '{{ CONFIG.ANALYTICS.TRACKINGID }}');
</script>
</body>
{% endif %}
</html>