{% extends "assets/template.twig" %}
{% block htmlIncludes %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.min.css" integrity="sha256-VVbO1uqtov1mU6f9qu/q+MfDmrqTfoba0rAE07szS20=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.min.js" integrity="sha256-zI6VVO07NPmVW11q3RQE42YbRmJIkkunrcQ9LEYxJsQ=" crossorigin="anonymous"></script>
    <style>
        .color-palette {
            height: 35px;
            line-height: 35px;
            text-align: right;
            padding-right: .75rem;
        }

        .color-palette.disabled {
            text-align: center;
            padding-right: 0;
            display: block;
        }

        .color-palette-set {
            margin-bottom: 15px;
        }

        .color-palette span {
            display: none;
            font-size: 12px;
        }

        .color-palette:hover span {
            display: block;
        }

        .color-palette.disabled span {
            display: block;
            text-align: left;
            padding-left: .75rem;
        }

        .color-palette-box h4 {
            position: absolute;
            left: 1.25rem;
            margin-top: .75rem;
            color: rgba(255, 255, 255, 0.8);
            font-size: 12px;
            display: block;
            z-index: 7;
        }
    </style>

    <!--Summernote-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" integrity="sha256-CLMYHViXNCxDUd/ySLeJJjyLtteBZwjqZ4c5p6U7L78=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.min.js" integrity="sha256-jPK1ABk4CuFvSr31v4CLU7X7XCvixZSi8fTTCw/tsto=" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12 col-md-12 col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Project Detail</h3>

                    <div class="card-tools">
                        <a href="{{ CONFIG.ROOTURL }}/project/?id={{ project.projects_id }}&pdf" type="button" class="btn btn-tool">
                            <i class="far fa-file-pdf"></i></a>
                        {% if 32|instancePermissions %}
                            <button type="button" class="btn btn-tool" title="Add all assets to Project" id="addAllAssetsToProject">
                                <i class="fas fa-dolly"></i></button>
                        {% endif %}
                        {% if 31|instancePermissions %}
                        <a href="{{ CONFIG.ROOTURL }}/assets.php?p={{ project.projects_id }}" type="button" class="btn btn-tool">
                            <i class="fas fa-shopping-basket"></i></a>
                        {% endif %}
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i></button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            {% if project.projects_archived == 1 %}
                                <div class="alert alert-danger">
                                    <h5><i class="icon fas fa-ban"></i> Archived</h5>
                                    This project has been moved to archive
                                </div>
                            {% endif %}
                            <h3 class="text-primary">{{project.projects_name}}</h3>
                            <p class="text-muted">{{ project.projects_description|nl2br }}</p>
                            <br>
                            <div class="text-muted">
                                <p class="text-sm">Client
                                    <b class="d-block">{{ project.clients_name }}</b>
                                </p>
                                <p class="text-sm">Project Manager
                                    <b class="d-block">{{project.users_name1 ~ " " ~ project.users_name2 ~ " (" ~ project.users_email ~ ")" }}</b>
                                </p>
                                <p class="text-sm">Venue
                                    <b class="d-block">{{ project.projects_address|nl2br }}</b>
                                </p>
                                <p class="text-sm">Dates
                                    {% if 27|instancePermissions %}
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="far fa-clock"></i></span>
                                        </div>
                                        <input type="text" class="form-control float-right" id="datePickerInput">
                                    </div>
                                    {% else %}
                                        <b class="d-block">{{project.projects_dates_use_start ? project.projects_dates_use_start|date("Y-m-d h:i:sa")}} - {{ project.projects_dates_use_end ? project.projects_dates_use_end|date("Y-m-d h:i:sa") }}</b>
                                    {% endif %}
                                </p>
                                <p class="text-sm">Dates assets in use
                                    {% if 27|instancePermissions %}
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="far fa-clock"></i></span>
                                            </div>
                                            <input type="text" class="form-control float-right" id="datePickerInputDeliver">
                                        </div>
                                        <div style="width: 100%;text-align: right;">
                                            <a href="#" id="copyProjectDatesToDeliverDates">Copy from Project Dates</a>
                                        </div>
                                    {% else %}
                                        <b class="d-block">{{project.projects_dates_deliver_start ? project.projects_dates_deliver_start|date("Y-m-d h:i:sa")}} - {{ project.projects_dates_deliver_end ? project.projects_dates_deliver_end|date("Y-m-d h:i:sa") }}</b>
                                        {% endif %}
                                   </p>
                            </div>
                            <h5 class="mt-5 text-muted">Project Files</h5>
                            <ul class="list-unstyled">
                                {% for note in project.notes %}
                                <li>
                                    <a {% if 44|instancePermissions %}
                                            href="#" data-toggle="modal" data-target="#noteModal{{ note.projectsNotes_id }}"
                                        {% else %}
                                            href="{{ CONFIG.ROOTURL }}/project/notePDF.php?id={{ note.projectsNotes_id }}"
                                        {% endif %}
                                        class="btn-link text-secondary"><i class="fas fa-fw fa-file-contract"></i> {{ note.projectsNotes_title }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                            <br/>
                            <div class="alert" style="background-color: {{STATUSES[project.projects_status]["backgroundColour"] }}; color: {{ STATUSES[project.projects_status]["foregroundColour"] }};">
                                <h5><b>Status: </b>{{ STATUSES[project.projects_status]['name'] }}</h5>
                                {{ STATUSES[project.projects_status]['description'] }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="btn-group float-right">
                        {% if 45|instancePermissions %}
                            <button type="button" class="btn btn-default" id="newProjectNote">Add Note</button>
                        {% endif %}
                        {% if 29|instancePermissions %}
                        <button type="button" class="btn btn-info" id="editProjectStatus">Change Status</button>
                        {% endif %}
                        <button type="button" class="btn btn-default dropdown-toggle dropdown-icon" data-toggle="dropdown">
                            <span class="sr-only">Toggle Dropdown</span>
                            <div class="dropdown-menu" role="menu">
                                <a class="dropdown-item" id="quickAddCommentButton">Add Comment</a>
                                {% if 28|instancePermissions %}<a class="dropdown-item" id="editProjectName" href="#">Edit Name</a>{% endif %}
                                {% if 24|instancePermissions %}<a class="dropdown-item" id="editProjectDescription" href="#">Edit Description</a>{% endif %}
                                {% if 46|instancePermissions %}<a class="dropdown-item editProjectInvoiceNotes" href="#">Edit Invoice Notes</a>{% endif %}
                                {% if 30|instancePermissions %}<a class="dropdown-item" id="editProjectAddress" href="#">Edit Venue</a>{% endif %}
                                {% if 23|instancePermissions %}<a class="dropdown-item" id="editProjectLead" href="#">Change Project Lead</a>{% endif %}
                                {% if 22|instancePermissions %}<a class="dropdown-item" id="editProjectClient" href="#">Change Client</a>{% endif %}
                                <div class="dropdown-divider"></div>
                                {% if 25|instancePermissions %}
                                    {% if project.projects_archived == 1 %}
                                        <a class="dropdown-item" id="archiveProject" href="#">Remove from Archive</a>
                                    {% else %}
                                        <a class="dropdown-item" id="archiveProject" href="#">Archive</a>
                                    {% endif %}
                                {% endif %}
                                {% if 26|instancePermissions %}<a class="dropdown-item" id="deleteProject" href="#">Delete</a>{% endif %}
                            </div>
                        </button>
                    </div>
                </div>
            </div>

            {% if 33|instancePermissions %}
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Project Finance</h3>
                        <div class="card-tools">
                            <a href="{{ CONFIG.ROOTURL }}/project/?id={{ project.projects_id }}&pdf&finance" type="button" class="btn btn-tool">
                                <i class="far fa-file-pdf"></i></a>
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fas fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td colspan="2"><b>Hires</b></td>
                                </tr>
                                {% if FINANCIALS.prices.discounts > 0 %}
                                <tr>
                                    <td style="width: 100%; text-align: right;">
                                        Hires SubTotal
                                    </td>
                                    <td>
                                        &pound;{{ FINANCIALS.prices.subTotal|number_format(2) }}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 100%; text-align: right;">
                                        Discounts
                                    </td>
                                    <td>
                                        &#8209;&pound;{{ FINANCIALS.prices.discounts|number_format(2) }}
                                    </td>
                                </tr>
                                {% endif %}
                                <tr>
                                    <td style="width: 100%; text-align: right;">
                                        Hires Total
                                    </td>
                                    <td>
                                        &pound;{{ FINANCIALS.prices.total|number_format(2) }}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2"><b>Sales</b></td>
                                </tr>
                                <tr>
                                    <td style="width: 100%; text-align: right;">
                                        Sales
                                    </td>
                                    <td>
                                        &pound;{{ FINANCIALS.payments.sales.total|number_format(2) }}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 100%; text-align: right;">
                                        Staffing
                                    </td>
                                    <td>
                                        &pound;{{ FINANCIALS.payments.staff.total|number_format(2) }}
                                    </td>
                                </tr>
                                {% if FINANCIALS.payments.subHire.total > 0 %}
                                <tr>
                                    <td style="width: 100%; text-align: right;">
                                        Sub Hires
                                    </td>
                                    <td>
                                        &pound;{{ FINANCIALS.payments.subHire.total|number_format(2) }}
                                    </td>
                                </tr>
                                {% endif %}

                                <tr>
                                    <td colspan="2"><b>Totals</b></td>
                                </tr>
                                {% if FINANCIALS.payments.received.total > 0 %}
                                <tr>
                                    <td style="width: 100%; text-align: right;">
                                        SubTotal
                                    </td>
                                    <td>
                                        &pound;{{ FINANCIALS.payments.subTotal|number_format(2) }}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 100%; text-align: right;">
                                        Payments Received to Date
                                    </td>
                                    <td>
                                        &#8209;&pound;{{ FINANCIALS.payments.received.total|number_format(2) }}
                                    </td>
                                </tr>
                                {% endif %}
                                <tr>
                                    <td style="width: 100%; text-align: right;">
                                        Grand Total Outstanding
                                    </td>
                                    <td>
                                        &pound;{{ FINANCIALS.payments.total|number_format(2) }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    {% if 34|instancePermissions %}
                    <div class="card-footer">
                        <div class="btn-group float-right">
                             <button type="button" class="btn btn-default newPayment" data-type="1">Add Payment Received</button>
                             <button type="button" class="btn btn-default dropdown-toggle dropdown-icon" data-toggle="dropdown">
                                <span class="sr-only">Toggle Dropdown</span>
                                <div class="dropdown-menu" role="menu">
                                    <a class="dropdown-item newPayment" data-type="2" href="#">Add Sales Item</a>
                                    <a class="dropdown-item newPayment" data-type="3" href="#">Add Sub Hire Cost</a>
                                    <a class="dropdown-item newPayment" data-type="4" href="#">Add Staff Cost</a>
                                </div>
                            </button>
                        </div>
                    </div>
                    {% endif %}
                </div>
            {% endif %}
            {%  if project.projects_invoiceNotes|length > 0 %}
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Invoice Notes</h3>
                        <div class="card-tools">
                            {% if 46|instancePermissions %}
                                <button type="button" class="btn btn-tool editProjectInvoiceNotes" title="Edit">
                                    <i class="fas fa-edit"></i></button>
                            {% endif %}
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fas fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        {{ project.projects_invoiceNotes }}
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-12 col-md-12 col-lg-8">
            <div class="card collapsed-card">
                <div class="card-header">
                    <h3 class="card-title">Timeline</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-plus"></i></button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- The time line -->
                            <div class="timeline">
                                {% set currentDate = '' %}
                                {% for event in project.auditLog %}
                                    {% if event.auditLog_timestamp|date("Y-m-d") != currentDate %}
                                        <div class="time-label">
                                            <span class="bg-red">{{ event.auditLog_timestamp|date("D jS M Y") }}</span>
                                        </div>
                                        {% set currentDate = event.auditLog_timestamp|date("Y-m-d") %}
                                    {% endif %}
                                    <div>
                                        {% if event.auditLog_actionType == "QUICKCOMMENT" %}
                                            <i class="far fa-comment bg-blue"></i>
                                        {% elseif event.auditLog_actionType == "ARCHIVE" %}
                                            <i class="fas fa-ban bg-red"></i>
                                        {% else %}
                                            <i class="fas fa-info bg-gray-light"></i>
                                        {% endif %}
                                        <div class="timeline-item">
                                            <span class="time"><i class="fas fa-clock"></i> {{ event.auditLog_timestamp|date("h:i:sa") }}</span>
                                            <h3 class="timeline-header"><a href="mailto:{{ event.users_email }}">{{ event.users_name1 ~ " " ~ event.users_name2}} </a>
                                                {% if event.auditLog_actionType == "QUICKCOMMENT" %}
                                                    added a quick comment
                                                {% elseif event.auditLog_actionType == "INSERT" %}
                                                    created the project
                                                {% elseif event.auditLog_actionType == "ARCHIVE" %}
                                                    archived the project
                                                {% else %}
                                                    edited the project
                                                {% endif %}
                                            </h3>
                                            {% if event.auditLog_actionType == "QUICKCOMMENT" %}
                                            <div class="timeline-body">{{event.auditLog_actionData|nl2br }}</div>
                                            {% elseif event.auditLog_actionType == "INSERT" %}
                                                {# Blank #}
                                            {% elseif event.auditLog_actionType == "ARCHIVE" %}
                                                {# Blank #}
                                            {% else %}
                                                <div class="timeline-body" style="font-style: italic;">{{event.auditLog_actionData|nl2br }}</div>
                                            {% endif %}
                                            {% if event.auditLog_actionType == "QUICKCOMMENT" %}
                                                {# Blank #}
                                            {% elseif event.auditLog_actionType == "INSERT" %}
                                                {# Blank #}
                                            {% else %}
                                                {#<div class="timeline-footer">
                                                    <a class="btn btn-primary btn-sm">Read more</a>
                                                    <a class="btn btn-danger btn-sm">Delete</a>
                                                </div>#}
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                                <div>
                                    <i class="fas fa-clock bg-gray"></i>
                                </div>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                </div>
            </div>
            {% if FINANCIALS.assetsAssigned %}
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ FINANCIALS.assetsAssigned|length }} Asset{{ FINANCIALS.assetsAssigned|length != 1 ? 's' }} - {{FINANCIALS.mass|round(2, 'ceil') }}kg</h3>
                    <div class="card-tools">
                        {% if 41|instancePermissions %}
                            <button type="button" class="btn btn-tool" title="Set comment for assignment" id="setAssetAssignmentComment">
                                <i class="far fa-comment"></i></button>
                        {% endif %}
                        {% if 43|instancePermissions %}
                            <button type="button" class="btn btn-tool" title="Set discount" id="setAssetAssignmentDiscount">
                                <i class="fas fa-percent"></i></button>
                        {% endif %}
                        {% if 42|instancePermissions %}
                            <button type="button" class="btn btn-tool" title="Set custom price" id="setAssetAssignmentPrice">
                                <i class="fas fa-coins"></i></button>
                        {% endif %}
                        {% if 31|instancePermissions %}
                            <button type="button" class="btn btn-tool" title="Remove assets" id="setAssetAssignmentDelete">
                                <i class="fas fa-trash"></i></button>
                        {% endif %}
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i></button>
                    </div>
                </div>
                <div class="card-body p-0">
                    {% if STATUSES[project.projects_status]["assetsAvailable"] %}
                    <div class="alert alert-danger">
                        <h5>Assets not locked</h5>
                        Assets assigned to this project are not exclusive (because of its status) and can be assigned to other projects that clash with this one. Update project status before confirming with client
                    </div>
                    {% endif %}
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th style="width:5px"><input type="checkbox" id="assetAssignmentCheckboxAll" /></th>
                            <th style="width: 90px">#</th>
                            <th>Comment</th>
                            <th>Spec</th>
                            <th style="width: 60px;">Mass</th>
                            <th>Price</th>
                            <th>Discount</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set currentCategory = '' %}
                        {% set currentType = '' %}
                        {% for assetAssignment in FINANCIALS.assetsAssigned %}
                            {% if assetAssignment.assetCategories_name != currentCategory %}
                                {% set currentCategory = assetAssignment.assetCategories_name %}
                                <tr style="background-color: #F5F5F5;">
                                    <td colspan="999">
                                        <i class="{{ assetAssignment.assetCategories_fontAwesome }}" style="margin-right:10px;"></i>{{ assetAssignment.assetCategories_name }}
                                    </td>
                                </tr>
                            {% endif %}
                            {% if assetAssignment.assetTypes_id != currentType %}
                                {% set currentType = assetAssignment.assetTypes_id %}
                                <tr>
                                    <td>{{ FINANCIALS.assetTypesCounter[assetAssignment.assetTypes_id] }}x</td>
                                    <td style="font-weight: bold;" {% if assetAssignment.assetTypes_definableFields == ",,,,,,,,," %}colspan="999"{% else %}colspan="2"{% endif %}>
                                        {{ assetAssignment.manufacturers_name }} - {{ assetAssignment.assetTypes_name }}
                                    </td>
                                    {% if assetAssignment.assetTypes_definableFields != ",,,,,,,,," %}
                                    <td style="padding:0px;">
                                        <table class="table table-bordered" style="margin:0;border-top: none !important;border-bottom: none !important;"><tr>
                                        {% for field in assetAssignment.assetTypes_definableFields|split(",") %}
                                            {% if field != "" %}
                                                <td style="padding-right: 0.75rem; padding-left: 0.75rem;border-top: none !important;border-bottom: none !important;">{{field}}</td>
                                            {% endif %}
                                        {% endfor %}
                                        </tr></table>
                                    </td>
                                    <td colspan="999"></td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        <tr>
                            <td>
                                <input type="checkbox" class="assetAssignmentCheckbox" data-assetassignmentid="{{ assetAssignment.assetsAssignments_id }}" />
                            </td>
                            <td><a href="{{ CONFIG.ROOTURL }}/asset.php?id={{assetAssignment.assetTypes_id}}&asset={{assetAssignment.assets_id}}">{{ assetAssignment.assets_tag|aTag }}</a></td>
                            <td {% if assetAssignment.assetTypes_definableFields == ",,,,,,,,," %}colspan="2"{% endif %}>{{ assetAssignment.assetsAssignments_comment }}</td>
                            {% if assetAssignment.assetTypes_definableFields != ",,,,,,,,,"  %}
                            <td style="padding:0px;">
                                <table class="table table-bordered" style="margin:0;border-top: none !important;border-bottom: none !important;"><tr>
                                        {% for field in assetAssignment.assetTypes_definableFields|split(",") %}
                                            {% if field != "" %}
                                               <td style="padding-right: 0.75rem; padding-left: 0.75rem;border-top: none !important;border-bottom: none !important;">{{ assetAssignment['asset_definableFields_' ~ loop.index] }}</td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr></table>
                            </td>
                            {% endif %}
                            <td>{{assetAssignment.assetTypes_mass != "" and assetAssignment.assetTypes_mass != 0 ? assetAssignment.assetTypes_mass ~ "kg" : "?" }}</td>
                            <td>&pound;{{ assetAssignment.price|number_format(2) }}</td>
                            <td>{{ assetAssignment.assetsAssignments_discount }}%</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer p-0" style="background-color: #FFFFFF;">
                    <table class="table table-striped">
                        <tr>
                            <td style="width:100%;"></td>
                            <td>
                                <b>SubTotal</b>
                            </td>
                            <td>
                                &pound;{{ FINANCIALS.prices.subTotal|number_format(2) }}
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <b>Discounts</b>
                            </td>
                            <td>
                                &#8209;&pound;{{ FINANCIALS.prices.discounts|number_format(2) }}
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <b>Total</b>
                            </td>
                            <td>
                                &pound;{{ FINANCIALS.prices.total|number_format(2) }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="99">
                                {{ FINANCIALS.priceMaths.string|nl2br }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            {% endif %}
            {% if FINANCIALS.payments.received.ledger and 33|instancePermissions %}
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Payments Received</h3>
                        <div class="card-tools">
                            {% if 34|instancePermissions %}
                            <button type="button" class="btn btn-tool newPayment" data-type="1" title="Add new Payment">
                                <i class="fas fa-plus"></i></button>
                            {% endif %}
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fas fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Reference</th>
                                <th>Date</th>
                                <th>Method</th>
                                <th>Comment</th>
                                <th>Amount</th>
                                {% if 35|instancePermissions %}<th></th>{% endif %}
                            </tr>
                            </thead>
                            <tbody>
                                {% for payment in FINANCIALS.payments.received.ledger %}
                                    <tr>
                                        <td>{{ payment.payments_reference }}</td>
                                        <td>{{ payment.payments_date|date("d/M/Y G:i:s") }}</td>
                                        <td>{{ payment.payments_method }}</td>
                                        <td>{{ payment.payments_comment|nl2br }}</td>
                                        <td>&pound;{{ payment.payments_amount|number_format(2) }}</td>
                                        {% if 35|instancePermissions %}<td><button title="Delete" class="btn btn-sm btn-danger deletePaymentButton" data-paymentid="{{ payment.payments_id }}"><i class="fa fa-trash"></i></button></td>{% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer" style="text-align: right;">
                        <b>Total:&nbsp;</b>&pound;{{ FINANCIALS.payments.received.total|number_format(2) }}
                    </div>
                </div>
            {% endif %}
            {% if FINANCIALS.payments.sales.ledger and 33|instancePermissions %}
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Sales Items</h3>
                        <div class="card-tools">
                            {% if 34|instancePermissions %}
                                <button type="button" class="btn btn-tool newPayment" data-type="2" title="Add new Payment">
                                    <i class="fas fa-plus"></i></button>
                            {% endif %}
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fas fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Quantity</th>
                                <th style="width: 100%;">Comment</th>
                                <th>Amount</th>
                                <th>Total</th>
                                {% if 35|instancePermissions %}<th></th>{% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for payment in FINANCIALS.payments.sales.ledger %}
                                <tr>
                                    <td style="width: 10px;">{{ payment.payments_quantity }}x</td>
                                    <td>{{ payment.payments_comment|nl2br }}</td>
                                    <td style="width:100px;">&pound;{{ payment.payments_amount|number_format(2) }}</td>
                                    <td style="width:100px;text-align: right;">&pound;{{ (payment.payments_quantity*payment.payments_amount)|number_format(2) }}</td>
                                    {% if 35|instancePermissions %}<td><button title="Delete" class="btn btn-sm btn-danger deletePaymentButton" data-paymentid="{{ payment.payments_id }}"><i class="fa fa-trash"></i></button></td>{% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer" style="text-align: right;">
                        <b>Total:&nbsp;</b>&pound;{{ FINANCIALS.payments.sales.total|number_format(2) }}
                    </div>
                </div>
            {% endif %}
            {% if FINANCIALS.payments.subHire.ledger and 33|instancePermissions %}
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Sub Hire Items</h3>
                        <div class="card-tools">
                            {% if 34|instancePermissions %}
                                <button type="button" class="btn btn-tool newPayment" data-type="3" title="Add new Payment">
                                    <i class="fas fa-plus"></i></button>
                            {% endif %}
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fas fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Quantity</th>
                                <th style="width: 100%;">Comment</th>
                                <th>Amount</th>
                                <th>Total</th>
                                {% if 35|instancePermissions %}<th></th>{% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for payment in FINANCIALS.payments.subHire.ledger %}
                                <tr>
                                    <td style="width: 10px;">{{ payment.payments_quantity }}x</td>
                                    <td>{{ payment.payments_comment|nl2br }}</td>
                                    <td style="width:100px;">&pound;{{ payment.payments_amount|number_format(2) }}</td>
                                    <td style="width:100px;text-align: right;">&pound;{{ (payment.payments_quantity*payment.payments_amount)|number_format(2) }}</td>
                                    {% if 35|instancePermissions %}<td><button title="Delete" class="btn btn-sm btn-danger deletePaymentButton" data-paymentid="{{ payment.payments_id }}"><i class="fa fa-trash"></i></button></td>{% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer" style="text-align: right;">
                        <b>Total:&nbsp;</b>&pound;{{ FINANCIALS.payments.subHire.total|number_format(2) }}
                    </div>
                </div>
            {% endif %}
            {% if FINANCIALS.payments.staff.ledger and 33|instancePermissions %}
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Staff Costs</h3>
                        <div class="card-tools">
                            {% if 34|instancePermissions %}
                                <button type="button" class="btn btn-tool newPayment" data-type="4" title="Add new Payment">
                                    <i class="fas fa-plus"></i></button>
                            {% endif %}
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fas fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Quantity</th>
                                <th style="width: 100%;">Comment</th>
                                <th>Amount</th>
                                <th>Total</th>
                                {% if 35|instancePermissions %}<th></th>{% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for payment in FINANCIALS.payments.staff.ledger %}
                                <tr>
                                    <td style="width: 10px;">{{ payment.payments_quantity }}x</td>
                                    <td>{{ payment.payments_comment|nl2br }}</td>
                                    <td style="width:100px;">&pound;{{ payment.payments_amount|number_format(2) }}</td>
                                    <td style="width:100px;text-align: right;">&pound;{{ (payment.payments_quantity*payment.payments_amount)|number_format(2) }}</td>
                                    {% if 35|instancePermissions %}<td><button title="Delete" class="btn btn-sm btn-danger deletePaymentButton" data-paymentid="{{ payment.payments_id }}"><i class="fa fa-trash"></i></button></td>{% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer" style="text-align: right;">
                        <b>Total:&nbsp;</b>&pound;{{ FINANCIALS.payments.staff.total|number_format(2) }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {% if 34|instancePermissions %}
    <div class="modal fade" id="newPaymentModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="newPaymentModal-title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="newPaymentModal-form">
                    <input type="hidden" id="newPaymentModal-form-type" name="payments_type" value="1"/>
                    <input type="hidden" name="projects_id" value="{{ project.projects_id }}"/>
                    <div class="input-group newPaymentModal-paymentOnly" style="margin-bottom: 5px;">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Date</span>
                        </div>
                        <input type="text" class="form-control" name="payments_date" id="newPaymentModal-form-date">
                    </div>
                    <div class="input-group newPaymentModal-paymentOnly" style="margin-bottom: 5px;">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Reference</span>
                        </div>
                        <input type="text" class="form-control" name="payments_reference">
                    </div>
                    <div class="input-group newPaymentModal-paymentOnly" style="margin-bottom: 5px;">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Payment Method</span>
                        </div>
                        <select class="form-control" name="payments_method">
                            <option selected></option>
                            <option>Credit Card</option>
                            <option>Debit Card</option>
                            <option>Bank Transfer</option>
                            <option>Cash</option>
                            <option>Cheque</option>
                            <option>Other</option>
                        </select>
                    </div>
                    <div class="input-group mb-3 newPaymentModal-nonPaymentOnly">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Quantity</span>
                        </div>
                        <input class="form-control" type="number" step="1" min="0" value="1" name="payments_quantity">
                    </div>
                    <div class="input-group" style="margin-bottom: 5px;">
                        <div class="input-group-prepend"><span class="input-group-text">Description</span></div>
                        <textarea class="form-control" rows="3" name="payments_comment"  placeholder=""></textarea>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Amount &pound;</span>
                        </div>
                        <input class="form-control" type="number" step="0.01" min="0" value="0" name="payments_amount">
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="newPaymentModal-button">Save changes</button>
            </div>
        </div>
    </div>
    </div>
    {% endif %}
    {% if 44|instancePermissions %}
        {% for note in project.notes %}
            <div class="modal fade" id="noteModal{{ note.projectsNotes_id }}">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Edit {{ note.projectsNotes_title }}</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="summernote" data-noteid="{{ note.projectsNotes_id }}">{{ note.projectsNotes_text|raw }}</div>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-default btn-sm noteModal-save" data-noteid="{{ note.projectsNotes_id }}" data-callback="pdf"><i class="far fa-file-pdf"></i></button>
                            <button type="button" class="btn btn-default btn-sm noteModal-save" data-noteid="{{ note.projectsNotes_id }}" data-callback="none"><i class="far fa-save"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <script>
        $(document).ready(function () {
            $("#assetAssignmentCheckboxAll").click(function () {
                $(".assetAssignmentCheckbox").prop('checked', $(this).prop('checked'));
            });
            $("#quickAddCommentButton").click(function () {
                bootbox.prompt({
                    title: "Enter comment",
                    inputType: 'textarea',
                    callback: function (result) {
                        if (result) {
                            ajaxcall("projects/newQuickComment.php", {
                                "text": result,
                                "projects_id": "{{ project.projects_id }}"
                            }, function (data) {
                                location.reload();
                            });
                        }
                    }
                });
            });

            {% if 41|instancePermissions %}
            $("#setAssetAssignmentComment").click(function () {
                var selected = [];
                $('.assetAssignmentCheckbox:checkbox:checked').each(function() {
                    selected.push($(this).data('assetassignmentid'));
                });
                bootbox.prompt({
                    title: "Set Comment",
                    message: "This will override any existing comments set in this project for the assets selected",
                    inputType: 'text',
                    callback: function (result) {
                        if (result) {
                            ajaxcall("projects/assets/setComment.php", {
                                "assetsAssignments": selected,
                                "assetsAssignments_comment": result
                            }, function (data) {
                                location.reload();
                            });
                        }
                    }
                });
            });
            {% endif %}
            {% if 42|instancePermissions %}
            $("#setAssetAssignmentPrice").click(function () {
                var selected = [];
                $('.assetAssignmentCheckbox:checkbox:checked').each(function() {
                    selected.push($(this).data('assetassignmentid'));
                });
                bootbox.prompt({
                    title: "Set Custom Price",
                    message: "This will override the automatic calculation of the hire cost normally based on the length of the project and instead fix it to value set here<br/>Setting a custom price of 0 will remove any custom prices set<br/><br/>This will override any existing custom prices set in this project for the assets selected",
                    inputType: 'number',
                    min: 0,
                    max: 100,
                    step: 1,
                    callback: function (result) {
                        if (result) {
                            ajaxcall("projects/assets/setPrice.php", {
                                "assetsAssignments": selected,
                                "assetsAssignments_customPrice": result
                            }, function (data) {
                                location.reload();
                            });
                        }
                    }
                });
            });
            {% endif %}
            {% if 43|instancePermissions %}
            $("#setAssetAssignmentDiscount").click(function () {
                var selected = [];
                $('.assetAssignmentCheckbox:checkbox:checked').each(function() {
                    selected.push($(this).data('assetassignmentid'));
                });
                bootbox.prompt({
                    title: "Set Discount",
                    message: "Example: a discount of 20% would multiply the hire cost by 0.8<br/><br/>This will override any existing discounts set in this project for the assets selected",
                    inputType: 'number',
                    min: 0,
                    max: 100,
                    step: 1,
                    callback: function (result) {
                        if (result) {
                            ajaxcall("projects/assets/setDiscount.php", {
                                "assetsAssignments": selected,
                                "assetsAssignments_discount": result
                            }, function (data) {
                                location.reload();
                            });
                        }
                    }
                });
            });
            {% endif %}
            {% if 22|instancePermissions %}
            $("#editProjectClient").click(function () {
                bootbox.prompt({
                    title: "Set project client",
                    inputType: 'select',
                    inputOptions: [
                        {
                            text: 'Choose one...',
                            value: '',
                        },
                        {% for client in clients %}
                        {
                            text: '{{client.clients_name}}',
                            value: '{{ client.clients_id }}',
                        },
                        {% endfor %}
                    ],
                    callback: function (result) {
                        if (result) {
                            ajaxcall("projects/changeClient.php", {
                                "clients_id": result,
                                "projects_id": "{{ project.projects_id }}"
                            }, function (data) {
                                location.reload();
                            });
                        }
                    }
                });
            });
            {% endif %}
            {% if 23|instancePermissions %}
            $("#editProjectLead").click(function () {
                bootbox.prompt({
                    title: "Set project lead",
                    inputType: 'select',
                    inputOptions: [
                        {
                            text: 'Choose one...',
                            value: '',
                        },
                        {% for user in potentialManagers %}
                        {
                            text: '{{user.users_name1 ~ " " ~ user.users_name2}}',
                            value: '{{ user.users_userid }}',
                        },
                        {% endfor %}
                    ],
                    callback: function (result) {
                        if (result) {
                            ajaxcall("projects/changeProjectManager.php", {
                                "users_userid": result,
                                "projects_id": "{{ project.projects_id }}"
                            }, function (data) {
                                location.reload();
                            });
                        }
                    }
                });
            });
            {% endif %}
            {% if 31|instancePermissions %}
            $("#setAssetAssignmentDelete").click(function () {
                var selected = [];
                $('.assetAssignmentCheckbox:checkbox:checked').each(function() {
                    selected.push($(this).data('assetassignmentid'));
                });
                bootbox.confirm({
                    message: "Are you sure you wish to remove these assets from the project? This will have billing implications",
                    buttons: {
                        cancel: {
                            label: 'No',
                            className: 'btn-success'
                        },
                        confirm: {
                            label: 'Yes',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            ajaxcall("projects/assets/unassignBulk.php", {
                                "assetsAssignments": selected
                            }, function (data) {
                                location.reload();
                            });
                        }
                    }
                });
            });
            {% endif %}
            {% if 24|instancePermissions %}
            $("#editProjectDescription").click(function () {
                bootbox.prompt({
                    title: "Edit Project Description",
                    inputType: 'textarea',
                    value: `{{ project.projects_description|raw }}`,
                    callback: function (result) {
                        if (result) {
                            ajaxcall("projects/changeDescription.php", {
                                "projects_description": result,
                                "projects_id": "{{ project.projects_id }}"
                            }, function (data) {
                                location.reload();
                            });
                        }
                    }
                });
            });
            {% endif %}
            {% if 46|instancePermissions %}
            $(".editProjectInvoiceNotes").click(function () {
                bootbox.prompt({
                    title: "Edit Project Invoice Notes",
                    inputType: 'textarea',
                    value: `{{ project.projects_invoiceNotes|raw }}`,
                    callback: function (result) {
                        if (result) {
                            ajaxcall("projects/changeInvoiceNotes.php", {
                                "projects_invoiceNotes": result,
                                "projects_id": "{{ project.projects_id }}"
                            }, function (data) {
                                location.reload();
                            });
                        }
                    }
                });
            });
            {% endif %}
            {% if 25|instancePermissions %}
            $("#archiveProject").click(function () {
                {% if project.projects_archived != 1 %}
                bootbox.confirm({
                    message: "Are you sure you wish to archive the project?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-danger'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-success'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            ajaxcall("projects/archive.php", {"projects_id": "{{ project.projects_id }}"}, function (data) {
                                location.reload();
                            });
                        }
                    }
                });
                {% else %}
                bootbox.confirm({
                    message: "Are you sure you wish to remove this project from the archive?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-danger'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-success'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            ajaxcall("projects/unArchive.php", {"projects_id": "{{ project.projects_id }}"}, function (data) {
                                location.reload();
                            });
                        }
                    }
                });
                {% endif %}
            });
            {% endif %}
            {% if 26|instancePermissions %}
            $("#deleteProject").click(function () {
                bootbox.confirm({
                    message: "Are you sure you wish to delete the project?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-danger'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-success'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            ajaxcall("projects/delete.php", {"projects_id": "{{ project.projects_id }}"}, function (data) {
                                window.location.href = "{{CONFIG.ROOTURL}}/";
                            });
                        }
                    }
                });
            });
            {% endif %}
            {% if 27|instancePermissions %}
            $('#datePickerInput').daterangepicker({
                timePicker: true,
                timePickerIncrement: 15,
                locale: {
                    format: 'DD MMM YYYY hh:mm A'
                },
                startDate: "{{ project.projects_dates_use_start|date("j M Y h:i:sa") }}",
                endDate: "{{ project.projects_dates_use_end|date("j M Y h:i:sa") }}"
            });
            $('#datePickerInput').on('apply.daterangepicker', function(ev, picker) {
                ajaxcall("projects/changeProjectDates.php", {"projects_id": "{{ project.projects_id }}","projects_dates_use_start":picker.startDate.format('DD MMM YYYY hh:mm A'),"projects_dates_use_end":picker.endDate.format('DD MMM YYYY hh:mm A')}, function (data) {
                    location.reload();
                });
            });
            $('#datePickerInputDeliver').daterangepicker({
                timePicker: true,
                timePickerIncrement: 15,
                locale: {
                    format: 'DD MMM YYYY hh:mm A'
                },
                startDate: "{{ project.projects_dates_deliver_start|date("j M Y h:i:sa") }}",
                endDate: "{{ project.projects_dates_deliver_end|date("j M Y h:i:sa") }}"
            });
            function changeProjectDeliverDates(start, end) {
                ajaxcall("projects/changeProjectDeliverDates.php", {"projects_id": "{{ project.projects_id }}","projects_dates_deliver_start":start,"projects_dates_deliver_end":end}, function (data) {
                    if (data.response.changed) {
                        location.reload();
                    } else {
                        var message = "The dates of this project can't be changed because assets assigned to it have been assigned to other projects that clash. <br/><br/> Would you like to automatically remove the following assets from this project? This will have billing implications<br/><br/><br/><table class='table table-bordered'><tr><th>Tag</th><th>Name</th><th>Project Clashing</th></tr>";
                        $.each(data.response.assets, function( index, value ) {
                            message += "<tr><td>A-" + value['assets_tag'] + "</td><td>" + value['assetTypes_name'] + "</td><td>" + value['projects_name'] + "</td></tr>";
                        });
                        bootbox.confirm({
                            message: message + "</table>",
                            buttons: {
                                cancel: {
                                    label: 'No',
                                    className: 'btn-success'
                                },
                                confirm: {
                                    label: 'Yes',
                                    className: 'btn-danger'
                                }
                            },
                            callback: function (result) {
                                if (result) {
                                    {% if 31|instancePermissions %}
                                    var toRemove = [];
                                    console.log(data.response.assets);
                                    $.each(data.response.assets, function( index, value ) {
                                        toRemove.push(value['old_assetsAssignments_id']);
                                    });
                                    ajaxcall("projects/assets/unassignBulk.php", {
                                        "assetsAssignments": toRemove
                                    }, function (data) {
                                        changeProjectDeliverDates(start, end);
                                    });
                                    {% else %}
                                    bootbox.alert("Sorry - you don't have permission to remove these assets");
                                    {% endif %}
                                }
                            }
                        });
                    }
                });
            }
            $('#datePickerInputDeliver').on('apply.daterangepicker', function(ev, picker) {
                changeProjectDeliverDates(picker.startDate.format('DD MMM YYYY hh:mm A'),picker.endDate.format('DD MMM YYYY hh:mm A'));
            });
            $("#copyProjectDatesToDeliverDates").click(function () {
                changeProjectDeliverDates($("#datePickerInput").data('daterangepicker').startDate.format('DD MMM YYYY hh:mm A'),$("#datePickerInput").data('daterangepicker').endDate.format('DD MMM YYYY hh:mm A'));
            });

            {% endif %}
            {% if 28|instancePermissions %}
            $("#editProjectName").click(function () {
                bootbox.prompt({
                    title: "Change Project Name",
                    inputType: 'text',
                    value: `{{ project.projects_name|raw }}`,
                    callback: function (result) {
                        if (result) {
                            ajaxcall("projects/changeName.php", {
                                "projects_name": result,
                                "projects_id": "{{ project.projects_id }}"
                            }, function (data) {
                                location.reload();
                            });
                        }
                    }
                });
            });
            {% endif %}
            {% if 29|instancePermissions %}
            function changeStatus(newStatus) {
                ajaxcall("projects/changeStatus.php", {
                    "projects_status": newStatus,
                    "projects_id": "{{ project.projects_id }}"
                }, function (data) {
                    if (data.response.changed) {
                        location.reload();
                    } else {
                        var message = "The status of this project can't be changed because assets assigned to it have been assigned to other projects that clash. <br/><br/> Would you like to automatically remove the following assets from this project? This will have billing implications<br/><br/><br/><table class='table table-bordered'><tr><th>Tag</th><th>Name</th><th>Project Clashing</th></tr>";
                        $.each(data.response.assets, function( index, value ) {
                            message += "<tr><td>A-" + value['assets_tag'] + "</td><td>" + value['assetTypes_name'] + "</td><td>" + value['projects_name'] + "</td></tr>";
                        });
                        bootbox.confirm({
                            message: message + "</table>",
                            buttons: {
                                cancel: {
                                    label: 'No',
                                    className: 'btn-success'
                                },
                                confirm: {
                                    label: 'Yes',
                                    className: 'btn-danger'
                                }
                            },
                            callback: function (result) {
                                if (result) {
                                    {% if 31|instancePermissions %}
                                    var toRemove = [];
                                    console.log(data.response.assets);
                                    $.each(data.response.assets, function( index, value ) {
                                        toRemove.push(value['old_assetsAssignments_id']);
                                    });
                                    ajaxcall("projects/assets/unassignBulk.php", {
                                        "assetsAssignments": toRemove
                                        }, function (data) {
                                            changeStatus(newStatus);
                                        });
                                    {% else %}
                                    bootbox.alert("Sorry - you don't have permission to remove these assets");
                                    {% endif %}
                                }
                            }
                        });
                    }
                });
            }
            $("#editProjectStatus").click(function () {
                bootbox.prompt({
                    title: "Set project status",
                    inputType: 'select',
                    value: {{ project.projects_status }},
                    inputOptions: [
                        {% for id,status in STATUSES %}
                        {
                            text: '{{status.name ~ " (" ~ status.description ~ ')'}}',
                            value: '{{ id }}',
                        },
                        {% endfor %}
                    ],
                    callback: function (result) {
                        if (result) {
                            var newStatus = result;
                            if ([{{ STATUSESAVAILABLE|join(",") }}].includes(parseInt(newStatus))) {
                                bootbox.confirm({
                                    message: "This will allow assets assigned to this project to be assigned to other clashing projects - are you sure you wish to continue?",
                                    buttons: {
                                        confirm: {
                                            label: 'Yes',
                                            className: 'btn-danger'
                                        },
                                        cancel: {
                                            label: 'No',
                                            className: 'btn-success'
                                        }
                                    },
                                    callback: function (result) {
                                        if (result) {
                                            changeStatus(newStatus);
                                        }
                                    }
                                });
                            } else {
                                changeStatus(newStatus);
                            }
                        }
                    }
                });
            });
            {% endif %}
            {% if 30|instancePermissions %}
            $("#editProjectAddress").click(function () {
                bootbox.prompt({
                    title: "Edit Project Venue",
                    inputType: 'textarea',
                    value: `{{ project.projects_address|raw }}`,
                    callback: function (result) {
                        if (result) {
                            ajaxcall("projects/changeAddress.php", {
                                "projects_address": result,
                                "projects_id": "{{ project.projects_id }}"
                            }, function (data) {
                                location.reload();
                            });
                        }
                    }
                });
            });
            {% endif %}
            {% if 32|instancePermissions %}
            $("#addAllAssetsToProject").click(function () {
                bootbox.confirm({
                    message: "Are you sure you wish to add all assets in the business that are available to the project?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'Cancel',
                            className: 'btn-default'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            ajaxcall("projects/assets/assign.php", {"projects_id": "{{ project.projects_id }}"}, function (data) {
                                location.reload();
                            });
                        }
                    }
                });
            });
            {% endif %}
            {% if 34|instancePermissions %}
            $('#newPaymentModal-form-date').daterangepicker({
                timePicker: true,
                timePickerIncrement: 1,
                singleDatePicker: true,
                locale: {
                    format: 'DD MMM YYYY hh:mm A'
                },
                startDate: "{{ "now"|date("j M Y h:i:sa") }}",
                maxDate:"{{ "now"|date("j M Y h:i:sa") }}",
            });
            $(".newPayment").click(function () {
                var type = $(this).data("type");
                $("#newPaymentModal-form-type").val(type);
                $("#newPaymentModal").modal('show');
                $(".newPaymentModal-paymentOnly").hide();
                $(".newPaymentModal-nonPaymentOnly").show();
                switch(type) {
                    case 1:
                        $("#newPaymentModal-title").html("Add payment received");
                        $(".newPaymentModal-paymentOnly").show();
                        $(".newPaymentModal-nonPaymentOnly").hide();
                        break;
                    case 2:
                        $("#newPaymentModal-title").html("Add Sales Item");
                        break;
                    case 3:
                        $("#newPaymentModal-title").html("Add Sub-Hire Cost");
                        break;
                    case 4:
                        $("#newPaymentModal-title").html("Add Staff cost");
                        break;
                }
            });
            $("#newPaymentModal-button").click(function () {
                var formData = $("#newPaymentModal-form").serializeArray();
                ajaxcall("projects/newPayment.php", {formData}, function (data) {
                    location.reload();
                });
            });
            {% endif %}
            {% if 35|instancePermissions %}
            $(".deletePaymentButton").click(function () {
                var id = $(this).data("paymentid");
                bootbox.confirm({
                    message: "Are you sure you wish to delete this payment?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'Cancel',
                            className: 'btn-default'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            ajaxcall("projects/deletePayment.php", {"payments_id": id}, function (data) {
                                location.reload();
                            });
                        }
                    }
                });
            });
            {% endif %}
            {% if 44|instancePermissions %}
            $('.summernote').summernote({
                minHeight: 500,             // set minimum height of editor
                maxHeight: null,             // set maximum height of editor
                focus: true,
                disableDragAndDrop: true, //We're using fineuploader for that
                placeholder: 'Your epic note goes here',
                toolbar: [
                    ['oops', ['undo', 'redo']],
                    ['font', ['style', 'bold', 'italic', 'underline', 'strikethrough', 'superscript', 'subscript', 'clear']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']],
                    ['insert', ['hr']]
                ],
                popover: {
                    image: [
                        ['imagesize', ['imageSize100', 'imageSize50', 'imageSize25']],
                        ['float', ['floatLeft', 'floatRight', 'floatNone']],
                        ['remove', ['removeMedia']]
                    ],
                    link: [
                        ['link', ['unlink']]
                    ],
                }
            });
            $(".noteModal-save").click(function () {
                var callback = $(this).data("callback");
                var noteid = $(this).data("noteid")
                ajaxcall("projects/editNote.php", {"projects_id": "{{ project.projects_id }}", "projectsNotes_id": noteid, "projectsNotes_text":$('.summernote[data-noteid=' + noteid + ']').summernote('code')}, function (data) {
                    if (callback == "pdf") {
                        window.location.href = "{{ CONFIG.ROOTURL }}/project/notePDF.php?id=" + noteid;
                    } else {
                        location.reload();
                    }
                });
            });
            {% endif %}
            {% if 45|instancePermissions %}
            $("#newProjectNote").click(function () {
                bootbox.prompt({
                    title: "Note Title",
                    inputType: 'text',
                    callback: function (result) {
                        if (result) {
                            ajaxcall("projects/newNote.php", {
                                "projectsNotes_title": result,
                                "projects_id": "{{ project.projects_id }}"
                            }, function (data) {
                                location.reload();
                            });
                        }
                    }
                });
            });
            {% endif %}
        });
    </script>
{% endblock %}