<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.6/pdfmake.min.js" integrity="sha512-7BzHjLXs8xehClrkJEtJtAwXxcbLast87k+XekuItHxrMr/v6POWkoKS2/8CU6DHdIjY+A4NwvsBQ8PxoRH7xQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.6/vfs_fonts.min.js" integrity="sha512-P0bOMePRS378NwmPDVPU455C/TuxDS+8QwJozdc7PGgN8kLqR4ems0U/3DeJkmiE31749vYWHvBOtR+37qDCZQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        // TODO Font Helvetica

        var docDefinition = {
            images: {
                {% if USERDATA.instance.instances_logo and GET['instancelogo'] %}
                    logo: "{{ USERDATA.instance.instances_logo|s3URL("medium")|escape("js") }}",
                {% endif %}
            },
            content: [
                {% if USERDATA.instance.instances_logo and GET['instancelogo'] %}
                {
                    image: 'logo',
                    width: 200,
                    margin: [157, 0, 0, 20]
                },
                {% endif %}
                {
                    columns: [
                        {
                            stack: [
                                {% if project.projectsTypes_config_client == 1 %}
                                    {
                                        text: "{{ project.clients_name|escape("js") }}",
                                        style: { bold: true}
                                    },
                                    {% if GET['addresses'] %}
                                        "{{ project.clients_address|escape("js") }}",
                                        " ",
                                        "{{ project.clients_website|escape("js") }}",
                                        "{{ project.clients_email|escape("js") }}",
                                        "{{ project.clients_phone|escape("js") }}"
                                    {% endif %}
                                {% endif %}
                            ],
                            width: "50%"
                        },
                        {
                            stack: [
                                {
                                    text: "{{ USERDATA['instance']['instances_name']|escape("js") }}",
                                    style: { bold: true}
                                },
                                {% if GET['addresses'] %}
                                    "{{ USERDATA.instance.instances_address|escape("js") }}",
                                    " ",
                                    "{{ USERDATA.instance.instances_website|escape("js") }}",
                                    "{{ USERDATA.instance.instances_phone|escape("js") }}",
                                    "{{ USERDATA.instance.instances_email|escape("js") }}",
                                {% endif %}
                            ],
                            style: { alignment: "right" },
                            width: "50%"
                        }
                    ],
                },
                " ",
                {% if GET['pmdetails'] %}
                    { text: "{{ project.users_name1|escape("js") ~ " " ~ project.users_name2|escape("js")  }}", style: { bold: true, alignment: "right" } },
                    {text: "{{ project.users_email|escape("js") }}", style: { alignment: "right" } },
                {% endif %}
                {% if fileNumber %}
                    {text: "v{{ fileNumber|escape("js") }}", style: { alignment: "right" } },
                {% endif %}
                " ",
                { text: "{{ project.projects_name|escape("js") }}", style: { bold: true, fontSize: 25 } },
                {% if GET['quote'] %}
                    { text: "Quotation", style: { fontSize: 16 } },
                {% endif %}
                {
                    table: {
                        widths: [ "50%", "50%"],
                        body: [[
                            {
                                table: {
                                    body: [
                                        ['Our Reference:',"{{project.projects_id|escape("js")}}"],
                                        {% if project.projects_dates_deliver_start %}
                                            ['Deliver:',"{{ project.projects_dates_deliver_start|date("j M Y h:ia")|escape("js")}}"],
                                        {% endif %}
                                        {% if project.projects_dates_use_start %}
                                            ['Start:',"{{ project.projects_dates_use_start|date("j M Y h:ia")|escape("js")}}"],
                                        {% endif %}
                                        {% if project.projects_dates_use_end %}
                                            ['Finish:',"{{ project.projects_dates_use_end|date("j M Y h:ia")|escape("js") }}"],
                                        {% endif %}
                                        {% if project.projects_dates_deliver_end %}
                                            ['Collect:',"{{ project.projects_dates_deliver_end|date("j M Y h:ia")|escape("js") }}"],
                                        {% endif %}
                                        {% if GET['totalmass'] and project.projectsTypes_config_assets == 1 %}
                                            ['Mass Estimate:',"{{FINANCIALS.mass|mass|escape("js") }}"],
                                        {% endif %}
                                        {% if GET['totalvalue'] and project.projectsTypes_config_assets == 1 %}
                                            ['Value Estimate:',"{{FINANCIALS.value|money|escape("js") }}"],
                                        {% endif %}
                                    ],
                                },
                                layout: 'noBorders',
                                margin: 10
                            },
                            {% if GET['venue'] and project.projectsTypes_config_venue == 1 %}
                            {
                                stack: [
                                    { text: 'Venue', style: {bold: true}},
                                    "{{ project.locations_name|escape("js") }}",
                                    "{{ project.locations_address|escape("js") }}"
                                ],
                                style: { alignment: "right" },
                                margin: 10
                            },
                            {% endif %}
                        ]],
                    },
                    fillColor: '#F5F5F5',
                    layout: 'noBorders',
                    margin: [ 0, 10, 0, 10 ]
                },
                {% if GET['finance'] and 33|instancePermissions and project.projectsTypes_config_finance == 1 %}
                {
                    table: {
                        widths: [ "35%", "15%", "35%", "15%"],
                        body: [
                            [
                                { text: "Equipment SubTotal" },
                                { text: "{{ FINANCIALS.prices.subTotal|money|escape("js") }}", style: { alignment: 'right' } },
                                { text: "Sales" },
                                { text: "{{ FINANCIALS.payments.sales.total|money|escape("js") }}", style: { alignment: 'right' } },
                            ],
                            [
                                { text: "{% if FINANCIALS.prices.discounts|moneyPositive %}Discounts{% else %}Adjustments{% endif %}" },
                                { text: "{% if FINANCIALS.prices.discounts|moneyPositive %}-{{ FINANCIALS.prices.discounts|money|escape("js") }}{% else %}None{% endif %}", style: { alignment: 'right' } },
                                { text: "Staffing" },
                                { text: "{{ FINANCIALS.payments.staff.total|money|escape("js") }}", style: { alignment: 'right' } },
                            ],
                            [
                                { text: "Equipment Total", style: { bold: true } },
                                { text: "{{ FINANCIALS.prices.total|money|escape("js") }}", style: { alignment: 'right' } },
                                { text: "Sub Hires" },
                                { text: "{{ FINANCIALS.payments.subHire.total|money|escape("js") }}", style: { alignment: 'right' } },
                            ],
                            {% if not GET['quote'] %}
                            [
                                { text: "SubTotal" },
                                { text: "{{ FINANCIALS.payments.subTotal|money|escape("js") }}", style: { alignment: 'right' } },
                                { text: "Payments Received to Date" },
                                { text: "-{{ FINANCIALS.payments.received.total|money|escape("js") }}", style: { alignment: 'right' } },
                            ],
                            {% endif %}
                            [
                                { text: "" },
                                { text: "", style: { alignment: 'right' } },
                                { text: "{% if GET['quote'] %}Grand Total{% else %}Grand Total Outstanding{% endif %}", style: { bold: true } },
                                { text: "{{ FINANCIALS.payments.total|money|escape("js") }}", style: { alignment: 'right' } },
                            ],
                        ],
                    },
                    layout: 'noBorders',
                },
                {% endif %}
                {% if project.projects_invoiceNotes|length > 0 and GET['invoiceNotes'] %}
                    { text: "Notes", style: { fontSize: 20, bold: true } },
                    "{{ project.projects_invoiceNotes|escape("js") }}",
                {% endif %}
                {% if GET['assets'] and project.projectsTypes_config_assets == 1 %}
                    { text: "Equipment", style: { fontSize: 20, bold: true }, pageBreak: 'before' },
                    
                    {% set columnCount = 2 %}
                    {% if GET['checkboxes'] %}{% set columnCount = columnCount + 1 %}{% endif %}
                    {% if GET['comments'] %}{% set columnCount = columnCount + 1 %}{% endif %}
                    {% if GET['masses'] %}{% set columnCount = columnCount + 1 %}{% endif %}
                    {% if project.projectsTypes_config_finance == 1 %}
                        {% if GET['prices'] %}{% set columnCount = columnCount + 1 %}{% endif %}
                        {% if GET['discounts'] %}{% set columnCount = columnCount + 1 %}{% endif %}
                    {% endif %}

                    {% if FINANCIALS.assetsAssigned|length > 0 %}
                        { 
                            table: {
                                headerRows: 1,
                                widths: [
                                    {% if GET['checkboxes'] %}'auto',{% endif %}
                                    '*',
                                    {% if GET['comments'] %}'auto',{% endif %}
                                    'auto',
                                    {% if GET['masses'] %}'auto',{% endif %}
                                    {% if project.projectsTypes_config_finance == 1 %}
                                        {% if GET['prices'] %}'auto',{% endif %}
                                        {% if GET['discounts'] %}'auto',{% endif %}
                                    {% endif %}
                                ],
                                body: [
                                    [
                                        {% if GET['checkboxes'] %}' ',{% endif %}
                                        'Item',
                                        {% if GET['comments'] %}' ',{% endif %}
                                        '{# Definable Fields #} ',
                                        {% if GET['masses'] %}'Mass',{% endif %}
                                        {% if project.projectsTypes_config_finance == 1 %}
                                            {% if GET['prices'] %}'Price £',{% endif %}
                                            {% if GET['discounts'] %}'Disc £',{% endif %}
                                        {% endif %}
                                    ],
                                {% set currentCategory = "" %}
                                {% for type in FINANCIALS.assetsAssigned %}
                                    {% if type['assets'][0].assetCategories_name != currentCategory %}
                                        {% set currentCategory = type['assets'][0].assetCategories_name %}
                                        {% set currentCategoryID = type['assets'][0].assetCategories_id %}
                                        [{ 
                                            text: "{{ type['assets'][0].assetCategories_name|escape("js") }}", 
                                            style: { bold: true },
                                            fillColor: '#F5F5F5',
                                            colSpan: {{ columnCount }},
                                            margin: 3
                                        },
                                        {% for i in range(2, columnCount) %}{},{% endfor %}
                                    ],
                                    {% endif %}
                                    {% embed 'project/twigIncludes/assetList/tableItemPDF.twig' with {"type": type,"all": FINANCIALS.assetsAssigned, "categoryid":currentCategoryID,"instanceid": USERDATA.instance.instances_id} %}{% endembed %}
                                {% endfor %}
                                ],
                            },
                            layout: 'lightHorizontalLines',
                            margin: [ 0, 10, 0, 10 ]
                        },
                    {% endif %}
                    {% if FINANCIALS.assetsAssignedSUB|length > 0 %}{% for instance in FINANCIALS.assetsAssignedSUB %}
                        { text: "{{ instance['instance']['instances_name']|escape("js") }} Equipment", style: { fontSize: 20, bold: true }, pageBreak: 'before' },
                        { 
                            table: {
                                headerRows: 1,
                                widths: [
                                    {% if GET['checkboxes'] %}'auto',{% endif %}
                                    '*',
                                    {% if GET['comments'] %}'auto',{% endif %}
                                    'auto',
                                    {% if GET['masses'] %}'auto',{% endif %}
                                    {% if project.projectsTypes_config_finance == 1 %}
                                        {% if GET['prices'] %}'auto',{% endif %}
                                        {% if GET['discounts'] %}'auto',{% endif %}
                                    {% endif %}
                                ],
                                body: [
                                    [
                                        {% if GET['checkboxes'] %}' ',{% endif %}
                                        'Item',
                                        {% if GET['comments'] %}' ',{% endif %}
                                        '{# Definable Fields #} ',
                                        {% if GET['masses'] %}'Mass',{% endif %}
                                        {% if project.projectsTypes_config_finance == 1 %}
                                            {% if GET['prices'] %}'Price £',{% endif %}
                                            {% if GET['discounts'] %}'Disc £',{% endif %}
                                        {% endif %}
                                    ],
                                {% set currentCategory = "" %}
                                {% for type in instance['assets'] %}
                                    {% if type['assets'][0].assetCategories_name != currentCategory %}
                                        {% set currentCategory = type['assets'][0].assetCategories_name %}
                                        {% set currentCategoryID = type['assets'][0].assetCategories_id %}
                                        [{ 
                                            text: "{{ type['assets'][0].assetCategories_name|escape("js") }}", 
                                            style: { bold: true },
                                            fillColor: '#F5F5F5',
                                            colSpan: {{ columnCount }},
                                            margin: 3
                                        },
                                        {% for i in range(2, columnCount) %}{},{% endfor %}
                                    ],
                                    {% endif %}
                                    {% embed 'project/twigIncludes/assetList/tableItemPDF.twig' with {"type": type,"all": instance, "categoryid":currentCategoryID,"instanceid": instance['instance'].instances_id} %}{% endembed %}
                                {% endfor %}
                                ],
                            },
                            layout: 'lightHorizontalLines',
                            margin: [ 0, 10, 0, 10 ]
                        },
                    {% endfor %}{% endif %}
                    {% if GET['flagsBlocks'] %}{ text: "[F] indicates asset flagged, [B] indicates asset blocked" },{% endif %}
                    { text: "[L] indicates asset linked to another" },
                    { text: "{{ (FINANCIALS.assetsAssigned|length + FINANCIALS.assetsAssignedSUB|length) }} Total Item{{ (FINANCIALS.assetsAssigned|length + FINANCIALS.assetsAssignedSUB|length) != 1 ? 's' }}", style: { fontSize: 16, bold: true, alignment: 'right' } },
                {% endif %}
                {% if FINANCIALS.payments.subHire.ledger|length > 0 and project.projectsTypes_config_finance == 1 and GET['subHires']  %}
                    { text: "Additional Hire Items", style: { fontSize: 20, bold: true }, pageBreak: 'before' },
                    { 
                        table: {
                            widths: ['auto', '*'{% if GET['prices'] %},'auto','auto'{% endif %}],
                            body: [
                                {% set currentSupplier = "" %}
                                {% for payment in FINANCIALS.payments.subHire.ledger %}
                                {% if currentSupplier != payment.payments_supplier %}
                                    {% set currentSupplier = payment.payments_supplier %}
                                    [{ 
                                        text: "{{ payment.payments_supplier|escape("js") }}", 
                                        style: { bold: true },
                                        fillColor: '#F5F5F5',
                                        colSpan: {{ GET['prices'] ? 4 : 2 }},
                                        margin: 3
                                    },
                                    {% for i in range(2, (GET['prices'] ? 4 : 2)) %}{},{% endfor %}
                                    ],
                                {% endif %}
                                [
                                    "{{ payment.payments_quantity > 1 ? payment.payments_quantity ~ "x" : "" }}",
                                    "{{ payment.payments_comment|escape("js") }}",
                                    {% if GET['prices'] %}
                                        {
                                            text: "{{ payment.payments_amount|money|escape("js") }}",
                                            style: {alignment: 'right'}
                                        },
                                        {
                                            text: "{{ payment.payments_amountTotal|money|escape("js") }}",
                                            style: {alignment: 'right'}
                                        },
                                    {% endif %}
                                ],
                                {% endfor %}
                            ],
                        },
                        layout: 'noBorders',
                        margin: [ 0, 10, 0, 10 ]
                    },
                    {% if GET['prices'] %}
                    {
                        columns: [
                            {
                                width: '*',
                                text: 'Total: ',
                                style: { bold: true, alignment: 'right' },
                                margin: [ 0, 0, 5, 0 ]
                            },
                            {
                                width: 'auto',
                                text: "{{ FINANCIALS.payments.subHire.total|money|escape("js") }}",
                            },
                            
                        ]
                    },
                    {% endif %}
                {% endif %}
                {% if FINANCIALS.payments.sales.ledger|length > 0 and project.projectsTypes_config_finance == 1 and GET['sales'] %}
                    { text: "Sales", style: { fontSize: 20, bold: true } },
                    { 
                        table: {
                            widths: ['auto', '*'{% if GET['prices'] %},'auto','auto'{% endif %}],
                            body: [
                                {% set currentSupplier = "" %}
                                {% for payment in FINANCIALS.payments.sales.ledger %}
                                {% if currentSupplier != payment.payments_supplier %}
                                    {% set currentSupplier = payment.payments_supplier %}
                                    [{ 
                                        text: "{{ payment.payments_supplier|escape("js") }}", 
                                        style: { bold: true },
                                        fillColor: '#F5F5F5',
                                        colSpan: {{ GET['prices'] ? 4 : 2 }},
                                        margin: 3
                                    },
                                    {% for i in range(2, (GET['prices'] ? 4 : 2)) %}{},{% endfor %}
                                    ],
                                {% endif %}
                                [
                                    "{{ payment.payments_quantity > 1 ? payment.payments_quantity ~ "x" : "" }}",
                                    "{{ payment.payments_comment|escape("js") }}",
                                    {% if GET['prices'] %}
                                        {
                                            text: "{{ payment.payments_amount|money|escape("js") }}",
                                            style: {alignment: 'right'}
                                        },
                                        {
                                            text: "{{ payment.payments_amountTotal|money|escape("js") }}",
                                            style: {alignment: 'right'}
                                        },
                                    {% endif %}
                                ],
                                {% endfor %}
                            ],
                        },
                        layout: 'noBorders',
                        margin: [ 0, 10, 0, 10 ]
                    },
                    {% if GET['prices'] %}
                    {
                        columns: [
                            {
                                width: '*',
                                text: 'Total: ',
                                style: { bold: true, alignment: 'right' },
                                margin: [ 0, 0, 5, 0 ]
                            },
                            {
                                width: 'auto',
                                text: "{{ FINANCIALS.payments.sales.total|money|escape("js") }}",
                            },
                            
                        ]
                    },
                    {% endif %}
                {% endif %}
                {% if project.projectsTypes_config_finance == 1 and FINANCIALS.payments.staff.ledger|length > 0 and GET['staff'] %}
                    { text: "Staff", style: { fontSize: 20, bold: true } },
                    { 
                        table: {
                            widths: ['auto', '*'{% if GET['prices'] %},'auto','auto'{% endif %}],
                            body: [
                                {% set currentSupplier = "" %}
                                {% for payment in FINANCIALS.payments.staff.ledger %}
                                {% if currentSupplier != payment.payments_supplier %}
                                    {% set currentSupplier = payment.payments_supplier %}
                                    [{ 
                                        text: "{{ payment.payments_supplier|escape("js") }}", 
                                        style: { bold: true },
                                        fillColor: '#F5F5F5',
                                        colSpan: {{ GET['prices'] ? 4 : 2 }},
                                        margin: 3
                                    }],
                                {% endif %}
                                [
                                    "{{ payment.payments_quantity > 1 ? payment.payments_quantity ~ "x" : "" }}",
                                    "{{ payment.payments_comment|escape("js") }}",
                                    {% if GET['prices'] %}
                                        {
                                            text: "{{ payment.payments_amount|money|escape("js") }}",
                                            style: {alignment: 'right'}
                                        },
                                        {
                                            text: "{{ payment.payments_amountTotal|money|escape("js") }}",
                                            style: {alignment: 'right'}
                                        },
                                    {% endif %}
                                ],
                                {% endfor %}
                            ],
                        },
                        layout: 'noBorders',
                        margin: [ 0, 10, 0, 10 ]
                    },
                    {% if GET['prices'] %}
                    {
                        columns: [
                            {
                                width: '*',
                                text: 'Total: ',
                                style: { bold: true, alignment: 'right' },
                                margin: [ 0, 0, 5, 0 ]
                            },
                            {
                                width: 'auto',
                                text: "{{ FINANCIALS.payments.staff.total|money|escape("js") }}",
                            },
                            
                        ]
                    },
                    {% endif %}
                {% endif %}
                {% if GET['paymentTerms'] %}
                {
                    table: {
                        widths: [ "100%"],
                        body: [[
                            { text: "{{ GET['quote'] ? USERDATA.instance.instances_quoteTerms|striptags|escape("js") : USERDATA.instance.instances_termsAndPayment|replace({"</p>":"\n", "<br/>":"\n"})|striptags|escape("js") }}", margin: 5 }
                        ]],
                    },
                    fillColor: '#F5F5F5',
                    layout: 'noBorders',
                    margin: [ 0, 10, 0, 0 ]
                },
                {% endif %}
            ],
            header: function(currentPage) { 
                if (currentPage === 1) return null;
                return {
                    columns: [
                        {text: "{{ USERDATA['instance']['instances_name']|escape("js") }}", width: "40%"},
                        {text: "{% if GET['quote'] %}Quotation{% endif %}", alignment: 'center', width: "20%"},
                        { text: "{% if project.projectsTypes_config_client == 1 and project['clients_name'] %}{{  project['clients_name']|escape("js") }} - {% endif %}{{ project['projects_name']|escape("js") }}", alignment: 'right', width: "40%"}
                    ]
                    , margin: [40, 20, 40, 20]
                };           
            },
            footer: function(currentPage, pageCount) { 
                if (currentPage === 1) return null;
                return {
                    columns: [
                        {text: "{{ "now"|date("j M Y h:i:sa")|escape("js") }}", width: "40%"},
                        {text: currentPage.toString() + '/' + pageCount, alignment: 'center', width: "20%"},
                        {text: "Generated by AdamRMS", alignment: 'right', width: "40%" }]
                    , margin: [40, 20, 40, 20]
                }; 
            },
            watermark: { text: 'DRAFT', opacity: 0.2, bold: true, italics: false },
            pageSize: 'A4',
            pageOrientation: 'portrait',
            pageMargins: [ 40, 40, 40, 40 ],
            info: {
                title: "{% if project.projectsTypes_config_client == 1 and project['clients_name'] %}{{  project['clients_name']|escape("js") }} - {% endif %}{{ project['projects_name']|escape("js") }}",
                author: "{{ USERDATA['instance']['instances_name']|escape("js") }}",
                subject: "{{ project['projects_name']|escape("js") }}",
                keywords: 'AdamRMS',
            },
            compress: true,
        };

        var now = new Date();
        var pdf = pdfMake.createPdf(docDefinition);
        pdf.getBlob((blob) => {
            console.log(blob)
        });
        pdf.open()
    </script>
</head>
<body>
</body>
</html>