<style>
    body {
        font-size: 16px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    }

     table {
        width: 100%;
    }

     table td {
        padding: 5px;
        vertical-align: top;
    }
</style>
<body>
<htmlpageheader name="firstpage" style="display:none">
</htmlpageheader>
<htmlpageheader name="otherpages" style="display:none">
    <table width="100%">
        <tr>
            <td width="50%"><b>{{ USERDATA['instance']['instances_name'] }}</b></td>
            <td width="50%" style="text-align: right;"> {{  project['clients_name'] }} - {{ project['projects_name'] }}</td>
        </tr>
    </table>
</htmlpageheader>
<sethtmlpageheader name="firstpage" value="on" show-this-page="1" />
<sethtmlpageheader name="otherpages" value="on" />
<div style="width: 100%;" align="center">
    <img src="{{CONFIG.ROOTURL}}/assets/img/logos/instances/{{ USERDATA.instance.instances_logo }}" style="width: 200px; padding:20px;">
</div>
<table>
    <tr>
        <td>
            <b>{{ project.clients_name }}</b><br/>
            {{ project.clients_address|nl2br }}<br/><br/>
            {{ project.clients_website }}<br/>
            {{ project.clients_email }}<br/>
            {{ project.clients_phone }}<br/>
        </td>
        <td style="text-align: right;">
            <b>{{ USERDATA['instance']['instances_name'] }}</b><br/>
            {{ USERDATA.instance.instances_address|nl2br }}<br/>
            {{ USERDATA.instance.instances_website }}<br/>
            {{ USERDATA.instance.instances_phone ? USERDATA.instance.instances_phone ~ "<br/>"}}
            {{ USERDATA.instance.instances_email }}<br/><br/>
            <b>{{ project.users_name1 ~ " " ~ project.users_name2  }}</b><br/>
            {{ project.users_email }}

        </td>
    </tr>
</table>
<h2>{{ project.projects_name }}</h2>
<table style="background-color: #F5F5F5; padding: 6px;">
    <tr>
        <td>
            <table>
                <tr>
                    <td style="padding:0;">Our&nbsp;Reference:</td>
                    <td style="padding: 0px 0px 0px 5px;">{{project.projects_id}}</td>
                </tr>
                <tr>
                    <td style="padding:0;">Deliver:</td>
                    <td style="padding: 0px 0px 0px 5px;">{{project.projects_dates_deliver_start ? project.projects_dates_deliver_start|date("j M Y h:ia")}}</td>
                </tr>
                <tr>
                    <td style="padding:0;">Start:</td>
                    <td style="padding: 0px 0px 0px 5px;">{{project.projects_dates_use_start ? project.projects_dates_use_start|date("j M Y h:ia")}}</td>
                </tr>
                <tr>
                    <td style="padding:0;">Finish:</td>
                    <td style="padding: 0px 0px 0px 5px;">{{ project.projects_dates_use_end ? project.projects_dates_use_end|date("j M Y h:ia") }}</td>
                </tr>
                <tr>
                    <td style="padding:0;">Collect:</td>
                    <td style="padding: 0px 0px 0px 5px;">{{ project.projects_dates_deliver_end ? project.projects_dates_deliver_end|date("j M Y h:ia") }}</td>
                </tr>
                <tr>
                    <td style="padding:0;">Mass Estimate:</td>
                    <td style="padding: 0px 0px 0px 5px;">{{FINANCIALS.mass|round(2, 'ceil') }}kg</td>
                </tr>
                <tr>
                    <td style="padding:0;">Value Estimate:</td>
                    <td style="padding: 0px 0px 0px 5px;">&pound;{{FINANCIALS.value|round(2, 'ceil') }}</td>
                </tr>
            </table>
        </td>
        <td style="text-align: right;">
            <b>Venue</b><br/>
            {{ project.projects_address|nl2br }}
        </td>
    </tr>
</table>
{% if showFinance %}
<hr/>
<table>
    <tr>
       <td style="width: 35%;">
           Hires SubTotal
       </td>
        <td style="width: 15%;text-align: right;">
            &pound;{{ FINANCIALS.prices.subTotal|number_format(2) }}
        </td>
        <td style="width: 35%;">
            Sales
        </td>
        <td style="width: 15%;text-align: right;">
            &pound;{{ FINANCIALS.payments.sales.total|number_format(2) }}
        </td>
    </tr>
    <tr>
        <td style="width: 35%;">
            {% if FINANCIALS.prices.discounts > 0 %}Discounts{% else %}Adjustments{% endif %}
        </td>
        <td style="width: 15%;text-align: right;">
            {% if FINANCIALS.prices.discounts > 0 %}&#8209;&pound;{{ FINANCIALS.prices.discounts|number_format(2) }}{% else %}None{% endif %}
        </td>
        <td style="width: 35%;">
            Staffing
        </td>
        <td style="width: 15%;text-align: right;">
            &pound;{{ FINANCIALS.payments.staff.total|number_format(2) }}
        </td>
    </tr>
    <tr>
        <td style="width: 35%;">
            <b>Hires Total</b>
        </td>
        <td style="width: 15%;text-align: right;">
            &pound;{{ FINANCIALS.prices.total|number_format(2) }}
        </td>
        <td  style="width: 35%;">
            Sub Hires
        </td>
        <td style="width: 15%;text-align: right;">
            &pound;{{ FINANCIALS.payments.subHire.total|number_format(2) }}
        </td>
    </tr>
</table>
<hr/>
<table>
    <tr>
        <td style="width: 35%;">
            SubTotal
        </td>
        <td style="width: 15%;text-align: right;">
            &pound;{{ FINANCIALS.payments.subTotal|number_format(2) }}
        </td>
        <td style="width: 35%;">
            Payments Received to Date
        </td>
        <td style="width: 15%;text-align: right;">
            &#8209;&pound;{{ FINANCIALS.payments.received.total|number_format(2) }}
        </td>
    </tr>
    <tr>
        <td style="width: 35%;">

        </td>
        <td style="width: 15%;text-align: right;">

        </td>
        <td style="width: 35%;">
            <b>Grand Total Outstanding</b>
        </td>
        <td style="width: 15%;text-align: right;">
            &pound;{{ FINANCIALS.payments.total|number_format(2) }}
        </td>
    </tr>
</table>
{% endif %}
{%  if project.projects_invoiceNotes|length > 0 %}
    <h2>Notes</h2>
    <p>{{ project.projects_invoiceNotes }}</p>
{% endif %}
{% if FINANCIALS.assetsAssigned|length > 0 %}
<pagebreak/>
    <h2>Hires</h2>
<table style="text-align: left;">
        <tr>
            <th style="width: 90px; text-align: left;">#</th>
            <th style="text-align: left;">Comment</th>
            <th style="text-align: left;">Spec</th>
            <th style="width: 60px;">Mass</th>
            {% if showFinance %}<th>Price</th>
            <th>Disc.</th>{% endif %}
        </tr>
{% set currentCategory = '' %}
{% set currentType = '' %}
{% for assetAssignment in FINANCIALS.assetsAssigned %}
    {% if assetAssignment.assetCategories_name != currentCategory %}
        {% set currentCategory = assetAssignment.assetCategories_name %}
        <tr style="background-color: #F5F5F5;">
            <td colspan="{{ showFinance ? 6 : 4 }}">
                <h3>{{ assetAssignment.assetCategories_name }}</h3>
            </td>
        </tr>
    {% endif %}
    {% if assetAssignment.assetTypes_id != currentType %}
        {% set currentType = assetAssignment.assetTypes_id %}
        <tr>
            <td style="font-weight: bold;" {% if assetAssignment.assetTypes_definableFields == ",,,,,,,,," %}colspan="{{  showFinance ? 6 : 4 }}"{% else %}colspan="2"{% endif %}>
                {{ FINANCIALS.assetTypesCounter[assetAssignment.assetTypes_id] }}x {{ assetAssignment.manufacturers_name }} - {{ assetAssignment.assetTypes_name }}
            </td>
            {% if assetAssignment.assetTypes_definableFields != ",,,,,,,,," %}
                <td style="padding:0px;">
                    <table style="margin:0;border-top: none !important;border-bottom: none !important;"><tr>
                            {% for field in assetAssignment.assetTypes_definableFields|split(",") %}
                                {% if field != "" %}
                                    <td style="padding-right: 0.75rem; padding-left: 0.75rem;border-top: none !important;border-bottom: none !important;">{{field}}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    </table>
                </td>
                <td {{ showFinance ? 'colspan="2"'}}></td>
            {% endif %}
        </tr>
    {% endif %}
    <tr>
        <td>{{ assetAssignment.assets_tag|aTag }}</td>
        <td {% if assetAssignment.assetTypes_definableFields == ",,,,,,,,," %}colspan="2"{% endif %}>{{ assetAssignment.assetsAssignments_comment }}</td>
        {% if assetAssignment.assetTypes_definableFields != ",,,,,,,,,"  %}
            <td style="padding:0px;">
                <table class="table table-bordered" style="margin:0;border-top: none !important;border-bottom: none !important;"><tr>
                        {% for field in assetAssignment.assetTypes_definableFields|split(",") %}
                            {% if field != "" %}
                                <td style="padding-right: 0.75rem; padding-left: 0.75rem;border-top: none !important;border-bottom: none !important;">{{ assetAssignment['asset_definableFields_' ~ loop.index] }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr></table>
            </td>
        {% endif %}
        <td>{{assetAssignment.assetTypes_mass != "" and assetAssignment.assetTypes_mass != 0 ? assetAssignment.assetTypes_mass ~ "kg" : "?" }}</td>
        {% if showFinance %}<td>&pound;{{ assetAssignment.price|number_format(2) }}</td>
        <td>{{ assetAssignment.assetsAssignments_discount }}%</td>{% endif %}
    </tr>
{% endfor %}
</table>
    <table>
        <tr>
            <td style="text-align: right;"><h3>{{ FINANCIALS.assetsAssigned|length }} Item{{ FINANCIALS.assetsAssigned|length != 1 ? 's' }}</h3></td>
        </tr>
    </table>
{% endif %}
{% if showFinance and FINANCIALS.payments.sales.ledger|length > 0 %}
<h2>Sales</h2>
<table>
    <tbody>
    {% for payment in FINANCIALS.payments.sales.ledger %}
        <tr>
            <td>{{ payment.payments_comment|nl2br }}</td>
            <td style="width:100px;text-align: right;">&pound;{{ payment.payments_amount|number_format(2) }}</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <td style="text-align:right; font-weight: bold;">Total:</td>
        <td style="width:100px;text-align: right;">&pound;{{ FINANCIALS.payments.sales.total|number_format(2) }}</td>
    </tr>
    </tfoot>
</table>
{% endif %}
{% if showFinance and FINANCIALS.payments.subHire.ledger|length > 0 %}
    <pagebreak/>
    <h2>Sub Hire Items</h2>
    <table>
        <tbody>
        {% for payment in FINANCIALS.payments.subHire.ledger %}
            <tr>
                <td>{{ payment.payments_comment|nl2br }}</td>
                <td style="width:100px;text-align: right;">&pound;{{ payment.payments_amount|number_format(2) }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td style="text-align:right; font-weight: bold;">Total:</td>
            <td style="width:100px;text-align: right;">&pound;{{ FINANCIALS.payments.subHire.total|number_format(2) }}</td>
        </tr>
        </tfoot>
    </table>
{% endif %}
{% if showFinance and FINANCIALS.payments.staff.ledger|length > 0 %}
    <pagebreak/>
    <h2>Staff</h2>
    <table>
        <tbody>
        {% for payment in FINANCIALS.payments.staff.ledger %}
            <tr>
                <td>{{ payment.payments_comment|nl2br }}</td>
                <td style="width:100px;text-align: right;">&pound;{{ payment.payments_amount|number_format(2) }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td style="text-align:right; font-weight: bold;">Total:</td>
                <td style="width:100px;text-align: right;">&pound;{{ FINANCIALS.payments.staff.total|number_format(2) }}</td>
            </tr>
        </tfoot>
    </table>
    <br/>
    <br/><br/>
{% endif %}
{% if showFinance %}
<table style="background-color: #F5F5F5; padding: 6px;">
    <tr>
        <td>
            {{ USERDATA.instance.instances_termsAndPayment|nl2br }}
        </td>
    </tr>
</table>
{% endif %}
</body>