<style>
[aria-expanded="false"] .fa-chevron-up, 
[aria-expanded="true"] .fa-chevron-down {
    display:none;
}
</style>

<div class="card">
    <form method="post" id="projectDeepSearchAssetForm">
        <a href="#filter-body" class="text-dark" role="button" data-toggle="collapse" aria-expanded="false">
            <div class="card-header">
                <h4 class="card-title">Filters</h4>
                <div class="text-right">
                    <i class="fas fa-chevron-up"></i>
                    <i class="fas fa-chevron-down"></i>
                    <span class="sr-only">Expand/Collapse Asset Search Filter</span>
                </div>
            </div>
        </a>
        <div class="collapse card-body" id="filter-body">    
            <input type="hidden" name="instance_id" value="{{ instance }}" />
            <input type="hidden" name="projectid" value="{{ project }}" />
            <input type="hidden" name="html" value="please" />
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label>Keywords (comma separated)</label>
                        <select class="form-control select2bs4" multiple="multiple" name="keyword[]"></select>
                    </div>
                    <div class="form-group">
                        <label>Manufacturer</label>
                        <select class="form-control select2bs4" multiple name="manufacturer[]"></select>
                    </div>
                    <div class="form-group">
                        <label>Group</label>
                        <select class="form-control select2bs4" name="group[]" multiple></select>
                    </div>
                    <div class="form-group">
                        <label>Page Limit</label>
                        <select class="form-control select2 select2bs4" name="page_limit">
                            <option>10</option>
                            <option selected>20</option>
                            <option>50</option>
                            <option>100</option>
                        </select>
                    </div>
                    
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label>Tags (comma separated)</label>
                        <select class="form-control select2bs4" multiple="multiple" name="tags[]"></select>
                    </div>
                    <div class="form-group">
                        <label>Category</label>
                        <select class="form-control select2bs4" multiple name="category[]"></select>
                    </div>
                    <div class="form-group">
                        <label>Sort by</label>
                        <select class="form-control select2 select2bs4" name="sort">
                            <option value="price-a">Weekly Price (low-high)</option>
                            <option value="price-d">Weekly Price (high-low)</option>
                            <option value="value-a">Value (low-high)</option>
                            <option value="value-d">Value (high-low)</option>
                            <option selected value="alphabet-a">Alphabetical (A-Z)</option>
                            <option value="alphabet-d">Alphabetical (Z-A)</option>
                            <option value="mass-a">Mass (low-high)</option>
                            <option value="mass-d">Mass (high-low)</option>
                            <option value="date-d">Date Added (most recent first)</option>
                            <option value="date-a">Date Added (oldest first)</option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-1">
                                <input type="checkbox" name="showlinked" value="1" class="mr-1">
                                <span>Show Assets linked to others</span>
                            </div>
                            <div class="mb-1">
                                <input type="checkbox" name="showarchived" value="1" class="mr-1">
                                <span>Show Archived Assets</span>
                            </div>
                        </div>
                        <div class="col text-right mt-auto">
                            <button type="submit" class="btn btn-default btn-outline-success">Apply</button>
                            <button type="reset" class="btn btn-default btn-outline-danger">Clear</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div id="searchResults"></div>
<script>
    function triggerProjectDeepSearch(data) {
        $.ajax({
            url: '{{CONFIG.ROOTURL}}/api/assets/deepSearch.php',
            dataType: 'json',
            cache: false,
            method: 'post',
            data: data,
            success: function (result) {
                if (result.result) {
                    $("#searchResults").html(result['response']['html']);
                }
            }, error: function (result) {
                console.log(result);
                alert("Error loading results - please check your internet connection");
            }
        });
    }
    $(document).ready(function () {
        //submit form so assets are populated
        triggerProjectDeepSearch($("#projectDeepSearchAssetForm").serializeArray());

        //submit functionality
       $("#projectDeepSearchAssetForm").submit(function (event) {
           event.preventDefault();
           var search = $(this).serializeArray();
           triggerProjectDeepSearch(search);
       });
       $(document).on("click",".page-link[data-page]",function () {
           var data = $("#projectDeepSearchAssetForm").serializeArray();
           data.push({"name": "page", "value": $(this).data("page")});
           triggerProjectDeepSearch(data);
       });
        $('#projectDeepSearchAssetForm input[name ="dates"]').daterangepicker({
            timePicker: true,
            timePickerIncrement: 15,
            locale: {
                format: 'DD MMM YYYY hh:mm A'
            },
            autoUpdateInput: false
        });
        $('#projectDeepSearchAssetForm input[name ="dates"]').on('apply.daterangepicker', function(ev, picker) {
            $(this).val(picker.startDate.format('DD MMM YYYY hh:mm A') + ' - ' + picker.endDate.format('DD MMM YYYY hh:mm A'));
        });

        $('#projectDeepSearchAssetForm input[name ="dates"]').on('cancel.daterangepicker', function(ev, picker) {
            $(this).val('');
        });
        $('#projectDeepSearchAssetForm .select2').select2({
            theme: "bootstrap4",
            width: '100%'
        });
        $('#projectDeepSearchAssetForm select[name ="keyword[]"]').select2({
            tags: true,
            tokenSeparators: [',', ';'],
            multiple: true,
            theme: "bootstrap4",
            minimumInputLength: 1,
            width: '100%',
            placeholder: "SD7T, Viper, Wash, Condenser, CYC, Dynamic, Clamp",
        });
        $('#projectDeepSearchAssetForm select[name ="tags[]"]').select2({
            tags: true,
            tokenSeparators: [',', ';'],
            multiple: true,
            theme: "bootstrap4",
            minimumInputLength: 1,
            width: '100%',
            placeholder: "A-1053, A-0056, T-2401, D-1402",
        });
        $('#projectDeepSearchAssetForm select[name ="manufacturer[]"]').select2({
            tags: false,
            multiple: true,
            theme: "bootstrap4",
            minimumInputLength: 0,
            width: '100%',
            minimumResultsForSearch: 1,
            placeholder: "Enter some manufacturer names to search",
            ajax: {
                url: "{{ CONFIG.ROOTURL }}/api/manufacturer/search.php",
                dataType: "json",
                type: "POST",
                data: function (params) {
                    var queryParameters = {
                        term: params.term,
                        instance_id: "{{ instance }}"
                    }
                    return queryParameters;
                },
                processResults: function (data) {
                    if (data && data.result && data.response) {
                        return {
                            results: $.map(data.response, function (item) {
                                return {
                                    text: item.manufacturers_name,
                                    id: item.manufacturers_id
                                }
                            })
                        };
                    } else return {
                        results: []
                    };
                }
            }
        });
        $('#projectDeepSearchAssetForm select[name ="category[]"]').select2({
            tags: false,
            multiple: true,
            theme: "bootstrap4",
            minimumInputLength: 0,
            width: '100%',
            minimumResultsForSearch: 1,
            placeholder: "Enter some group names to search",
            ajax: {
                url: "{{ CONFIG.ROOTURL }}/api/categories/search.php",
                dataType: "json",
                type: "POST",
                data: function (params) {
                    var queryParameters = {
                        term: params.term,
                        instance_id: "{{ instance }}"
                    }
                    return queryParameters;
                },
                processResults: function (data) {
                    if (data && data.result && data.response) {
                        return {
                            results: $.map(data.response, function (item) {
                                return {
                                    text: item.assetCategoriesGroups_name + " - " + item.assetCategories_name,
                                    id: item.assetCategories_id
                                }
                            })
                        };
                    } else return {
                        results: []
                    };
                }
            }
        });
        $('#projectDeepSearchAssetForm select[name ="group[]"]').select2({
            tags: false,
            multiple: true,
            theme: "bootstrap4",
            minimumInputLength: 1,
            width: '100%',
            minimumResultsForSearch: 1,
            placeholder: "Enter some group names to search",
            ajax: {
                url: "{{ CONFIG.ROOTURL }}/api/groups/search.php",
                dataType: "json",
                type: "POST",
                data: function (params) {
                    var queryParameters = {
                        term: params.term
                    }
                    return queryParameters;
                },
                processResults: function (data) {
                    if (data && data.result && data.response) {
                        return {
                            results: $.map(data.response, function (item) {
                                return {
                                    text: item.assetGroups_name,
                                    id: item.assetGroups_id
                                }
                            })
                        };
                    } else return {
                        results: []
                    };
                }
            }
        });
    });
</script>