{% extends "assets/template.twig" %}
{% block htmlIncludes %}
<style>
    .scrolling-head {
        display: flex;
        overflow-x: auto;
    }

    @media only screen and (max-width: 768px) {
        .scrolling-head {
            display: block;
        }
        .scrolling-head > div {
            width: 100%;
            max-width: 100%;
        }
    }
</style>
{% endblock %}

{% block content %}
<div class="p-2 scrolling-head h-100">
    {% for status in assetsAssignmentsStatus %}
        <div class="col-2">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ status['assetsAssignmentsStatus_name'] }}</h3>
                </div>

                {% if status['assets']|length > 0 %}
                    <div class="card-body">
                        {% for asset in status['assets'] %}
                            <div class="row align-middle p-2 border border-secondary border-2 rounded my-auto">
                                {% if status['assetsAssignmentsStatus_order'] > 1 %}
                                    <button class="btn btn-outline-secondary col-1" onclick="changeStatus({{ asset['assetsAssignments_id'] }}, {{ status['assetsAssignmentsStatus_id'] - 1 }})">«</button>
                                {% endif %}
                                <h6 class="col my-auto "><i>(<a target="_blank" href="{{ CONFIG.ROOTURL }}/asset.php?id={{ asset['assetTypes_id'] }}&asset={{ asset['assets_id'] }}">{{ asset['assets_tag'] }}</a>)</i><br>{{ asset['assetTypes_name'] }}</h6>
                                {% if status['assetsAssignmentsStatus_order'] < assetsAssignmentsStatus|length %}
                                    <button class="btn btn-outline-secondary col-1" onclick="changeStatus({{ asset['assetsAssignments_id'] }}, {{ status['assetsAssignmentsStatus_id'] +1 }})">»</button>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="card-body mx-auto">
                        <h6 class="text-muted"><i>No Assets</i></h6>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
<script>
function changeStatus(assetsAssignments_id, assetsAssignments_status){
    ajaxcall("projects/assets/setStatus.php", {"assetsAssignments_id":assetsAssignments_id, "assetsAssignments_status":assetsAssignments_status}, function (returned){
        if (returned['result']){
            window.location.reload();
        }
    });

}
</script>
{% endblock %}