<div class="p-2 scrolling-head h-100" >
    {% for status in instanceAssets %}
        {% if status.instances_id == instanceid %}
        <div class="col-2 pageAssetSortable">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ status['assetsAssignmentsStatus_name'] }}</h3>
                </div>
                <div class="card-body assetDispatchAssetList" data-statusid="{{ status['assetsAssignmentsStatus_id'] }}" data-instance="{{ instanceid }}">
                    {% for asset in status['assets'] %}
                        <div class="row align-middle p-2 border border-secondary border-2 rounded mt-auto mb-2 assetDispatchAssetList-card" data-currentstatus="{{ status['assetsAssignmentsStatus_id'] }}" data-assignment="{{ asset['assetsAssignments_id'] }}" data-instance="{{ instanceid }}" data-asset="{{ asset['assets_id'] }}">
                            {% if "PROJECTS:PROJECT_ASSETS:EDIT:ASSIGNMENT_STATUS"|instancePermissions%}
                                <button class="btn btn-outline-secondary assetDispatchAssetList-statusPrevButton col-1" data-nextstatus="" style="display: none;">«</button>
                            {% endif %}
                            <h6 class="col my-auto "><i>(<a target="_blank" href="{{ CONFIG.ROOTURL }}/asset.php?id={{ asset['assetTypes_id'] }}&asset={{ asset['assets_id'] }}&instance={{ instanceid }}">{{ asset['assets_tag'] }}</a>)</i><br>{{ asset['assetTypes_name'] }}</h6>
                            {% if "PROJECTS:PROJECT_ASSETS:EDIT:ASSIGNMENT_STATUS"|instancePermissions%}
                                <button class="btn btn-outline-secondary assetDispatchAssetList-statusNextButton col-1" data-nextstatus="" style="display: none;">»</button>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>
