{% extends "assets/template.twig" %}
{% block htmlIncludes %}
    <script src="{{ CONFIG.ASSETCDNURL }}/libs//fontawesome-iconpicker/js/fontawesome-iconpicker.min.js"></script>
    <link rel="stylesheet" href="{{ CONFIG.ASSETCDNURL }}/libs//fontawesome-iconpicker/css/fontawesome-iconpicker.min.css"/>
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="card ">
            <div class="card-header">
                <h3 class="card-title">
                    Categories
                </h3>
                <div class="card-tools pull-right">
                    <form class="input-group input-group-sm" method="GET">
                        <input type="text" name="q" class="form-control" placeholder="Search" value="{{ search }}" />
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            {% if 90|instancePermissions %}
                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#newModal"><i class="fa fa-plus"></i></button>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-body table-responsive p-0">
                <table class="table table-bordered">
                    {% set currentCategoryGroup = false %}
                    {% for category in categories %}
                        {% if currentCategoryGroup != category.assetCategoriesGroups_name %}
                        {% if currentCategoryGroup %}
                            {# Close the previous one for starting a new one #}
                            </tbody>
                    {% endif %}
                        {% set currentCategoryGroup = category.assetCategoriesGroups_name %}
                            <thead>
                            <tr>
                                <td style="width:15px;"><i class="{{ category.assetCategoriesGroups_fontAwesome }}"></i></td>
                                <td colspan="2">
                                    <b>{{ category.assetCategoriesGroups_name }}</b>
                                </td>
                            </tr>
                            </thead>
                            <tbody>
                    {% endif %}
                          <tr>
                              <td>
                                  <i class="{{ category.assetCategories_fontAwesome }}"></i>
                              </td>
                              <td>
                                  {{category.assetCategories_name}}
                              </td>
                              <td style="width:70px;">
                                 {% if category.instances_id is not null %}
                                     <div class="btn-group">
                                         {% if 91|instancePermissions %}
                                            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#editModal{{ category.assetCategories_id }}"><i class="fas fa-edit"></i></button>
                                         {% endif %}
                                         {% if 92|instancePermissions %}
                                             <button type="button" class="btn btn-danger btn-sm deleteButton" data-id="{{ category.assetCategories_id }}"><i class="fas fa-trash"></i></button>
                                         {% endif %}
                                     </div>

                                 {% endif %}
                              </td>
                          </tr>
                                {% if category.instances_id is not null %}
                                <div class="modal fade" id="editModal{{ category.assetCategories_id }}">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Edit {{category.assetCategories_name}}</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form class="edit-form" data-id="{{ category.assetCategories_id }}">
                                                    <input type="hidden" name="assetCategories_id" value="{{ category.assetCategories_id }}"/>
                                                    <div class="input-group" style="margin-bottom: 5px;">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Name</span>
                                                        </div>
                                                        <input type="text" class="form-control" name="assetCategories_name" value="{{ category.assetCategories_name }}">
                                                    </div>
                                                    <div class="input-group" style="margin-bottom: 5px;">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Icon</span>
                                                        </div>
                                                        <div class="btn-group">
                                                            <button type="button" class="btn btn-default iconpicker-component"><i
                                                                        class="{{ category.assetCategories_fontAwesome }}"></i></button>
                                                            <button type="button" class="iconpickerButtonSelector btn btn-default dropdown-toggle" data-toggle="dropdown" data-selected="{{ category.assetCategories_fontAwesome }}" data-id="{{ category.assetCategories_id }}">
                                                                <span class="caret"></span>
                                                                <span class="sr-only">Toggle Dropdown</span>
                                                            </button>
                                                            <div class="dropdown-menu"></div>
                                                        </div>
                                                    </div>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Category Group</span>
                                                        </div>
                                                        <select class="form-control" name="assetCategoriesGroups_id">
                                                            {% set currentCategoryGroupSub = false %}
                                                            {% for categorySub in categories %}
                                                                {% if currentCategoryGroupSub != categorySub.assetCategoriesGroups_name %}
                                                                    {% set currentCategoryGroupSub = categorySub.assetCategoriesGroups_name %}
                                                                    <option {% if category.assetCategoriesGroups_id == categorySub.assetCategoriesGroups_id %}selected{% endif %} value="{{ categorySub.assetCategoriesGroups_id }}">{{ categorySub.assetCategoriesGroups_name }}</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer justify-content-between">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary saveEdit-button" data-id="{{ category.assetCategories_id }}">Save changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                            {% if currentCategoryGroup %}
                            {# Close the previous category group if you had any #}
                            </tbody>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
    {% if 90|instancePermissions %}
    <div class="modal fade" id="newModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">New Custom Category</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="newCategoryForm">
                        <div class="input-group" style="margin-bottom: 5px;">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Name</span>
                            </div>
                            <input required type="text" class="form-control" name="assetCategories_name">
                        </div>
                        <div class="input-group" style="margin-bottom: 5px;">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Icon</span>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default iconpicker-component"><i></i></button>
                                <button type="button" class="iconpickerButtonSelector btn btn-default dropdown-toggle" data-toggle="dropdown" id="newCategoryFormIcon">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu"></div>
                            </div>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Category Group</span>
                            </div>
                            <select required class="form-control" name="assetCategoriesGroups_id">
                                {% set currentCategoryGroupSub = false %}
                                {% for categorySub in categories %}
                                    {% if currentCategoryGroupSub != categorySub.assetCategoriesGroups_name %}
                                        {% set currentCategoryGroupSub = categorySub.assetCategoriesGroups_name %}
                                        <option value="{{ categorySub.assetCategoriesGroups_id }}">{{ categorySub.assetCategoriesGroups_name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveNewCategory">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <script>
        $(document).ready(function () {
            $('.iconpickerButtonSelector').iconpicker({ /*options*/ });
            {% if 90|instancePermissions %}
            $("#saveNewCategory").click(function () {
                var formData = $("#newCategoryForm").serializeArray();
                formData.push({"name": "assetCategories_fontAwesome", "value":$("#newCategoryFormIcon").data('iconpicker').iconpickerValue});
                ajaxcall("categories/new.php", {formData}, function (data) {
                    location.reload();
                });
            });
            {% endif %}
            {% if 91|instancePermissions %}
            $(".saveEdit-button").click(function () {
                var formData = $(".edit-form[data-id=" + $(this).data("id") + "]").serializeArray();
                formData.push({"name": "assetCategories_fontAwesome", "value":$(".iconpickerButtonSelector[data-id=" + $(this).data("id") + "]").data('iconpicker').iconpickerValue});
                console.log(formData);
                ajaxcall("categories/edit.php", {formData}, function (data) {
                    location.reload();
                });
            });
            {% endif %}
            {% if 92|instancePermissions %}
            $(".deleteButton").click(function () {
                var id = $(this).data("id");
                bootbox.confirm({
                    title:"Are you sure?",
                    message: "Categories aren't fully deleted until all assets in the category are moved to other categories",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-danger'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-success'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            var formData = [{"name": "assetCategories_id", "value":id },{"name": "assetCategories_deleted", "value":"1" }];
                            ajaxcall("categories/edit.php", {formData}, function (data) {
                                location.reload();
                            });
                        }
                    }
                });
            });
            {% endif %}

        });
    </script>
</div>

{% endblock %}
