{% extends "assets/template.twig" %}
{% block htmlIncludes %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.css" integrity="sha512-pDpLmYKym2pnF0DNYDKxRnOk1wkM9fISpSOjt8kWFKQeDmBTjSnBZhTd41tXwh8+bRMoSaFsRnznZUiH9i3pxA==" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.js" integrity="sha512-+cXPhsJzyjNGFm5zE+KPEX4Vr/1AbqCUuzAS8Cy5AfLEWm9+UI9OySleqLiSQOQ5Oa2UrzaeAOijhvV/M4apyQ==" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12 col-md-6">
        <div class="card ">
            <form id="basicSettings">
                <div class="card-header">
                    <h3 class="card-title">Basics</h3>
                </div>
                <div class="card-body">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="enabled" {{ publicData.enabled ? 'checked' : '' }}>
                            <label class="form-check-label">Public Site Enabled</label>
                        </div>
                        <hr/>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="enableAssets" {{ publicData.enableAssets ? 'checked' : '' }}>
                            <label class="form-check-label">Show Asset List & Search</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="enableAssetsPrices"  {{ publicData.enableAssetsPrices ? 'checked' : '' }}>
                            <label class="form-check-label">Show Asset Prices</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="enableAssetsValues" {{ publicData.enableAssetsValues ? 'checked' : '' }}>
                            <label class="form-check-label">Show Asset Values</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="enableAssetAvailability" {{ publicData.enableAssetAvailability ? 'checked' : '' }}>
                            <label class="form-check-label">Allow Asset Availability Checking</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="enableAssetsAssignmentNames" {{ publicData.enableAssetsAssignmentNames ? 'checked' : '' }}>
                            <label class="form-check-label">Allow Asset Availability Checking To Reveal Names Of Projects Assets Are Assigned To</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="enableAssetDescriptions"  {{ publicData.enableAssetDescriptions ? 'checked' : '' }}>
                            <label class="form-check-label">Show Asset Type Descriptions</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="enableAssetNotes"  {{ publicData.enableAssetNotes ? 'checked' : '' }}>
                            <label class="form-check-label">Show Asset Notes</label>
                        </div>
                        <hr/>
                        <div class="form-group">
                            <label>Footer Text</label>
                            <textarea class="form-control" rows="2" name="footerText">{{ publicData.footerText }}</textarea>
                        </div>
                        <div class="form-group">
                            <label>Public Email address</label>
                            <input type="email" class="form-control" value="{{ USERDATA.instance.instances_email }}" disabled>
                        </div>
                        <div class="form-group">
                            <label>Public Phone Number</label>
                            <input type="phone" class="form-control" value="{{ USERDATA.instance.instances_phone }}" disabled>
                        </div>
                        <div class="form-group">
                            <label>Public Website</label>
                            <input required type="url" class="form-control" value="{{ USERDATA.instance.instances_website }}" disabled>
                        </div>
                </div>
                {% if 83|instancePermissions %}
                <div class="card-footer">
                    <button type="submit" class="btn btn-default save">Save</button>
                </div>
                {% endif %}
            </form>
            <script>
                $(document).ready(function() {
                    $("#basicSettings").on("submit", function(e){
                        e.preventDefault();
                    });
                });
            </script>
        </div>
   </div>
    <div class="col-12 col-md-6">
        <div class="card ">
            <div class="card-header">
                <h3 class="card-title">URL</h3>
            </div>
            <div class="card-body">
                {% if publicData.customDomains %}
                    {% for domain in publicData.customDomains %}
                        <input type="url" class="form-control" value="{{ domain }}" disabled /><br/>
                    {% endfor %}
                {% else %}
                    <i>Not currently setup, please contact support</i>
                {% endif %}
            </div>
            {% if 83|instancePermissions %}
            <div class="card-footer">
                Contact support to setup and change your public site URL, including for custom domains.
            </div>
            {% endif %}
        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Homepage Content</h3>
            </div>
            <div class="card-body">
                    <textarea class="textarea" id="homepageHTML" rows="6" placeholder="Place some text here to display on the homepage" style="width: 100%; height: 500px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;">
                        {{ publicData.homepageHTML }}
                    </textarea>
            </div>
            {% if 83|instancePermissions %}
            <div class="card-footer">
                <button class="btn btn-default save">Save</button>
            </div>
            {% endif %}
            <script>
                $(document).ready(function() {
                    $('#homepageHTML').summernote({
                        toolbar: [
                            ['style', ['style']],
                            ['font', ['bold', 'italic', 'underline', 'clear']],
                            ['para', ['ul', 'ol', 'paragraph']],
                            ['insert', ['link', 'hr']],
                            ['view', ['codeview']]
                        ]
                    });
                });
            </script>
        </div>
    </div>
    <script>
        $(document).ready(function() {

            $('.save').on('click', function() {
                var formData = $("#basicSettings").serializeArray();
                formData.push({ 'name': 'homepageHTML','value':$('#homepageHTML').summernote('code') });
                ajaxcall("instances/editInstancePublicSite.php", {formData});
            });
        });
    </script>
    <div class="col-lg-12">
        <div class="card ">
            <div class="card-header">
                <h3 class="card-title">
                    Public Downloadable Files
                </h3>
            </div>
            <div class="card-body">
                {% embed 'common/plugins/fileBox.twig' with {'files': files } %}
                {% endembed %}
            </div>
            <div class="card-footer">
                {% embed 'common/plugins/uppy.twig' with {'type': 'PUBLIC-FILE', 'paste': true, 'typeId': 15, 'subTypeId': USERDATA.instance.instances_id, 'imagesOnly': false } %}
                    {% block success %}
                    {% endblock %}
                {% endembed %}
                {% embed 'common/plugins/fileBoxJS.twig' %}
                {% endembed %}
            </div>
        </div>
    </div>
</div>
{% endblock %}