{% extends "assets/template.twig" %}
{% block htmlIncludes %}
    <!--Sortable-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha256-KM512VNnjElC30ehFwehXjx1YCHPiQkOPmqnrWtpccM=" crossorigin="anonymous"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="card ">
            <div class="card-header">
                <h3 class="card-title">
                    Project Statuses
                </h3>
                <div class="card-tools pull-right">
                    <form class="input-group input-group-sm" method="GET">
                        <input type="text" name="q" class="form-control" placeholder="Search" value="{{ search }}" />
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            {% if "PROJECTS:PROJECT_STATUSES:CREATE"|instancePermissions %}
                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#newModal"><i class="fa fa-plus"></i></button>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-body table-responsive p-0">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width:60px;"></th>
                            <th style="width:40px;">Icon</th>
                            <th>Name</th>
                            <th style="width:150px;">Colour</th>
                            <th style="width:150px;">Assets Released</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="pageListSortable">
                    {% for status in projectStatuses %}
                        <tr value="{{ status.projectsStatuses_id }}">
                            <td>
                                {% if "PROJECTS:PROJECT_STATUSES:EDIT"|instancePermissions %}
                                    <span class="handle">
                                        <i class="fas fa-ellipsis-v"></i>
                                        <i class="fas fa-ellipsis-v"></i>
                                   </span>
                                {% endif %}
                            </td>
                            <td>
                                <i class="{{ status.projectsStatuses_fontAwesome }}"></i>
                            </td>
                            <td>
                                {{status.projectsStatuses_name}}
                            </td>
                            <td class="text-uppercase" style="background-color:{{ status.projectsStatuses_backgroundColour }}; color: {{ status.projectsStatuses_foregroundColour }}">{{ status.projectsStatuses_class }}</td>
                            <td class="text-center">
                                {% if status.projectsStatuses_assetsReleased %}
                                    <i class="fas fa-check"></i>
                                {% endif %}
                            </td>
                            <td style="width:70px;">
                                <div class="btn-group">
                                    {% if status.instances_id is not null %}
                                        {% if "PROJECTS:PROJECT_STATUSES:EDIT"|instancePermissions %}
                                            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#editModal{{ status.projectsStatuses_id }}"><i class="fas fa-edit"></i></button>
                                        {% endif %}
                                        {% if "PROJECTS:PROJECT_STATUSES:DELETE"|instancePermissions %}
                                            <button type="button" class="btn btn-danger btn-sm deleteButton" data-id="{{ status.projectsStatuses_id }}"><i class="fas fa-trash"></i></button>
                                        {% endif %}
                                    {% endif %}
                                 </div>
                              </td>
                        </tr>
                        {% if status.instances_id is not null %}
                            <div class="modal fade" id="editModal{{ status.projectsStatuses_id }}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Edit {{status.projectsStatuses_name}}</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form class="edit-form" data-id="{{ status.projectsStatuses_name }}">
                                                <input type="hidden" name="projectsStatuses_id" value="{{ status.projectsStatuses_id }}"/>
                                                <div class="input-group" style="margin-bottom: 5px;">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">Name</span>
                                                    </div>
                                                    <input type="text" class="form-control" name="projectsStatuses_name" value="{{ status.projectsStatuses_name }}">
                                                </div>
                                                <div class="input-group" style="margin-bottom: 5px;">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">Description</span>
                                                    </div>
                                                    <input type="text" class="form-control" name="projectsStatuses_description" value="{{ status.projectsStatuses_description }}">
                                                </div>
                                                <div class="input-group" style="margin-bottom: 5px;">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">Class</span>
                                                    </div>
                                                    <select class="form-control" name="projectsStatuses_class" value="{{ status.projectsStatuses_class }}">
                                                        <option value="default">None</option>
                                                        <option value="primary">Primary</option>
                                                        <option value="secondary">Secondary</option>
                                                        <option value="success">Success</option>
                                                        <option value="danger">Danger</option>
                                                        <option value="warning">Warning</option>
                                                        <option value="info">Info</option>
                                                    </select>
                                                </div>
                                                <div class="input-group" style="margin-bottom: 5px;">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">Icon</span>
                                                    </div>
                                                    <select class="form-control rms-icon-picker" name="projectsStatuses_fontAwesome">
                                                        {% if status.projectsStatuses_fontAwesome %}
                                                            <option value="{{ status.projectsStatuses_fontAwesome }}"></option>
                                                        {% endif %}
                                                    </select>
                                                </div>
                                                <div class="input-group" style="margin-bottom: 5px;">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">Background Colour</span>
                                                    </div>
                                                    <input type="color" class="form-control" name="projectsStatuses_backgroundColour" value="{{ status.projectsStatuses_backgroundColour }}">
                                                </div>
                                                <div class="input-group" style="margin-bottom: 5px;">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">Release Assets?</span>
                                                    </div>
                                                    <input type="checkbox" class="form-control" name="projectsStatuses_assetsReleased"  aria-describedby="assetsReleased" {{status.projectsStatuses_assetsReleased ? "checked": ""}}>
                                                    <small id="assetsReleased" class="form-text text-muted">This allows assets assigned to this project to be used by other projects</small>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer justify-content-between">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary saveEdit-button" data-id="{{ status.projectsStatuses_id }}">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    {% if "PROJECTS:PROJECT_STATUSES:CREATE"|instancePermissions %}
    <div class="modal fade" id="newModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">New Project Status</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="newCategoryForm">
                        <div class="input-group" style="margin-bottom: 5px;">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Name</span>
                            </div>
                            <input required type="text" class="form-control" name="projectsStatuses_name">
                        </div>
                        <div class="input-group" style="margin-bottom: 5px;">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Description</span>
                            </div>
                            <input type="text" class="form-control" name="projectsStatuses_description" >
                        </div>
                        <div class="input-group" style="margin-bottom: 5px;">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Class</span>
                            </div>
                            <select class="form-control" name="projectsStatuses_class">
                                <option value="default">None</option>
                                <option value="primary">Primary</option>
                                <option value="secondary">Secondary</option>
                                <option value="success" selected>Success</option>
                                <option value="danger">Danger</option>
                                <option value="warning">Warning</option>
                                <option value="info">Info</option>
                            </select>
                        </div>
                        <div class="input-group" style="margin-bottom: 5px;">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Icon</span>
                            </div>
                            <select class="form-control rms-icon-picker" name="projectsStatuses_fontAwesome"></select>
                        </div>
                        <div class="input-group" style="margin-bottom: 5px;">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Background Colour</span>
                            </div>
                            <input type="color" class="form-control" name="projectsStatuses_backgroundColour" value="#F5F5F5">
                        </div>
                        <div class="input-group" style="margin-bottom: 5px;">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Release Assets?</span>
                            </div>
                            <input type="checkbox" class="form-control" name="projectsStatuses_assetsReleased"  aria-describedby="assetsReleased">
                            <small id="assetsReleased" class="form-text text-muted">This allows assets assigned to this project to be used by other projects</small>
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveNewCategory">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <script>
        function getForegroundColour(backgroundColour) {
            // Check colour contrast of background colour to decide foreground colour
            var c = backgroundColour.substring(1);      // strip #
            var rgb = parseInt(c, 16);   // convert rrggbb to decimal
            var r = (rgb >> 16) & 0xff;  // extract red
            var g = (rgb >>  8) & 0xff;  // extract green
            var b = (rgb >>  0) & 0xff;  // extract blue
            var brightness = 0.2126 * r + 0.7152 * g + 0.0722 * b; // per ITU-R BT.709

            return (brightness > 125) ? '#000000' : '#FFFFFF';
        }

        $(document).ready(function () {
            $('.modal').on('shown.bs.modal', function () {
                $(this).find('.rms-icon-picker').first().select2({
                    tags: false,
                    multiple: false,
                    theme: "bootstrap4",
                    minimumInputLength: 1,
                    minimumResultsForSearch: 1,
                    placeholder: "Search for an Icon",
                    ajax: {
                        url: "{{ CONFIG.ROOTURL }}/api/icons/getIcons.php",
                        dataType: "json",
                        type: "POST",
                        data: function (params) {
                            var queryParameters = {
                                search: params.term,
                            }
                            return queryParameters;
                        },
                        processResults: function (data) {
                            if (data && data.result && data.response) {
                                return {
                                    results: $.map(data.response, function (item) {
                                        return {
                                            text: item.label,
                                            id: "fas fa-" + item.code
                                        }
                                    })
                                };
                            } else return {
                                results: []
                            };
                        }
                    },
                    templateResult: input => $('<span><i class="' + input.id + '"></i>&nbsp;' + input.text + '</span>'),
                    templateSelection: input => $('<span><i class="' + input.id + '"></i></span>')
                });
            });
            $('.modal').on('hidden.bs.modal', function () {
                $(this).find('.rms-icon-picker').first().select2('destroy');
            });
            {% if "PROJECTS:PROJECT_STATUSES:CREATE"|instancePermissions %}
            $("#saveNewCategory").click(function () {
                var formData = $("#newCategoryForm").serializeArray();
                formData.push({"name": "projectsStatuses_foregroundColour", "value": getForegroundColour(formData[3].value) } );
                ajaxcall("instances/projectStatus/new.php", {formData}, function (data) {
                    location.reload();
                });
            });
            {% endif %}
            {% if "PROJECTS:PROJECT_STATUSES:EDIT"|instancePermissions %}
            $(".saveEdit-button").click(function () {
                var formData = $(".edit-form[data-id=" + $(this).data("id") + "]").serializeArray();
                formData.push({"name": "projectsStatuses_foregroundColour", "value": getForegroundColour(formData[3].value) } ); 
                ajaxcall("instances/projectStatus/edit.php", {formData}, function (data) {
                    location.reload();
                });
            });
            $('#pageListSortable').sortable({
                placeholder         : 'sort-highlight',
                handle              : '.handle',
                forcePlaceholderSize: true,
                zIndex              : 999999,
                update: function( event, ui ) {
                    console.log($("#pageListSortable").sortable('toArray', {attribute: 'value'}));
                    ajaxcall("instances/projectStatus/editPageRank.php", {
                        "order": $("#pageListSortable").sortable('toArray', {attribute: 'value'})
                    }, null, true);

                }
            });
            {% endif %}
            {% if "PROJECTS:PROJECT_STATUSES:DELETE"|instancePermissions %}
            $(".deleteButton").click(function () {
                var id = $(this).data("id");
                bootbox.confirm({
                    title:"Are you sure?",
                    message: "This may leave some projects with Unknown Statuses.",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-danger'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-success'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            var formData = [{"name": "projectsStatuses_id", "value":id },{"name": "projectsStatuses_deleted", "value":"1" }];
                            ajaxcall("instances/projectStatus/edit.php", {formData}, function (data) {
                                location.reload();
                            });
                        }
                    }
                });
            });
            {% endif %}

        });
    </script>
</div>

{% endblock %}
