{% if type['assets']|length > 1 %}{# If there's just one item then just display it on its own below, otherwise display just a header #}
<tr>
    {% if GET['checkboxes'] %}<td>&#9744;</td>{% endif %}
    <td colspan="{{ GET['comments'] ? 3 : 2 }}">
        {{ type['assets']|length }}x <b>{{ type['assets'][0].manufacturers_id != 1 ? type['assets'][0].manufacturers_name ~ " - " : "" }}{{ type['assets'][0].assetTypes_name }}</b>
    </td>
    {% if GET['masses'] %}<td>
        {{ (type['totals']['mass'] > 0 ? type['totals']['mass'] ~ 'kg' : '') }}
    </td>{% endif %}
    {% if project.projectsTypes_config_finance == 1 %}
    {% if GET['prices'] %}<td>
        {{ type['totals']['price']|money }}
    </td>{% endif %}
    {% if GET['discounts'] %}<td>
        {{ type['totals']['discountPrice']|money }}
    </td>{% endif %}
    {% endif %}
</tr>
{% endif %}
{% for assetAssignment in type['assets'] %}
    {% if type['assets']|length == 1 or GET['showAll'] %}
    <tr>
        {% if GET['checkboxes'] %}<td>&#9744;</td>{% endif %}
        <td colspan="{{ (assetAssignment.assetsAssignments_comment and GET['comments'] ? 1 : assetAssignment.assetTypes_definableFields_ARRAY|length > 0 ? (GET['comments'] ? 2 : 1) : (GET['comments'] ? 3 : 2)) }}">
            {% if type['assets']|length == 1 %}
                <b>{{ assetAssignment.manufacturers_id != 1 ? assetAssignment.manufacturers_name ~ " - " : "" }}{{ assetAssignment.assetTypes_name }}</b>
            {% else %}
                &#8627;&nbsp;
            {% endif %}
            {% if GET['showAll'] %}
                {{ assetAssignment.assets_tag|aTag }}
            {% endif %}
            {% if GET['flagsBlocks'] %}
                {% for flag in assetAssignment.flagsblocks.FLAG %}
                    &#128681;
                {% endfor %}
                {% for flag in assetAssignment.flagsblocks.BLOCK %}
                    &#128683;
                {% endfor %}
            {% endif %}
                {% if assetAssignment.assetsAssignments_linkedTo %}
                    &#128279;
                {% endif %}
        </td>
        {% if assetAssignment.assetsAssignments_comment and GET['comments'] %}
        <td colspan="{{ assetAssignment.assetTypes_definableFields_ARRAY|length > 0 ? '1' : '2' }}">
            {{ assetAssignment.assetsAssignments_comment }}
        </td>
        {% endif %}
        {% if assetAssignment.assetTypes_definableFields_ARRAY|length > 0 %}
        <td>
          {% for field in assetAssignment.assetTypes_definableFields|split(",") %}
            {% if field != "" %}
                <b>{{ field }}: </b>{{ assetAssignment['asset_definableFields_' ~ loop.index] }}<br/>
            {% endif %}
          {% endfor %}
        </td>
        {% elseif assetAssignment.assetsAssignments_comment and GET['comments'] %}
            <td></td>
        {% endif %}
        {% if GET['masses'] %}
        <td>{{ assetAssignment.assets_mass != null ? assetAssignment.assets_mass|mass : (assetAssignment.assetTypes_mass != null and assetAssignment.assetTypes_mass != 0 ? assetAssignment.assetTypes_mass|mass : "") }}</td>
        {% endif %}
        {% if project.projectsTypes_config_finance == 1 %}
            {% if GET['prices'] %}<td>{{ assetAssignment.price|money }}</td>{% endif %}
            {% if GET['discounts'] %}<td>{{ assetAssignment.discountPrice|money }}{# {{  assetAssignment.assetsAssignments_discount > 0 ? " ("~assetAssignment.assetsAssignments_discount ~ "%)" : "" }} #}</td>{% endif %}
        {% endif %}
    </tr>
    {% endif %}
{% endfor %}