{% extends "assets/template.twig" %}
{% block htmlIncludes %}
	<!--Password Strength-->
	<link rel="stylesheet" href="{{ CONFIG.ASSETCDNURL }}/css/strength.css"/>
	<script src="{{ CONFIG.ASSETCDNURL }}/js/libs/strength.min.js"></script>

	<!--Date picker-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js" integrity="sha256-VrmtNHAdGzjNsUNtWYG55xxE9xDTz4gF63x/prKXKH0=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js" integrity="sha256-5YmaxAwMjIpMrVlK84Y/+NjCpKnFYa8bWWBbUHSBGfU=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" integrity="sha256-yMjaV542P+q1RnH6XByCPDfUFhmOafWbeLPmqKh11zo=" crossorigin="anonymous" />
{% endblock %}
{% block content %}
	<div class="row" style="margin-top: 15px;">
		<div class="col-12 col-md-4">
			<div class="card ">
				<div class="card-header">
					<h3 class="card-title">Account Basics</h3>
				</div>
				<div class="card-body">
					<div class="alert alert-success" id="updatesettingsusccess" style="display: none;">
						<strong>Success!</strong> Account settings saved!
					</div>
					<div class="form-group" id="usernamecontainer">
						<label for="username">Username:</label>
						<input type="username" class="form-control" id="username" name="username" value="{{USER['users_username']}}" />
					</div>
					<div class="form-group">
						<label for="email">First Name:</label>
						<input type="text" class="form-control" id="forename" name="forename" value="{{USER['users_name1']}}" />
					</div>
					<div class="form-group">
						<label for="email">Last Name:</label>
						<input type="text" class="form-control" id="lastname" name="lastname" value="{{USER['users_name2']}}" />
					</div>
					<div class="form-group" id="emailcontainer">
						<label for="email">Email address:</label>
						<input type="email" class="form-control" id="email" name="email" value="{{USER['users_email']}}" />
					</div>
				</div>
				<div class="card-footer" style="text-align: right;">
					<button id="save-account-settings" class="btn btn-default">Save</button>
				</div>
					<script>
					$(document).ready(function() {
						function isemail(email) {
							var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
							return regex.test(email);
						}
						function emailtaken(email) {
							$.ajax({
								url:"{{CONFIG.ROOTURL}}/api/account/emailInUse.php?email=" + email,
								async: false,
								success:function(data) {
									result = data;
								}
							 });
								{% if USER.users_userid != USERDATA.users_userid %} return false; {% endif %}

							 if (result == '1') return false;
							 else return true;
						}
						function validemail(email) {
							email = $("#email").val();
							if (email.length > 0) {
								if (emailtaken(email) || !isemail(email)) {
									$("#emailcontainer").removeClass("has-success");
									$("#emailcontainer").addClass("has-error");
									return false;
								} else {
									$("#emailcontainer").removeClass("has-error");
									$("#emailcontainer").addClass("has-success");
									return true;
								}
							} else {
								return true;
							}

						}
						$("#email").keydown(function(){
							validemail();
						});
						function usernametaken(username) {
							$.ajax({
								url:"{{CONFIG.ROOTURL}}/api/account/usernameInUse.php?username=" + username,
								async: false,
								success:function(data) {
									result = data;
								}
							 });
							 if (result == '1') return false;
							 else return true;
						}
						function validusername(username) {
							username = $("#username").val();
							if (usernametaken(username)) {
								$("#usernamecontainer").removeClass("has-success");
								$("#usernamecontainer").addClass("has-error");
								return false;
							} else {
								$("#usernamecontainer").removeClass("has-error");
								$("#usernamecontainer").addClass("has-success");
								return true;
							}
						}
						$("#username").keydown(function(){
							validusername();
						});
						$('#save-account-settings').click(function() {
							if (!validemail()) {
								bootbox.alert("Please check your E-Mail address is valid and not already taken");
							} else if ($('#username').val().length < 1) {
								bootbox.alert("Please check user has been given a username");
							} else {
								$('#updatesettingsusccess').hide();
								$.ajax({
									url: '{{CONFIG.ROOTURL}}/api/account/basicDetails.php?userid={{ USER.users_userid }}&username=' + $('#username').val() + '&forename=' + $('#forename').val() + '&lastname=' + $('#lastname').val() + '&email=' + $('#email').val(),
									success: function (result) {
										{% if USER.users_userid != "NEW" %}
										if (result == '1') {
											if ('{{USER.users_email}}' != $('#email').val()) {
												//They have changed E-Mail address so we need to refresh so that they see the verify your E-Mail message-box
												location.reload();
											}
											$('#updatesettingsusccess').show();
										}
										{% else %}
										result = JSON.parse(result);
										if (result) {
											window.location.href = "?uid=" + result.newUserId;
										}
										{% endif %}
										else {
											bootbox.alert(result + '<br/>Error - Could not save - Please refresh the page and try again!', function () {
												location.reload();
											});
										}
									}
								});
							}
						});
					});
					</script>
			</div>
			{% if USER.users_userid == USERDATA.users_userid %}
			<div class="card ">
				<div class="card-header">
					<h3 class="card-title">Password</h3>
				</div>
				<div class="card-body">
					<div class="alert alert-success" id="update_pass_success" style="display: none;">
						<strong>Success!</strong> Password Changed!
					</div>

					<div class="form-group">
						<label for="username">Current Password</label>
						<input type="password" placeholder="Current Password" class="form-control" id="current_pass" />
					</div>
					<div class="form-group">
						<style>
							.button_strength {
								display: none;
							}
						</style>
						<label for="username">New Password</label>
						<input type="password" placeholder="New Password" class="form-control" id="passnew" /><br/>
						<input type="password" placeholder="Confirm New Password" class="form-control" id="passconf" />
					</div>
				</div>
				<div class="card-footer" style="text-align: right;">
					<button id="save-password-settings" class="btn btn-default">Change</button>
				</div>
				<script>
					$(document).ready(function() {
						$("#passnew").strength();
						$('#save-password-settings').click(function() {
							if ($('#passnew').val() != $('#passconf').val()) {
								bootbox.alert("Sorry - Your new password's don't match!");
							} else if ($("#passnew").val().length < 6) bootbox.alert("Sorry - Your password is too short!");
							else {
								$.ajax({
									url: '{{CONFIG.ROOTURL}}/api/account/changePass.php?newpass=' + $("#passnew").val() + '&oldpass=' + $("#current_pass").val(),
									success: function (result) {
										if (result == '1') {
											location.reload();
										} else if (result == '2') {
											bootbox.alert("Current password incorrect!");
										} else {
											bootbox.alert('Error - Could not change password - Please refresh the page and try again!');
										}
									}
								});
							}
						});
					});
				</script>
			</div>
			{% endif %}
			{% if 16|permissions %}
				<div class="card">
						<div class="card-header">
							<h3 class="card-title">Positions</h3>
						</div>
						<div class="card-body p-0">
							<table class="table" border="0" style="overflow-x: scroll;">
								<thead>
								<tr>
									<th>Title</th>
									<th>From</th>
									<th>To</th>
									<th>Show on site</th>
									{% if USER.users_userid != USERDATA.users_userid and 13|permissions %}
										<th></th>
										<th></th>
									{% endif %}
								</tr>
								</thead>
								<tbody>
								{% if USER.users_userid != "NEW" %}
									{% for position in USER.POSITIONS %}
									<tr>
										{% if 13|permissions and USER.users_userid != USERDATA.users_userid %}
											<td>
												<div class="form-group">
													<select class="form-control positionID">
														{% for subposition in POSSIBLEPOSITIONS %}

															<option {{ subposition.positions_id == position.positions_id ? 'selected' : '' }} value="{{ subposition.positions_id }}">{{ subposition.positions_displayName }}</option>
														{% endfor %}
													</select>
												</div>

											</td>
											<td>
												<div class="form-group">
													<input type='text' class="form-control positionStart" id="position{{ position.userPositions_id }}Start" />
												</div>
											</td>
											<td>
												<div class="form-group">
													<input type='text' class="form-control positionEnd" id="position{{ position.userPositions_id }}End" />
												</div>
											</td>
											<td>
												<div class="checkbox">
													<label><input type="checkbox" class="positionPublic" {{ (position.userPositions_show == 1 ? 'checked' : '') }} ></label>
												</div>
											</td>
											<td>
												<button type="button" title="Delete" data-positionid="{{ position.userPositions_id }}" class="btn btn-danger deletePermissionEdit"><i class="fa fa-trash"></i></button>
											</td>
											<td>
												<button type="button" title="Save" data-positionid="{{ position.userPositions_id }}" class="btn btn-default savePermissionEdit"><i class="fa fa-save"></i></button>
											</td>
											<script>
												$(function () {
													$('#position{{ position.userPositions_id }}Start').datetimepicker({
														date: "{{ position.userPositions_start }}",
														locale: "en-gb",
														format: "D MMM YYYY h:mm:ss a"
													});
													$('#position{{ position.userPositions_id }}End').datetimepicker({
														useCurrent: false, //Important! See issue #1075
														date: "{{ position.userPositions_end }}",
														locale: "en-gb",
														format: "D MMM YYYY h:mm:ss a"
													});
													$("#position{{ position.userPositions_id }}Start").on("dp.change", function (e) {
														$('#position{{ position.userPositions_id }}End').data("DateTimePicker").minDate(e.date);
													});
													$("#position{{ position.userPositions_id }}End").on("dp.change", function (e) {
														$('#position{{ position.userPositions_id }}Start').data("DateTimePicker").maxDate(e.date);
													});
												});
											</script>
										{% else %}
											<td>
												{% if position.userPositions_displayName != null %}
													{{ position.userPositions_displayName }}
												{% else %}
													{{ position.positions_displayName }}
												{% endif %}
											</td>
											<td>
												{{ position.userPositions_start }}</td>
											<td>{{ position.userPositions_end }}</td>
											<td>{{ (position.userPositions_show == 1 ? '<i class="fa fa-check"></i>' : '<i class="fa fa-times"></i>') }}</td>
										{% endif %}
									</tr>
									{% endfor %}
								{% if USER.users_userid != USERDATA.users_userid and 13|permissions %}
									<tr><td colspan="999" style="font-weight: bold;">Add position</td></tr>
									<tr>
										<td>
											<div class="form-group">
												<select class="form-control positionID" id="newPositionID">
													{% for position in POSSIBLEPOSITIONS %}
														<option value="{{ position.positions_id }}">{{ position.positions_displayName }}</option>
													{% endfor %}
												</select>
											</div>

										</td>
										<td>
											<div class="form-group">
												<input type='text' class="form-control positionStart" id="newPositionStart" />
											</div>
										</td>
										<td>
											<div class="form-group">
												<input type='text' class="form-control positionEnd" id="newPositionEnd" />
											</div>
										</td>
										<td>
											<div class="checkbox">
												<label><input type="checkbox" class="positionPublic" checked id="newPositionShow"></label>
											</div>
										</td>
										<td>
											<button type="button" title="Save" data-positionid="new" class="btn btn-default savePermissionEdit"><i class="fa fa-plus"></i></button>
										</td>
									</tr>
									<script>
										$(function () {
											$('#newPositionStart').datetimepicker({
												locale: "en-gb",
												format: "D MMM YYYY h:mm:ss a"
											});
											$('#newPositionEnd').datetimepicker({
												useCurrent: false, //Important! See issue #1075
												locale: "en-gb",
												format: "D MMM YYYY h:mm:ss a"
											});
											$("#newPositionStart").on("dp.change", function (e) {
												$('#newPositionEnd').data("DateTimePicker").minDate(e.date);
											});
											$("#newPositionEnd").on("dp.change", function (e) {
												$('#newPositionStart').data("DateTimePicker").maxDate(e.date);
											});
										});
									</script>
								{% endif %}
								{% else %}
									<tr>
										<td colspan="999" style="font-style: italic; text-align: center;">Please create the user before you assign positions</td>
									</tr>
								{% endif %}
								</tbody>

							</table>
							<script>
								$(document).ready(function() {
									$("#permissionsOverlayLoading").hide();
									{% if 13|permissions %}
									$('.savePermissionEdit').click(function() {
										$("#permissionsOverlayLoading").show();
										$.ajax({
											url: '{{CONFIG.ROOTURL}}/api/account/permissions.php',
											data: {
												"users_userid":"{{ USER.users_userid }}",
												"userPositions_id":$(this).data("positionid"),
												"positions_id":$(this).closest('tr').find('.positionID').val(),
												"userPositions_start":$(this).closest('tr').find('.positionStart').val(),
												"userPositions_end":$(this).closest('tr').find('.positionEnd').val(),
												"userPositions_show":($(this).closest('tr').find('.positionPublic').is(':checked') ? 1 : 0),
												"action":"EDIT"
											},
											type: "POST",
											success: function (result) {
												if (result.result) {
													location.reload();
												} else {
													bootbox.alert('Error - Could not change permissions - Please try again!', function() {
														location.reload();
													});
												}
											}
										});

									});
									var thispositonid = "";
									$('.deletePermissionEdit').click(function() {
										thispositonid = $(this).data("positionid");
										bootbox.confirm({
											message: "Are you sure you wish to delete this position record? <br/> Positions should be normally kept as an important matter of record - if this user has now left the position please instead set the end date as appropriate",
											buttons: {
												confirm: {
													label: 'Yes',
													className: 'btn-success'
												},
												cancel: {
													label: 'No',
													className: 'btn-danger'
												}
											},
											callback: function (result) {
												if (result) {
													$("#permissionsOverlayLoading").show();
													$.ajax({
														url: '{{ CONFIG.ROOTURL }}/api/account/permissions.php',
														data: {
															"userPositions_id": thispositonid,
															"users_userid":"{{ USER.users_userid }}",
															"action": "DELETE"
														},
														type: "POST",
														success: function (result) {
															if (result.result) {
																location.reload();
															} else {
																bootbox.alert('Error - Could not change permissions - Please try again!', function () {
																	location.reload();
																});
															}
														}
													});
												}
											}
										});
									});
									{% endif %}
								});
							</script>
						</div>
						<div class="overlay" id="permissionsOverlayLoading">
							<i class="fas fa-sync fa-spin fa-3x"></i>
						</div>
					</div>
			{% endif %}
		</div>
		<div class="col-12 col-md-2">
			{% if USER.users_userid != "NEW" %}
			<div class="card ">
				<div class="card-header">
					<h3 class="card-title">Profile picture</h3>
				</div>
				<div class="card-body">
					{% if USER.users_thumbnail != null %}
						<img src="{{ USER.users_thumbnail|s3URL("small") }}" style="width: 100%;">
						{% else %}
						<i>None currently set</i>
					{% endif %}
				</div>
				{% if 14|permissions or USER.users_userid == USERDATA.users_userid %}
				<div class="card-footer">
					{% embed 'common/plugins/uppy.twig' with {'publicBool': false, 'type': 'USER-THUMBNAIL', 'paste': false, 'typeId': 9, 'subTypeId': USER.users_userid, 'fileLimit': 1, 'imagesOnly': true } %}
						{% block success %}
							console.log(responseJson);
							ajaxcall("account/thumbnail.php", {
								"users_userid": "{{ USER.users_userid }}",
								'thumbnail' : responseJson.id,
								}, function (data) {
									location.reload();
							});
						{% endblock %}
					{% endembed %}
				</div>
				{% endif %}
				<script>
				</script>
			</div>
			{% endif %}
		</div>
		<div class="col-12 col-md-6">
			{% if USER.users_userid != "NEW" %}
				<div class="card ">
					<div class="card-header">
						<h3 class="card-title">Social Media profiles</h3>
					</div>
					<div class="card-body">
						<div class="alert alert-success" id="update_social_success" style="display: none;">
							<strong>Success!</strong> Social media updated!
						</div>
						<form id="update_social_form">
							<p>Share links to your social media profiles to be displayed on your user profile page</p>

							<label>Facebook</label>
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">https://facebook.com/</span>
								</div>
								<input type="text" class="form-control" name="facebook" value="{{ USER.users_social_facebook }}">
							</div>
							<br/>
							<label>Twitter</label>
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">https://twitter.com/</span>
								</div>
								<input type="text" class="form-control" name="twitter" value="{{ USER.users_social_twitter }}">
							</div><br/>
							<label>Instagram</label>
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">https://instagram.com/</span>
								</div>
								<input type="text" class="form-control" name="instagram" value="{{ USER.users_social_instagram }}">
							</div><br/>
							<label>Linkedin</label>
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">https://linkedin.com/ln/</span>
								</div>
								<input type="text" class="form-control" name="linkedin" value="{{ USER.users_social_linkedin }}">
							</div><br/>
							<label>Snapchat</label>
							<div class="input-group">
								<div class="input-group-prepend"><span class="input-group-text"><i class="fab fa-snapchat-ghost"></i></span></div>
								<input type="text" class="form-control" name="snapchat" value="{{ USER.users_social_snapchat }}">
							</div>
						</form>
					</div>
					<div class="card-footer" style="text-align: right;">
						<button id="save-social-settings" class="btn btn-default">Save</button>
					</div>
					<script>
						$(document).ready(function() {
							$('#save-social-settings').click(function() {
								$("#update_social_success").hide();
								$.ajax({
									url: '{{CONFIG.ROOTURL}}/api/account/social.php',
									data: {"data":$("#update_social_form").serialize(),"users_userid": "{{ USER.users_userid }}"},
									type: "POST",
									success: function (result) {
										if (result == '1') {
											$("#update_social_success").show();
										} else {
											bootbox.alert('Error - Could not change social settings - Please try again!', function() {
												location.reload();
											});
										}
									}
								});
							});
						});
					</script>
				</div>
				<div class="card ">
					<div class="card-header">
						<h3 class="card-title">Notifications</h3>
					</div>
					<div class="card-body" style="padding:0;">
						<table class="table table-striped">
							<thead>
							<tr>
								<th></th>
								{% for method in CONFIG.NOTIFICATIONS.METHODS %}
									<th>{{method}}</th>
								{% endfor %}
							</tr>
							</thead>
							<tbody>
							{% set category = "" %}
							{% for notification in CONFIG.NOTIFICATIONS.TYPES %}
								{% if category != notification.group %}
								<tr>
									<td colspan="{{ 1+CONFIG.NOTIFICATIONS.METHODS|length }}"><h3>{{ notification.group }}</h3></td>
								</tr>
								{% set category = notification.group %}
								{% endif %}
								<tr>
									<td>{{ notification.name }}</td>
									{% for methodid,method in CONFIG.NOTIFICATIONS.METHODS %}
									<td>
										{% if methodid in notification.methods %}
										<input type="checkbox" class="notificationsetting" data-methodid="{{methodid}}" data-typeid="{{notification.id}}"
											    {% if notification.canDisable != true %}
												disabled
											    {% endif %}
											    {% if USER['notifications']["settings"][notification.id]["methodsUser"][methodid] %}
													checked
												{% endif %}
										/>
										{% endif %}
									</td>
									{% endfor %}
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
					<div class="card-footer" style="text-align: right;">
						<button id="save-notification-settings" class="btn btn-default">Save</button>
					</div>
					<script>
						$(document).ready(function() {
							$('#save-notification-settings').click(function() {
								var config = [];
								$(".notificationsetting").each(function( index ) {
									if ($( this ).prop('disabled') !== true) {
										config.push({"method":$( this ).data("methodid"),"type":$( this ).data("typeid"),"setting":$( this ).prop('checked')})
									}
								});
								ajaxcall("account/notifications.php", {
									"users_userid": "{{ USER.users_userid }}",
									'settings' : config,
								});
							});
						});
					</script>
				</div>
			{% endif %}
		</div>
</div>
{% endblock %}
