{% extends "assets/template.twig" %}
{% block htmlIncludes %}

    <script src="{{ CONFIG.ROOTURL }}/assets/js/sweetalert2.min.js"></script>
    <link rel="stylesheet"  href="{{ CONFIG.ROOTURL }}/assets/css/sweetAlert2-bootstrap-4.min.css" />


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.css" integrity="sha256-Lfe6+s5LEek8iiZ31nXhcSez0nmOxP+3ssquHMR3Alo=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.css" integrity="sha256-AVsv7CEpB2Y1F7ZjQf0WI8SaEDCycSk4vnDRt0L2MNQ=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.min.css" integrity="sha256-DOWdbe6a1VwJwFpkimY6z5tW9mmrBNre2jZsAige5PE=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/bootstrap/main.min.css" integrity="sha256-auNBxJ+1OpvUJfYRsPihqLzJFUM9D3gpb8nOh5v0LiM=" crossorigin="anonymous" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.js" integrity="sha256-GBryZPfVv8G3K1Lu2QwcqQXAO4Szv4xlY4B/ftvyoMI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/interaction/main.min.js" integrity="sha256-MUHmW5oHmLLsvmMWBO8gVtKYrjVwUSFau6pRXu8dtnA=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.js" integrity="sha256-FT1eN+60LmWX0J8P25UuTjEEE0ZYvpC07nnU6oFKFuI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.min.js" integrity="sha256-L9T+qE3Ms6Rsuxl+KwLST6a3R/2o6m33zB5mR2KyPjU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/bootstrap/main.min.js" integrity="sha256-7ZOfggrgAdwfWGQAdm659B99D8KDYYNtA/mHYhsPwwg=" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-3">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                    {% if asset.assetTypes_thumbnail %}
                   <div class="text-center">
                        <img class="profile-user-img img-fluid" style="width:80%;"
                             src="{{ CONFIG.ROOTURL }}/assets/img/assets/{{asset.assetTypes_thumbnail}}"
                             alt="{{asset.assetTypes_name}}">
                    </div>
                    {% endif %}
                    <h3 class="profile-username text-center">{{asset.assetTypes_name}}</h3>
                    {% if assets|length == 1 %}
                    <p class="text-muted text-center">{{ assets[0].assets_tag|aTag }}</p>
                    {% endif %}

                    <ul class="list-group list-group-unbordered mb-3">
                        {% if assets|length == 1 %}
                            {% for field in asset.fields %}
                                {% if field != "" %}
                                <li class="list-group-item">
                                    <b>{{field}}</b> <a class="float-right">{{ assets[0]['asset_definableFields_' ~ loop.index] }}</a>
                                </li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <li class="list-group-item">
                            <b>Mass</b> <a class="float-right">{{asset.assetTypes_mass != "" and asset.assetTypes_mass != 0 ? asset.assetTypes_mass ~ "kg" : "?" }}</a>
                        </li>
                        <li class="list-group-item">
                            <b>Category</b> <a class="float-right" href="assets.php?category={{  asset.assetCategories_id }}">{{ asset.assetCategories_name }}</a>
                        </li>
                        <li class="list-group-item">
                            <b>Manufacturer</b> <a class="float-right" href="assets.php?manufacturer={{ asset.manufacturers_id }}">{{ asset.manufacturers_name }}</a>
                        </li>
                        <li class="list-group-item">
                            <b>Value</b> <a class="float-right">&pound;{{ asset.assetTypes_value }}</a>
                        </li>
                        <li class="list-group-item">
                            <b>Day Rate</b> <a class="float-right">&pound;{{ asset.assetTypes_dayRate }}</a>
                        </li>
                        <li class="list-group-item">
                            <b>Week Rate</b> <a class="float-right">&pound;{{ asset.assetTypes_weekRate }}</a>
                        </li>
                    </ul>
                    {% if asset.oneasset %}
                        <a href="?id={{asset.assetTypes_id}}" class="btn btn-info btn-block"><b>View All</b></a>
                    {% endif %}
                    {% if USERDATA.users_selectedProjectID != null and 31|instancePermissions and assets|length == 1 %}
                        <button title="Remove from project" {% if (not assets[0].assignment) or USERDATA.users_selectedProjectID != assets[0].assignment[0].projects_id %}style="display:none;"{% endif %} class="btn btn-block btn-warning removeFromBasketAssetButton" data-assetid="{{ assets[0]['assets_id'] }}">Remove from Project</button>
                        {%  if assets[0].assignment and USERDATA.users_selectedProjectID != assets[0].assignment[0].projects_id %}
                            <button title="Assigned to {{ assets[0].assignment[0]['projects_name'] }}" class="btn btn-block btn-success" disabled>Can't add to project</button>
                        {% endif %}
                        <button title="Add to project" {% if assets[0].assignment %} style="display:none;"{% endif %} class="btn btn-block btn-success addToBasketAssetButton" data-assetid="{{ assets[0]['assets_id'] }}">Add to Project</button>
                    {% endif %}
                    {% if 19|instancePermissions and assets|length == 1 %}
                        <button class="btn btn-danger btn-block deleteAssetButton" data-assetid="{{ assets[0]['assets_id'] }}" style="margin-bottom: 10px;">Delete</button>
                    {% endif %}
                    {{asset.assetTypes_description|nl2br}}
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
            <div class="card">
                <div class="card-header p-2">
                    <ul class="nav nav-pills">
                        {% if asset.oneasset %}
                           <li class="nav-item"><a class="nav-link" href="?id={{asset.assetTypes_id}}">View All</a></li>
                            {% elseif assets|length > 1 %}
                                <li class="nav-item"><a class="nav-link" href="#assets" data-toggle="tab">Assets</a></li>

                        {% endif %}
                        <li class="nav-item"><a class="nav-link active" href="#timeline" data-toggle="tab">Timeline</a></li>
                        <li class="nav-item"><a class="nav-link" {# href="#settings" data-toggle="tab" #}>Edit</a></li>
                    </ul>
                </div><!-- /.card-header -->
                <div class="card-body" style="padding: 0;">
                    <div class="tab-content">
                        <div class="tab-pane table-responsive p-0" id="assets" style="height: 600px;">
                            <table class="table table-head-fixed">
                                <tr>
                                    <th style="width:70px;">ID</th>
                                    {% for field in asset.fields %}
                                        <th>{{ field }}</th>
                                    {% endfor %}
                                    <th>Notes</th>
                                    <th>Status</th>
                                    <th style="width:30px;"></th>
                                </tr>
                                {% for thisasset in assets %}
                                    <tr>
                                        <td><a href="?id={{ asset.assetTypes_id }}&asset={{ thisasset.assets_id }}">{{ thisasset.assets_tag|aTag }}</a></td>
                                        {% for field in asset.fields %}
                                            <td>{{ thisasset['asset_definableFields_' ~ loop.index] }}</td>
                                        {% endfor %}
                                        <td>{{ thisasset['assets_notes']|nl2br }}</td>
                                        <td><span class="badge bg-red"></span></td>
                                        <td>
                                            <div class="btn-group">
                                                {% if USERDATA.users_selectedProjectID != null and 31|instancePermissions %}
                                                    <button title="Remove from project" {% if (not thisasset.assignment) or USERDATA.users_selectedProjectID != thisasset.assignment[0].projects_id %}style="display:none;"{% endif %} class="btn btn-sm btn-warning removeFromBasketAssetButton" data-assetid="{{ thisasset['assets_id'] }}"><i class="fa fa-shopping-basket"></i></button>
                                                    {%  if thisasset.assignment and USERDATA.users_selectedProjectID != thisasset.assignment[0].projects_id %}
                                                        <button title="Assigned to {{ thisasset.assignment[0]['projects_name'] }}" class="btn btn-sm btn-success" disabled><i class="fa fa-shopping-basket"></i></button>
                                                    {% endif %}
                                                    <button title="Add to project" {% if thisasset.assignment %} style="display:none;"{% endif %} class="btn btn-sm btn-success addToBasketAssetButton" data-assetid="{{ thisasset['assets_id'] }}"><i class="fa fa-shopping-basket"></i></button>
                                                {% endif %}
                                                {% if 19|instancePermissions %}
                                                    <button title="Delete" class="btn btn-sm btn-danger deleteAssetButton" data-assetid="{{ thisasset['assets_id'] }}"><i class="fa fa-trash"></i></button>
                                                {% endif %}
                                                <a class="btn btn-sm btn-info" title="View" href="?id={{ asset.assetTypes_id }}&asset={{ thisasset.assets_id }}"><i class="far fa-arrow-alt-circle-right"></i></a>
                                                </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <!-- /.tab-pane -->
                        <div class="active tab-pane" style="padding: 1.25rem" id="timeline">
                            <div id="calendar"></div>
                            <script>
                                $(function () {
                                    /* initialize the calendar
                                     -----------------------------------------------------------------*/
                                    var Calendar = FullCalendar.Calendar;
                                    var Draggable = FullCalendarInteraction.Draggable;

                                    var calendarEl = document.getElementById('calendar');

                                    // initialize the external events
                                    // -----------------------------------------------------------------

                                    var calendar = new Calendar(calendarEl, {
                                        plugins: [ 'bootstrap', 'interaction', 'dayGrid', 'timeGrid' ],
                                        buttonText:  {
                                            today:    'Today',
                                            month:    'Month',
                                            week:     'Week',
                                            day:      'Day',
                                            list:     'List'
                                        },
                                        header    : {
                                            left  : 'prev,next today',
                                            center: 'title',
                                            right : 'dayGridMonth{% if assets|length == 1 %},timeGridWeek{% endif %}'
                                        },
                                        //Random default events
                                        events    : [
                                            {% set earliestStart = false %}
                                            {% set latestEnd = false %}
                                            {% for thisasset in assets %}
                                                {% for assignment in thisasset.assignments %}
                                                {
                                                    title          : '{% if assets|length > 1 %}{{ thisasset.assets_tag|aTag }} {% endif %}[{{ STATUSES[assignment.projects_status]["name"] }}] {{ assignment.projects_name }}',
                                                    start          : Date.parse("{{ assignment.projects_dates_deliver_start|date("c") }}"),
                                                    end            : Date.parse("{{ assignment.projects_dates_deliver_end|date("c") }}"),
                                                    url            : '{{CONFIG.ROOTURL}}/project/?id={{ assignment.projects_id }}',
                                                    backgroundColor: '{{ STATUSES[assignment.projects_status]["backgroundColour"] }}',
                                                    textColor    : '{{ STATUSES[assignment.projects_status]["foregroundColour"] }}'
                                                },
                                                {% if earliestStart > assignment.projects_dates_deliver_start|date("c") or earliestStart == false %}
                                                    {% set earliestStart = assignment.projects_dates_deliver_start|date("c") %}
                                                {% endif %}
                                                {% if latestEnd < assignment.projects_dates_deliver_end|date("c") or latestEnd == false %}
                                                    {% set latestEnd = assignment.projects_dates_deliver_end|date("c") %}
                                                {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                        ],
                                        validRange: {
                                            start: '{{ earliestStart|date("c") }}',
                                            end: '{{ latestEnd|date("c") }}'
                                        },
                                        editable  : false,
                                        droppable : false, // this allows things to be dropped onto the calendar !!!
                                        drop      : function(info) {

                                        },
                                        height: 600,
                                        firstDay: 1,
                                    });

                                    calendar.render();
                                })
                            </script>
                        </div>
                        <!-- /.tab-pane -->

                        <div class="tab-pane" style="padding: 1.25rem"  id="settings">
                            <form class="form-horizontal">
                                <div class="form-group row">
                                    <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="inputName" placeholder="Name">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputName2" class="col-sm-2 col-form-label">Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputName2" placeholder="Name">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputExperience" class="col-sm-2 col-form-label">Experience</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" id="inputExperience" placeholder="Experience"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputSkills" class="col-sm-2 col-form-label">Skills</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputSkills" placeholder="Skills">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-2 col-sm-10">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-2 col-sm-10">
                                        <button type="submit" class="btn btn-danger">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                </div><!-- /.card-body -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
    </div>


    {% if 19|instancePermissions %}
        <script>
            $(document).ready(function () {

                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                });

                $(".deleteAssetButton").click(function () {
                    var assetid = $(this).data("assetid");
                    bootbox.confirm({
                        message: "Are you sure you wish to delete this asset?",
                        buttons: {
                            confirm: {
                                label: 'Yes',
                                className: 'btn-danger'
                            },
                            cancel: {
                                label: 'No',
                                className: 'btn-success'
                            }
                        },
                        callback: function (result) {
                            if (result) {
                                ajaxcall("assets/delete.php", {"assets_id":assetid}, function (data) {
                                    window.location.href = "{{CONFIG.ROOTURL}}/assets.php";
                                });
                            }
                        }
                    });
                });
                {% if USERDATA.users_selectedProjectID != null and 31|instancePermissions %}
                $(".addToBasketAssetButton").click(function () {
                    var assetId=$(this).data("assetid");
                    ajaxcall("projects/assets/assign.php", {"assets_id":$(this).data("assetid")}, function (data) {
                        $(".addToBasketAssetButton[data-assetid=" + assetId + "]").hide();
                        $(".removeFromBasketAssetButton[data-assetid=" + assetId + "]").show();
                        Toast.fire({
                            type: 'success',
                            title: 'Added to {{ thisProject.projects_name }}'
                        });
                    });
                });
                {% endif %}
                {% if USERDATA.users_selectedProjectID != null and 31|instancePermissions %}
                $(".removeFromBasketAssetButton").click(function () {
                    var assetId = $(this).data("assetid");
                    bootbox.confirm({
                        message: "Are you sure you wish to remove this asset from the project?",
                        buttons: {
                            confirm: {
                                label: 'Yes',
                                className: 'btn-danger'
                            },
                            cancel: {
                                label: 'No',
                                className: 'btn-success'
                            }
                        },
                        callback: function (result) {
                            if (result) {
                                $(".addToBasketAssetButton[data-assetid=" + assetId + "]").show();
                                $(".removeFromBasketAssetButton[data-assetid=" + assetId + "]").hide();
                                ajaxcall("projects/assets/unassign.php", {"assets_id":assetId}, function (data) {
                                    Toast.fire({
                                        type: 'success',
                                        title: 'Removed from {{ thisProject.projects_name }}'
                                    });
                                });
                            }
                        }
                    });
                });
                {% endif %}
            });
        </script>
    {% endif %}
{% endblock %}
