{% extends "assets/template.twig" %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="card ">
                <div class="card-header">
                    <h3 class="card-title">
                        {% if search|length > 0 %}
                            Search results for assets matching <b>{{ search }}</b>
                        {% elseif thisCategory %}
                            <i class="fas {{thisCategory.assetCategories_fontAwesome}} nav-icon"></i>
                            {{ thisCategory.assetCategories_name}} Assets
                        {% elseif thisManufacturer %}
                            Assets by {{ thisManufacturer.manufacturers_name}}
                            {% if thisManufacturer.manufacturers_website != "" %}
                                <a style="margin-left: 10px;" class="btn btn-sm btn-default" target="_blank" href="{{ thisManufacturer.manufacturers_website }}">{{ thisManufacturer.manufacturers_website }}</a>
                            {% endif %}
                        {% else %}
                            All Assets
                        {% endif %}
                    </h3>
                    <div class="card-tools pull-right">
                        <form class="input-group input-group-sm"  method="GET">
                            <input type="text" name="q" class="form-control" placeholder="Search all assets" value="{{ search }}" />
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search" title="Search"></i></button>
                                <a href="{{ CONFIG.ROOTURL }}/api/assets/export.php?xlsx" class="btn btn-default" title="Excel Export"><i class="fas fa-file-excel"></i></a>
                                <a href="{{ CONFIG.ROOTURL }}/api/assets/export.php?csv" class="btn btn-default" title="CSV Export"><i class="fas fa-file-csv"></i></a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card-body table-responsive p-0">
                    {% if assets|length > 0 %}
                        <table class="table table-head-fixed" border="0" style="overflow-x: scroll;">
                            <tbody>
                            {% for asset in assets %}
                                <tr>
                                    <td style="min-width: 92px; max-width: 100px; text-align: right;">
                                        {% if showTags %}
                                            {% for tag in asset.tags %}
                                                {{ tag.assets_tag|aTag  }}<br/>
                                            {% endfor %}
                                        {% else %}
                                            {{ asset.count }}x
                                        {% endif %}
                                    </td>
                                    <td><a href="asset.php?id={{ asset.assetTypes_id }}">{{ asset.assetTypes_name }}</a></td>
                                    <td><a href="?manufacturer={{ asset.manufacturers_id }}">{{ asset.manufacturers_name }}</a></td>
                                    <td>{{ asset.assetTypes_description|nl2br }}</td>
                                    <td><a href="?category={{  asset.assetCategories_id }}">{{ asset.assetCategories_name }}</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <center><p style="margin: 10px;"><i>No results</i><br/><a href="?">Remove any filters</a></p></center>
                    {% endif %}
                </div>
                <div class="overlay" id="loadingoverlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <div class="card-footer clearfix">
                    {% if showTags != true %}
                        <button class="btn btn-sm btn-default showTagsButton">Show asset codes</button>
                    {% endif %}
                    {% if pagination.total > 1 %}
                    <ul class="pagination pagination-sm m-0 float-right">
                        {% if pagination.page > 1 %}
                            <li class="page-item"><a class="page-link" href="?{{ {page: (pagination.page -1)}|modifyGet }}">&laquo;</a></li>
                        {% endif %}

                        {% for i in range((pagination.page > 3 ? pagination.page-2 : 1), (pagination.total > 5 and pagination.page+2 < pagination.total ? pagination.page+2 : pagination.total)) %}
                            <li class="page-item"><a class="page-link" href="?{{ {page: i}|modifyGet }}">
                                    {% if pagination.page == i %}
                                        <b>{{ i }}</b>
                                    {% else %}
                                        {{ i }}
                                    {% endif %}
                                </a></li>
                        {% endfor %}

                        {% if pagination.page < pagination.total %}
                            <li class="page-item"><a class="page-link" href="?{{ {page: (pagination.page +1)}|modifyGet }}">&raquo;</a></li>
                        {% endif %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                $("#loadingoverlay").hide();
                $(".showTagsButton").click(function () {
                    insertURLQueryParam("showtags", "1");
                });
            });
        </script>
    </div>
{% endblock %}
