{% extends "assets/template.twig" %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="card ">
                <div class="card-header">
                    <h3 class="card-title">
                        {% if search|length > 0 %}
                            Search results for manufacturers matching <b>{{ search }}</b>
                        {% else %}
                            Manufacturers
                        {% endif %}
                    </h3>
                    <div class="card-tools pull-right">
                        <form class="input-group input-group-sm" style="width: 150px;" method="GET">
                            <input type="text" name="q" class="form-control" placeholder="Search" value="{{ search }}" />
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                {% if "ASSETS:MANUFACTURERS:CREATE"|instancePermissions %}
                                    <button type="button" class="btn btn-default" id="newManufacturerButton"><i class="fa fa-plus"></i></button>
                                {% endif %}
                            </div>

                        </form>
                    </div>
                </div>
                <div class="card-body table-responsive p-0">
                    {% if manufacturers|length > 0 %}
                        <table class="table table-head-fixed" border="0" style="overflow-x: scroll;">
                            <tbody>
                            {% for manufacturer in manufacturers %}
                                <tr>
                                    <td><a href="{{CONFIG.ROOTURL}}/assets.php?manufacturer%5B%5D={{ manufacturer.manufacturers_id }}&showlinked=1&showarchived=1">{{ manufacturer.manufacturers_name }}</a></td>
                                    <td><a href="{{ manufacturer.manufacturers_website }}" target="_blank">{{ manufacturer.manufacturers_website }}</a></td>
                                    <td>{{  manufacturer.manufacturers_notes|nl2br }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <center><p style="margin: 10px;"><i>No results</i><br/><a href="?">Remove any filters</a></p></center>
                    {% endif %}
                </div>
                <div class="overlay" id="loadingoverlay">
                    <i class="fas fa-sync fa-spin fa-3x"></i>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                $("#loadingoverlay").hide();
                {% if "ASSETS:MANUFACTURERS:CREATE"|instancePermissions %}
                $("#newManufacturerButton").click(function () {
                    bootbox.prompt("Enter Manufacturer Name", function (result) {
                        if (result) {
                            ajaxcall("manufacturer/new.php", {"manufacturers_name": result}, function (data) {
                                location.reload();
                            });
                        }
                    });
                });
                {% endif %}
            });
        </script>
    </div>
{% endblock %}
