{% extends "assets/template.twig" %}

{% block content %}

    <div class="row">
        {% if TICKETS|length > 0 %}
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        My Support Tickets
                    </h3>
                </div>
                <div class="card-body table-responsive p-0">
                    <table class="table table-head-fixed table-striped" border="0" style="overflow-x: scroll;">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Type</th>
                            <th>Source</th>
                            <th>Subject</th>
                            <th>Created</th>
                            <th>Updated</th>
                            <th>Status</th>
                            <th>Priority</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for ticket in TICKETS %}
                            <tr>
                                <td>#{{ ticket.id }}</td>
                                <td>{{ ticket.type }}</td>
                                <td>{{ticket.source}}</td>
                                <td>{{ ticket.subject }}</td>
                                <td>{{ ticket.created_at|date("d/M/Y G:i:s") }}</td>
                                <td>{{ ticket.created_at|date("d/M/Y G:i:s") }}</td>
                                <td>{{ ticket.status }}</td>
                                <td>{{ ticket.priority }}</td>
                                <td>
                                    <button data-toggle="modal" data-target="#ticketModal{{ ticket.id }}" type="button" class="btn btn-secondary btn-sm">View Ticket</button>
                                </td>
                            </tr>
                            <div class="modal fade" id="ticketModal{{ ticket.id }}">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Ticket {{ ticket.subject }}</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body p-0">
                                            <div class="card">
                                                <div class="card-footer card-comments">
                                                    <div class="card-comment">
                                                        <img class="img-circle img-sm" src="{{ USERDATA.users_thumbnail ? USERDATA.users_thumbnail|s3URL("tiny") : CONFIG.ASSETCDNURL ~ '/img/default-profile-picture.jpg' }}" alt="User Image">
                                                        <div class="comment-text">
                                                            <span class="username">
                                                                {{ USERDATA.users_name1 }} {{ USERDATA.users_name2 }}
                                                                <span class="text-muted float-right">{{ ticket.created_at|date("d/M/Y G:i:s") }}</span>
                                                            </span>
                                                            {{ ticket.description|cleanString|raw }}
                                                        </div>
                                                    </div>
                                                    {% for message in ticket.conversation %}
                                                        {% if message.private == false %}
                                                            {% if message.incoming %}
                                                                <div class="card-comment">
                                                                    <img class="img-circle img-sm" src="{{ USERDATA.users_thumbnail ? USERDATA.users_thumbnail|s3URL("tiny") : CONFIG.ASSETCDNURL ~ '/img/default-profile-picture.jpg' }}" alt="User Image">
                                                                    <div class="comment-text">
                                                                        <span class="username">
                                                                            {{ USERDATA.users_name1 }} {{ USERDATA.users_name2 }}
                                                                            <span class="text-muted float-right">{{ message.created_at|date("d/M/Y G:i:s") }}</span>
                                                                        </span>
                                                                        {{ message.body|cleanString|raw }}
                                                                    </div>
                                                                </div>
                                                            {% else %}
                                                            <div class="card-comment">
                                                                <img class="img-circle img-sm" src="{{ CONFIG.ASSETCDNURL }}/img/logoicon.png" alt="User Image">
                                                                <div class="comment-text">
                                                                    <span class="username">
                                                                        AdamRMS Support
                                                                        <span class="text-muted float-right">{{ message.created_at|date("d/M/Y G:i:s") }}</span>
                                                                    </span>
                                                                    {{ message.body|cleanString|raw }}
                                                                </div>
                                                            </div>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <button data-toggle="modal" data-target="#newTicketModal" type="button" class="btn btn-default">Create New Ticket</button>
                    <div class="modal fade" id="newTicketModal">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Create New Ticket</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p style="padding: 15px;">Before creating a support ticket, please try and first <a href="{{ CONFIG.USERGUIDEURL }}intro">consult the user guide</a> to see if your issue is covered there.</p>
                                    <form id="createTicketForm">
                                        <div class="input-group" style="margin-bottom: 5px;">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Subject</span>
                                            </div>
                                            <input required type="text" class="form-control" name="subject" placeholder="Asset showing error message">
                                        </div>
                                        <div class="input-group" style="margin-bottom: 5px;">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Description</span>
                                            </div>
                                            <textarea type="text" class="form-control" name="description" rows="4" placeholder="The drum revolve asset is not able to be assiged to a project for some reason"></textarea>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                   <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary createTicketButton">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        About AdamRMS
                    </h3>
                </div>
                <div class="card-body">
                    <p>
                        You are running version {{ CONFIG.VERSION.TAG }} of AdamRMS. <a href="https://adam-rms.com">Check out the user guide</a> for help getting started.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="https://adam-rms.com" class="btn btn-default float-right" id="saveButton">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $(".createTicketButton").click(function () {
                var formData = $("#createTicketForm").serializeArray();
                ajaxcall("support/newTicket.php", {formData}, function (data) {
                    location.reload();
                });
            });
        });
    </script>
{% endblock %}
