{% extends "assets/template.twig" %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            {% if 3|permissions %}
                <div class="alert alert-warning alert-dismissible" style="border: 0px; margin-bottom: 15px;">
                    <h4><i class="fa fa-exclamation"></i> You have permission to view E-Mail addresses in this list</h4>
                    Please use caution and do not divulge these email addresses as per appropriate privacy policies
                </div>
            {% endif %}
        </div>
        <div class="col-lg-12">
            <div class="card ">
                <div class="card-header">
                    <h3 class="card-title">
                        {% if search|length > 0 %}
                            Search results for users matching <b>{{ search }}</b>
                        {% else %}
                            Users
                        {% endif %}
                    </h3>
                    <div class="card-tools pull-right">
                        <form class="input-group input-group-sm" style="width: 150px;" method="GET">
                            <input type="text" name="q" class="form-control pull-right" placeholder="Search" value="{{ search }}" />
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                {% if 4|permissions %}
                                    <button type="button" title="Add new User" id="addNewUserButton" class="btn btn-default"><i class="fa fa-plus"></i></button>
                                    <script>
                                        $("#addNewUserButton").click(function () {
                                            window.location.href = "{{ CONFIG.ROOTURL }}/account.php?new";
                                        });
                                    </script>
                                {% endif %}
                            </div>

                        </form>
                    </div>
                </div>
                <div class="card-body table-responsive p-0">
                    {% if users|length > 0 %}
                        <table class="table table-head-fixed" border="0" style="overflow-x: scroll;">
                            <thead>
                            <tr>
                                <th>Thumbnail</th>
                                <th>Username</th>
                                <th>Firstname</th>
                                <th>Lastname</th>
                                {% if 3|permissions %}
                                    <th>Email</th>{% endif %}
                                <th>Roles</th>
                                <th>Instances</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr
                                        {% if user.users_suspended == '1' %}
                                        class="danger"
                                        {% endif %}>
                                    <td><img alt="{{user.users_name1 ~ " " ~ user.users_name2 }}" class="table-avatar" style="height: 63px;" src="{{ user.users_thumbnail ? user.users_thumbnail|s3URL("small") : 'https://cdn.adam-rms.com/default-profile-picture.jpg' }}"></td>
                                    <td>{{ user.users_username }}</td>
                                    <td>{{ user["users_name1"] }}</td>
                                    <td>{{ user["users_name2"] }}</td>

                                    {% if 3|permissions %}
                                        <td>{{ user["users_email"] }} {{ user["users_emailVerified"] == 1 ? '<i class="fa fa-check-square-o">' : null }}</td>{% endif %}
                                    <td>
                                        {% if user.users_suspended == '1' %}
                                            <span class="badge bg-danger">Suspended</span><br/>
                                        {% endif %}
                                        {% if user.currentPositions|length > 0 %}
                                            {% for position in user.currentPositions %}
                                                {% if position.userPositions_displayName != null %}
                                                    {{ position.userPositions_displayName }}
                                                {% else %}
                                                    {{ position.positions_displayName }}
                                                {% endif %}
                                                <br/>
                                            {% endfor %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if user.instances|length < 1 %}
                                            <span class="badge bg-warning">No instances</span><br/>
                                        {% endif %}
                                        {% for instance in user.instances %}
                                            {% if instance.userInstances_archived != null and instance.userInstances_archived|date('Y-m-d H:i:s') <= "now"|date('Y-m-d H:i:s') %}
                                                <span class="badge bg-danger">Archived</span>
                                            {% endif %}
                                            {{ instance.instances_name }} ({{ instance.instances_plan }}) - {{ instance.userInstances_label }} ({{ instance.instancePositions_displayName }})<br/>
                                        {% endfor %}
                                    </td>
                                    <td>


                                    </td>
                                    <td>
                                        {% if 6|permissions %}
                                            <button type="button" title="View Mailings for user" class="btn btn-info"
                                                    data-toggle="modal"
                                                    data-target="#useremailmodal{{ user["users_userid"] }}"
                                            {% if mailings[user.users_userid]|length < 1 %}disabled{% endif %}><i
                                                        class="fa fa-envelope"></i></button>
                                        {% endif %}
                                        {% if user.users_userid != USERDATA.users_userid %}
                                            {% if 5|permissions %}
                                                <a href="{{ CONFIG.ROOTURL }}/account.php?uid={{ user["users_userid"] }}"
                                                   type="button" title="Edit user" class="btn btn-default"><i
                                                            class="fa fa-pencil-alt"></i></a>
                                            {% endif %}
                                            {% if user.users_suspended == '0' %}
                                                <!--Destroy all user tokens-->
                                                {% if 7|permissions %}
                                                    <button type="button" title="Log User out on all devices"
                                                            class="btn btn-danger logoutbutton"
                                                            data-userid="{{ user.users_userid }}"><i
                                                                class="fa fa-sign-out-alt"></i></button>
                                                {% endif %}
                                            {% endif %}

                                            {% if 9|permissions %}
                                                <button type="button"
                                                        class="btn btn-{{ user.users_suspended == '1' ? 'success' : 'danger' }} suspenduser"
                                                        data-suspendval="{{ user.users_suspended == '1' ? '0' : '1' }}"
                                                        data-userid="{{ user.users_userid }}"
                                                        title="{{ user.users_suspended == '0' ? 'Suspend user' : 'Un-Suspend user' }}">
                                                    <i class="fa fa-times-circle"></i></button>
                                            {% endif %}
                                            {% if 10|permissions %}
                                                <a href="{{ CONFIG.ROOTURL }}/api/account/viewSiteAs.php?userid={{ user["users_userid"] }}"
                                                   title="Login as User">
                                                    <button type="button" class="btn btn-default"><i
                                                                class="fa fa-sign-in-alt"></i></button>
                                                </a>
                                            {% endif %}
                                        {% endif %}

                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <center><p style="margin: 10px;"><i>No results</i><br/><a href="?">Remove any filters</a></p></center>
                    {% endif %}
                </div>
                <div class="overlay" id="loadingoverlay">
                    <i class="fas fa-sync fa-spin fa-3x"></i>
                </div>
                {% if pagination.total > 1 %}
                <div class="card-footer clearfix">
                    <ul class="pagination pagination-sm m-0 float-right">
                        {% if pagination.page > 1 %}
                        <li class="page-item"><a class="page-link" href="?{{ {page: (pagination.page -1)}|modifyGet }}">&laquo;</a></li>
                        {% endif %}

                        {% for i in range((pagination.page > 3 ? pagination.page-2 : 1), (pagination.total > 5 and pagination.page+2 < pagination.total ? pagination.page+2 : pagination.total)) %}
                            <li class="page-item"><a class="page-link" href="?{{ {page: i}|modifyGet }}">
                                    {% if pagination.page == i %}
                                        <b>{{ i }}</b>
                                    {% else %}
                                        {{ i }}
                                    {% endif %}
                                </a></li>
                        {% endfor %}

                        {% if pagination.page < pagination.total %}
                            <li class="page-item"><a class="page-link" href="?{{ {page: (pagination.page +1)}|modifyGet }}">&raquo;</a></li>
                        {% endif %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
        {% for user in users %}
            {% if 6|permissions %}
                <div id="useremailmodal{{ user["users_userid"] }}" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title"> E-Mails
                                    to {{ user["users_name1"] }} {{ user["users_name2"] }}</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="list-group">
                                    {% for email in mailings[user.users_userid] %}
                                        <a href="{{ CONFIG.ROOTURL }}/api/account/emailViewer.php?email={{ email.emailSent_id }}"
                                           target="_blank" class="list-group-item"><span
                                                    class="badge">{{ email.emailSent_sent|date("d/m/Y H:i:s", "Europe/London") }}</span> {{ email.emailSent_subject }}
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="{{ CONFIG.ROOTURL }}/api/account/emailViewer.php?email={{ user.users_emails }}"
                                   class="btn btn-default">Output All</a>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}


        {% endfor %}
        <script>
            $(document).ready(function () {
                function password() {
                    var iteration = 0;
                    var password = "";
                    var randomNumber;
                    var special = false; //Allow special characters
                    while (iteration < 10) {
                        randomNumber = (Math.floor((Math.random() * 100)) % 94) + 33;
                        if (!special) {
                            if ((randomNumber >= 33) && (randomNumber <= 47)) {
                                continue;
                            }
                            if ((randomNumber >= 58) && (randomNumber <= 64)) {
                                continue;
                            }
                            if ((randomNumber >= 91) && (randomNumber <= 96)) {
                                continue;
                            }
                            if ((randomNumber >= 123) && (randomNumber <= 126)) {
                                continue;
                            }
                        }
                        iteration++;
                        password += String.fromCharCode(randomNumber);
                    }
                    return password;
                }

                $("#loadingoverlay").hide();
                {% if 7|permissions %}
                $(".logoutbutton").click(function () {
                    $("#loadingoverlay").show();
                    $.ajax({
                        url: "{{ CONFIG.ROOTURL }}/api/account/destroyTokens.php?userid=" + $(this).data("userid"),
                        success: function (result) {
                            if (result == '1') {
                                $("#loadingoverlay").hide();
                            } else {
                                bootbox.alert("Sorry - Operation could not be completed! Please reload the page")
                            }
                        }
                    });
                });
                {% endif %}
                {% if 9|permissions %}
                $(".suspenduser").click(function () {
                    $("#loadingoverlay").show();
                    $.ajax({
                        url: "{{ CONFIG.ROOTURL }}/api/account/suspend.php?userid=" + $(this).data("userid") + '&suspendval=' + $(this).data("suspendval"),
                        success: function (result) {
                            if (result == '1') {
                                bootbox.alert("Success", function () {
                                    location.reload();
                                });
                            } else {
                                bootbox.alert("Sorry - Operation could not be completed! Please reload the page", function () {
                                    location.reload();
                                });
                            }
                        }
                    });
                });
                {% endif %}
            });
        </script>
    </div>
{% endblock %}
