{% if ASSETS %}
<div class="card card-solid">
    <div class="card-header">
        <h3 class="card-title" style="margin-top: 0.4rem;">
            Showing {{ PAGINATION.OFFSET>0 ? 'results ' ~ PAGINATION.OFFSET ~ '-' ~ (PAGINATION.OFFSET+(ASSETS|length)) : ASSETS|length }} of {{ PAGINATION.COUNT }} result{{ PAGINATION.COUNT == 1 ? '' : 's' }} found in {{ SPEED|round(1) }} second{{ SPEED|round(1) != 1 ? 's':'' }}
        </h3>
        <div class="card-tools pull-right">
        {% if PAGINATION['TOTAL-PAGES'] > 1 %}
            <ul class="pagination pagination-sm m-0">
                {% if PAGINATION.PAGE > 1 %}
                    <li class="page-item"><a class="page-link" href="#" data-page="{{ (PAGINATION.PAGE -1) }}">&laquo;</a></li>
                {% endif %}

                {% for i in range((PAGINATION.PAGE > 3 ? PAGINATION.PAGE-2 : 1), (PAGINATION['TOTAL-PAGES'] > 5 and PAGINATION.PAGE+2 < PAGINATION['TOTAL-PAGES'] ? PAGINATION.PAGE+2 : PAGINATION['TOTAL-PAGES'])) %}
                    <li class="page-item"><a class="page-link" href="#" data-page="{{ i }}">
                            {% if PAGINATION.PAGE == i %}
                                <b>{{ i }}</b>
                            {% else %}
                                {{ i }}
                            {% endif %}
                        </a></li>
                {% endfor %}
                {% if PAGINATION.PAGE < PAGINATION['TOTAL-PAGES'] %}
                    <li class="page-item"><a class="page-link" href="#" data-page="{{PAGINATION.PAGE+1}}">&raquo;</a></li>
                {% endif %}
            </ul>
        {% endif %}
        </div>
    </div>
    <div class="card-body">
        <div class="row d-flex align-items-stretch">
            {% for asset in ASSETS %}
                <div class="col-auto d-flex align-items-stretch" style="padding: 10px;">
                    <div class="card bg-light">
                        <div class="card-body" style="max-width: 250px;">
                            <h2 class="lead"><b>{{ asset.assetTypes_name }}</b></h2>
                            {% if asset.thumbnail|length > 0 %}
                                <div class="{% if asset.thumbnail|length > 1 %}slick{% endif %}" style="text-align:center;height:200px;">
                                    {% for thumb in asset.thumbnail %}
                                        <div>
                                            <a href="{{ CONFIG.ROOTURL }}/asset.php?id={{ asset.assetTypes_id }}{{ SEARCH["SETTINGS"]["SHOWARCHIVED"] ? '&showArchived' : ''}}">
                                            <img class="img-fluid" style="max-height: 200px;"
                                                 src="{{ thumb.s3files_id|s3URL("small") }}"
                                                 alt="{{asset.assetTypes_name}}"></a>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <p class="text-muted text-sm">{{ asset.assetTypes_description|length > 60 ? (asset.assetTypes_description|slice(0, 60) ~ '...')|nl2br : asset.assetTypes_description|nl2br  }}</p>
                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                <li class="small"><span class="fa-li"><i class="{{ asset.assetCategories_fontAwesome }}"></i></span> {{ asset.assetCategoriesGroups_name }} - {{ asset.assetCategories_name }}</li>
                                {% if asset.manufacturers_id != 1 %}<li class="small"><span class="fa-li"><i class="fas fa-industry"></i></span> {{ asset.manufacturers_name }}</li>{% endif %}
                                {% if asset.count == 1 %}
                                    {# Because there's just one asset it might have a load of specific overrides so we had better show those #}
                                    {% if asset.tags[0]['assets_mass'] != 0 or asset.assetTypes_mass != 0 %}
                                    <li class="small">
                                        <span class="fa-li"><i class="fas fa-weight"></i></span> {{ (asset.tags[0]['assets_mass'] ? asset.tags[0]['assets_mass']|number_format(2) : (asset.assetTypes_mass != "" and asset.assetTypes_mass != 0 ? asset.assetTypes_mass|mass : '?')) }}
                                    </li>
                                        {% endif %}
                                    <li class="small">
                                        {% if SEARCH.INSTANCE['instances_publicConfig']['enableAssetsValues'] or AUTH.login %}
                                            <span class="fa-li"><i class="fas fa-money-bill-wave"></i></span> {{ (asset.tags[0]['assets_value'] ?: asset.assetTypes_value)|money(SEARCH.INSTANCE['instances_config_currency']) }}<br/>
                                        {% endif %}
                                        {% if SEARCH.INSTANCE['instances_publicConfig']['enableAssetsPrices'] or AUTH.login %}
                                            {{ (asset.tags[0]['assets_dayRate'] ?: asset.assetTypes_dayRate)|money(SEARCH.INSTANCE['instances_config_currency']) }}/day<br/>{{ (asset.tags[0]['assets_weekRate'] ?: asset.assetTypes_weekRate)|money(SEARCH.INSTANCE['instances_config_currency']) }}/week
                                        {% endif %}
                                    </li>
                                {% else %}
                                    {% if asset.assetTypes_mass != "" and asset.assetTypes_mass != 0  %}
                                        <li class="small">
                                            <span class="fa-li"><i class="fas fa-weight"></i></span> {{ asset.assetTypes_mass|mass }}
                                        </li>
                                    {% endif %}
                                    <li class="small">
                                        {% if SEARCH.INSTANCE['instances_publicConfig']['enableAssetsValues'] or AUTH.login %}
                                            <span class="fa-li"><i class="fas fa-money-bill-wave"></i></span> {{ asset.assetTypes_value|money(SEARCH.INSTANCE['instances_config_currency']) }}<br/>
                                        {% endif %}
                                        {% if SEARCH.INSTANCE['instances_publicConfig']['enableAssetsPrices'] or AUTH.login %}
                                            {{ asset.assetTypes_dayRate|money(SEARCH.INSTANCE['instances_config_currency']) }}/day<br/>{{ asset.assetTypes_weekRate|money(SEARCH.INSTANCE['instances_config_currency']) }}/week
                                        {% endif %}
                                    </li>
                                    <li class="small" title="Number owned"><span class="fa-li"><i class="fas fa-boxes"></i></span> {{asset.count}}</li>
                                {% endif %}

                            </ul>
                        </div>
                        <div class="card-footer">
                            <div class="text-right">
                                <div class="btn-group">
                                    {% if PROJECT.ID and AUTH.login and 31|instancePermissions %}
                                        {% if asset.count == 1 %}
                                            {% if asset.tags[0].assets_endDate != null and asset.tags[0].assets_endDate < PROJECT['DATEEND'] %}
                                                <button title="Asset to be archived" class="btn btn-sm btn-success" disabled><i class="fa fa-shopping-basket"></i></button>
                                            {% elseif asset.tags[0].flagsblocks.COUNT.BLOCK < 1 %}
                                                <button title="Remove from project" {% if (not asset.tags[0].assignment) or PROJECT.ID != asset.tags[0].assignment[0].projects_id %}style="display:none;"{% endif %} class="btn btn-sm btn-warning removeFromBasketAssetButton" data-assetid="{{ asset.tags[0]['assets_id'] }}"><i class="fa fa-shopping-basket"></i></button>
                                            {% if asset.tags[0].assignment and PROJECT.ID != asset.tags[0].assignment[0].projects_id %}
                                                    <button title="Assigned to {{ asset.tags[0].assignment[0]['projects_name'] }}" class="btn btn-sm btn-success" disabled><i class="fa fa-shopping-basket"></i></button>
                                                {% endif %}
                                                <button title="Add to project" {% if asset.tags[0].assignment %} style="display:none;"{% endif %} class="btn btn-sm btn-success addToBasketAssetButton" data-assetid="{{ asset.tags[0]['assets_id'] }}"><i class="fa fa-shopping-basket"></i></button>
                                            {% else %}
                                                <button class="btn btn-sm btn-danger" title="Asset is blocked from being assigned by a maintenance job" disabled><i class="fas fa-ban"></i></button>
                                            {% endif %}
                                        {% else %}
                                            {% set someassignable = false %}
                                            <div class="modal fade" id="assetDetailsModal{{ asset.assetTypes_id }}">
                                                <div class="modal-dialog modal-xl">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">{{ asset.assetTypes_name }}</h4>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body" style="padding:0;text-align:left;overflow-x: auto;">
                                                            <table class="table table-striped">
                                                                <tr>
                                                                    <th style="width:70px;">ID</th>
                                                                    {% for field in asset.fields %}
                                                                        <th>{{ field }}</th>
                                                                    {% endfor %}
                                                                    <th>Notes</th>
                                                                    <th>&pound;/day</th>
                                                                    <th>&pound;/week</th>
                                                                    <th style="width:1%"><i class="fas fa-flag"></i></th>
                                                                    <th style="width:30px;"></th>
                                                                </tr>
                                                                {% for thisasset in asset.tags %}
                                                                    <tr>
                                                                        <td>{{ thisasset.assets_tag|aTag }}</td>
                                                                        {% for field in asset.fields %}
                                                                            <td>{{ thisasset['asset_definableFields_' ~ loop.index] }}</td>
                                                                        {% endfor %}
                                                                        <td>{{ thisasset['assets_notes']|nl2br }}</td>
                                                                        <td>
                                                                            {{ (thisasset.assets_dayRate ?: asset.assetTypes_dayRate)|money(SEARCH.INSTANCE['instances_config_currency']) }}
                                                                        </td>
                                                                        <td>
                                                                            {{ (thisasset.assets_weekRate ?: asset.assetTypes_weekRate)|money(SEARCH.INSTANCE['instances_config_currency']) }}
                                                                        </td>
                                                                        <td>
                                                                            {{ thisasset.flagsblocks.COUNT.FLAG > 0 ?: '' }}
                                                                        </td>
                                                                        <td>
                                                                            <div class="btn-group">
                                                                                {% if thisasset.assets_endDate != null and thisasset.assets_endDate < PROJECT['DATEEND'] %}
                                                                                    <button title="Asset to be removed" class="btn btn-sm btn-success" disabled><i class="fa fa-shopping-basket"></i></button>
                                                                                {% elseif thisasset.flagsblocks.COUNT.BLOCK < 1 %}
                                                                                    <button title="Remove from project" {% if (not thisasset.assignment) or PROJECT.ID != thisasset.assignment[0].projects_id %}style="display:none;"{% endif %} class="btn btn-sm btn-warning removeFromBasketAssetButton" data-assetid="{{ thisasset['assets_id'] }}"><i class="fa fa-shopping-basket"></i></button>
                                                                                    {%  if thisasset.assignment and PROJECT.ID != thisasset.assignment[0].projects_id %}
                                                                                        <button title="Assigned to {{ thisasset.assignment[0]['projects_name'] }}" class="btn btn-sm btn-success" disabled><i class="fa fa-shopping-basket"></i></button>
                                                                                    {% endif %}
                                                                                    <button title="Add to project" {% if thisasset.assignment %} style="display:none;"{% else %}{% set someassignable = true %}{% endif %} class="btn btn-sm btn-success addToBasketAssetButton" data-assetid="{{ thisasset['assets_id'] }}"><i class="fa fa-shopping-basket"></i></button>
                                                                                {% else %}
                                                                                    <button class="btn btn-sm btn-danger" title="Asset is blocked from being assigned by a maintenance job" disabled><i class="fas fa-ban"></i></button>
                                                                                {% endif %}
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                {% endfor %}
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-sm {{ someassignable ? 'btn-success' : 'btn-warning' }}" data-toggle="modal" data-target="#assetDetailsModal{{ asset.assetTypes_id }}"><i class="fa fa-shopping-basket"></i></button>
                                        {% endif %}
                                    {% elseif PROJECT.DATESTART and PROJECT.DATEEND %}
                                        {% if asset.count == 1 %}
                                            {% if asset.tags[0].assets_endDate != null and asset.tags[0].assets_endDate < PROJECT['DATEEND'] %}
                                                <button title="Asset to be archived" class="btn btn-sm btn-danger" disabled><i class="fa fa-times"></i></button>
                                            {% elseif asset.tags[0].flagsblocks.COUNT.BLOCK < 1 %}
                                                {% if asset.tags[0].assignment %}
                                                    <button title="Assigned to {{ SEARCH.INSTANCE['instances_publicConfig']['enableAssetsAssignmentNames'] or AUTH.login ? asset.tags[0].assignment[0]['projects_name'] : 'an event'}}" class="btn btn-sm btn-danger" disabled><i class="fa fa-times"></i></button>
                                                {% else %}
                                                    <button title="Available" class="btn btn-sm btn-success" disabled><i class="fa fa-check"></i></button>
                                                {% endif %}
                                            {% else %}
                                                <button class="btn btn-sm btn-danger" title="Asset is blocked from being assigned by a maintenance job" disabled><i class="fas fa-ban"></i></button>
                                            {% endif %}
                                        {% else %}
                                            {% set someassignable = false %}
                                            <div class="modal fade" id="assetDetailsModal{{ asset.assetTypes_id }}">
                                                <div class="modal-dialog modal-xl">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">{{ asset.assetTypes_name }}</h4>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body" style="padding:0;text-align:left;overflow-x: auto;">
                                                            <table class="table table-striped">
                                                                <tr>
                                                                    <th style="width:70px;">ID</th>
                                                                    {% for field in asset.fields %}
                                                                        <th>{{ field }}</th>
                                                                    {% endfor %}
                                                                    <th>Notes</th>
                                                                    {% if SEARCH.INSTANCE['instances_publicConfig']['enableAssetsPrices'] or AUTH.login %}
                                                                    <th>&pound;/day</th>
                                                                    <th>&pound;/week</th>
                                                                    {% endif %}
                                                                    <th style="width:1%"><i class="fas fa-flag"></i></th>
                                                                    <th style="width:30px;"></th>
                                                                </tr>
                                                                {% for thisasset in asset.tags %}
                                                                    <tr>
                                                                        <td>{{ thisasset.assets_tag|aTag }}</td>
                                                                        {% for field in asset.fields %}
                                                                            <td>{{ thisasset['asset_definableFields_' ~ loop.index] }}</td>
                                                                        {% endfor %}
                                                                        <td>{{ thisasset['assets_notes']|nl2br }}</td>
                                                                        {% if SEARCH.INSTANCE['instances_publicConfig']['enableAssetsPrices'] or AUTH.login %}
                                                                        <td>
                                                                            {{ (thisasset.assets_dayRate ?: asset.assetTypes_dayRate)|money(SEARCH.INSTANCE['instances_config_currency']) }}
                                                                        </td>
                                                                        <td>
                                                                            {{ (thisasset.assets_weekRate ?: asset.assetTypes_weekRate)|money(SEARCH.INSTANCE['instances_config_currency']) }}
                                                                        </td>
                                                                        {% endif %}
                                                                        <td>
                                                                            {{ thisasset.flagsblocks.COUNT.FLAG > 0 ?: '' }}
                                                                        </td>
                                                                        <td>
                                                                            <div class="btn-group">
                                                                                {% if thisasset.assets_endDate != null and thisasset.assets_endDate < PROJECT['DATEEND'] %}
                                                                                    <button title="Asset to be removed" class="btn btn-sm btn-danger" disabled><i class="fa fa-times"></i></button>
                                                                                {% elseif thisasset.flagsblocks.COUNT.BLOCK < 1 %}
                                                                                    {%  if thisasset.assignment %}
                                                                                        <button title="Assigned to {{ SEARCH.INSTANCE['instances_publicConfig']['enableAssetsAssignmentNames'] or AUTH.login ? thisasset.assignment[0]['projects_name'] : ' an event' }}" class="btn btn-sm btn-danger" disabled><i class="fa fa-times"></i></button>
                                                                                    {% else %}
                                                                                    <button title="Available" {% set someassignable = true %} class="btn btn-sm btn-success" disabled><i class="fa fa-check"></i></button>
                                                                                    {% endif %}
                                                                                {% else %}
                                                                                    <button class="btn btn-sm btn-danger" title="Asset is blocked from being assigned by a maintenance job" disabled><i class="fas fa-ban"></i></button>
                                                                                {% endif %}
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                {% endfor %}
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-sm {{ someassignable ? 'btn-success' : 'btn-warning' }}" data-toggle="modal" data-target="#assetDetailsModal{{ asset.assetTypes_id }}"><i class="fa fa-calendar"></i></button>
                                    {% endif %}
                                {% endif %}
                                    <a href="{{ CONFIG.ROOTURL }}/asset.php?id={{ asset.assetTypes_id }}{{ asset.count == 1 ? '&asset=' ~ asset.tags[0]['assets_id'] : '' }}{{ SEARCH["SETTINGS"]["SHOWARCHIVED"] ? '&showArchived' : ''}}" class="btn btn-sm btn-default" target="_blank">
                                        <i class="fas fa-info-circle"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="card-footer">
        <div class="card-tools pull-right">
        {% if PAGINATION['TOTAL-PAGES'] > 1 %}
            <ul class="pagination pagination-sm m-0">
                {% if PAGINATION.PAGE > 1 %}
                    <li class="page-item"><a class="page-link" href="#" data-page="{{ (PAGINATION.PAGE -1) }}">&laquo;</a></li>
                {% endif %}

                {% for i in range((PAGINATION.PAGE > 3 ? PAGINATION.PAGE-2 : 1), (PAGINATION['TOTAL-PAGES'] > 5 and PAGINATION.PAGE+2 < PAGINATION['TOTAL-PAGES'] ? PAGINATION.PAGE+2 : PAGINATION['TOTAL-PAGES'])) %}
                    <li class="page-item"><a class="page-link" href="#" data-page="{{ i }}">
                            {% if PAGINATION.PAGE == i %}
                                <b>{{ i }}</b>
                            {% else %}
                                {{ i }}
                            {% endif %}
                        </a></li>
                {% endfor %}
                {% if PAGINATION.PAGE < PAGINATION['TOTAL-PAGES'] %}
                    <li class="page-item"><a class="page-link" href="#" data-page="{{PAGINATION.PAGE+1}}">&raquo;</a></li>
                {% endif %}
            </ul>
        {% endif %}
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
       const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000
        });
        $('.slick').slick({
            dots: false,
            arrows: false,
            focusOnSelect: true,
            pauseOnHover: true,
            draggable: false,
            infinite: true,
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2000,
        });
        {% if PROJECT.ID != null and AUTH.login and 31|instancePermissions %}
        $(".addToBasketAssetButton").click(function () {
            var assetId=$(this).data("assetid");
            ajaxcall("projects/assets/assign.php", {"assets_id":$(this).data("assetid")}, function (data) {
                $(".addToBasketAssetButton[data-assetid=" + assetId + "]").hide();
                $(".removeFromBasketAssetButton[data-assetid=" + assetId + "]").show();
                Toast.fire({
                    type: 'success',
                    title: 'Added to project'
                });
            });
        });
        $(".removeFromBasketAssetButton").click(function () {
            var assetId = $(this).data("assetid");
            bootbox.confirm({
                message: "Are you sure you wish to remove this asset from the project?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-danger'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-success'
                    }
                },
                callback: function (result) {
                    if (result) {
                        $(".addToBasketAssetButton[data-assetid=" + assetId + "]").show();
                        $(".removeFromBasketAssetButton[data-assetid=" + assetId + "]").hide();
                        ajaxcall("projects/assets/unassign.php", {"assets_id":assetId}, function (data) {
                            Toast.fire({
                                type: 'success',
                                title: 'Removed from project'
                            });
                        });
                    }
                }
            });
        });
        {% endif %}
    });
</script>
{% else %}
<div class="card card-solid">
    <div class="card-header">
        <h3 class="card-title" style="margin-top: 0.4rem;">
            No results found
        </h3>
    </div>
</div>
{% endif %}
