{% extends "assets/template.twig" %}
{% block htmlIncludes %}{% endblock %}
{% block content %}
	{% if specificRevision %}
		<div class="alert alert-warning" style="border: 0px;">
			<h4>
				<i class="fas fa-history"></i>
				PREVIEWING REVISION v{{ PAGE.DRAFTS.cmsPagesDrafts_revisionID }}
			</h4>
		</div>
	{% endif %}
	<div class="card ">
		<div class="card-header">
			<h3 class="card-title">
				{{ PAGE.cmsPages_name }}
			</h3>
			{% if specificRevision != true %}
				<div class="card-tools pull-right">
					<div class="input-group input-group-sm">
						{% if "CMS:CMS_PAGES:EDIT"|instancePermissions %}
							<a href="{{ CONFIG.ROOTURL }}/cms/edit.php?p={{ PAGE.cmsPages_id }}" type="button" class="btn btn-default btn-sm" title="Edit Page">
								<i class="fas fa-edit"></i>
							</a>
						{% endif %}
						{% if "CMS:CMS_PAGES:CREATE"|instancePermissions %}
							<a href="{{ CONFIG.ROOTURL }}/cms/stats.php?p={{ PAGE.cmsPages_id }}" type="button" class="btn btn-default btn-sm" title="Viewing Stats">
								<i class="far fa-chart-bar"></i>
							</a>
						{% endif %}
						{% if "CMS:CMS_PAGES:VIEW:ACCESS_LOG"|instancePermissions %}
							<a href="{{ CONFIG.ROOTURL }}/cms/log.php?p={{ PAGE.cmsPages_id }}" type="button" class="btn btn-default btn-sm" title="Page View Log">
								<i class="fas fa-binoculars"></i>
							</a>
						{% endif %}
					</div>
				</div>
			{% endif %}
		</div>
	</div>

	{% embed 'assets/templates/cmsPage.twig' with {'pageData': PAGE } %}{% endembed %}
{% endblock %}
