{% extends "assets/template.twig" %}
{% block content %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">
           Crew Role Vacancies
        </h3>
    </div>
    <div class="card-body p-0 d-none d-lg-block">
        <table class="table table-striped table-responsive">
            <thead>
            <tr>
                <th style="width: 15%; min-width:300px;">
                    Project
                </th>
                <th style="width: 15%; min-width:150px;">
                    Project Client
                </th>
                <th style="width: 10%; min-width:200px;">
                    Project Dates
                </th>
                <th style="min-width:150px;">
                    Role Name
                </th>
                <th style="width: 10%; min-width:250px;">
                    Deadline
                </th>
                <th style="width: 10%; min-width:100px;">
                    Places Remaining
                </th>
                <th style="width: 300px">
                </th>
            </tr>
            </thead>
            <tbody>
            {% for role in roles %}
                <tr>
                    <td>
                        {% if project != role.projects_id %}
                            {% if role.parentProject %}
                                {{role.parentProject.projects_name}} &rarr;
                            {% endif %}
                            {{ role.projects_name }}
                        {% else %}
                            &#8627;
                        {% endif %}
                    </td>
                    <td>
                        {% if project != role.projects_id %}
                        {{role.clients_name}}
                        {% endif %}
                    </td>
                    <td>
                        {% if project != role.projects_id %}
                            {{role.projects_dates_use_start ? role.projects_dates_use_start|date("d M Y h:ia") }}<br/>
                            {{ role.projects_dates_use_end? role.projects_dates_use_end|date("d M Y h:ia") }}
                        {% endif %}
                        {% set project = role.projects_id %}
                    </td>
                    <td>
                        {{ role.projectsVacantRoles_name }}
                    </td>
                    <td>
                        {{ role.projectsVacantRoles_deadline ? role.projectsVacantRoles_deadline|date("d M Y h:ia") : '' }}
                    </td>
                    <td>
                        {{ role.projectsVacantRoles_slots - role.projectsVacantRoles_slotsFilled }}
                    </td>
                    <td class="project-actions text-right">
                        <div class="btn-group">
                            <a type="button" class="btn btn-default btn-sm" href="{{CONFIG.ROOTURL}}/project/crew/vacancy.php?id={{ role.projectsVacantRoles_id }}">More Info</a>
                            {% if role.users_userid == USERDATA.users_userid %}
                                <a href="vacantCrew.php?id={{ role.projects_id }}" class="btn btn-secondary btn-sm">Manage</a>
                            {% endif %}
                            {% if role.application %}
                                <button type="button" class="btn btn-default btn-sm" disabled>Applied</button>
                            {% else %}
                                <a type="button" class="btn btn-default btn-sm" href="{{CONFIG.ROOTURL}}/project/crew/vacancy.php?id={{ role.projectsVacantRoles_id }}">
                                    {% if role.projectsVacantRoles_firstComeFirstServed %}
                                    Sign Up
                                    {% else %}
                                    Apply
                                    {% endif %}
                                </a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="d-lg-none">
    {% for role in roles %}
        {% if project != role.projects_id %}
        {% if project != null %}
            </div>    
        </div>
        {% endif %}

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                        {% if role.parentProject %}
                            {{role.parentProject.projects_name}} &rarr;
                        {% endif %}
                        {{ role.projects_name }}
                </h3>
            </div>
            <div class="card-body">
        {% set project = role.projects_id %}
        {% endif %}
                <div class="row">
                    <div class="col-12">
                        <h4>{{ role.projectsVacantRoles_name }}</h4>
                        <p>
                            {{ role.projectsVacantRoles_description }}
                        </p>
                        <p>
                            <strong>Project Dates: </strong>
                            {{role.projects_dates_use_start ? role.projects_dates_use_start|date("d M Y h:ia") }}
                            {{role.projects_dates_use_start and role.projects_dates_use_end ? " - " }} 
                            {{role.projects_dates_use_end ? role.projects_dates_use_end|date("d M Y h:ia") }}
                        </p>
                        {% if role.projectsVacantRoles_deadline %}
                            <p>
                                <strong>Deadline: </strong>
                                {{ role.projectsVacantRoles_deadline|date("d M Y h:ia") }}
                            </p>
                        {% endif %}
                        <p>
                            <strong>Places Remaining: </strong>
                            {{ role.projectsVacantRoles_slots - role.projectsVacantRoles_slotsFilled }}
                        </p>
                        <div class="project-actions text-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-default btn-sm" href="{{CONFIG.ROOTURL}}/project/crew/vacancy.php?id={{ role.projectsVacantRoles_id }}">More Info</a>
                                {% if role.users_userid == USERDATA.users_userid %}
                                    <a href="vacantCrew.php?id={{ role.projects_id }}" class="btn btn-secondary btn-sm">Manage</a>
                                {% endif %}
                                {% if role.application %}
                                    <button type="button" class="btn btn-default btn-sm" disabled>Applied</button>
                                {% else %}
                                    <a type="button" class="btn btn-default btn-sm" href="{{CONFIG.ROOTURL}}/project/crew/vacancy.php?id={{ role.projectsVacantRoles_id }}">
                                        {% if role.projectsVacantRoles_firstComeFirstServed %}
                                        Sign Up
                                        {% else %}
                                        Apply
                                        {% endif %}
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>      
                </div>
                <hr />
    {% endfor %}
        </div>    
    </div>
</div>
{% endblock %}
