{#
    !!!! DON'T FORGET TO INCLUDE FILEBOX JS AS WELL! !!!!!
#}
<ul class="mailbox-attachments d-flex flex-wrap align-items-stretch clearfix">
    {% for file in files %}
        <li class="fileBox" data-s3fileid="{{ file.s3files_id }}" style="overflow-x: hidden;">
            {% if file.s3files_extension in ["gif", "jpeg", "jpg", "png"] %}
                <span class="mailbox-attachment-icon has-img"><img src="{{ file.s3files_id|s3URL("small") }}" alt="{{ file.s3files_name }}" style="max-height: 132.5px;"></span>
            {% else %}
                <span class="mailbox-attachment-icon"><i class="fa {{ file.s3files_extension|fontAwesomeFile }}"></i></span>
            {% endif %}
            <div class="mailbox-attachment-info">
                {% if galleryOnly != true %}
                <a href="{{ file.s3files_id|s3URL }}" class="mailbox-attachment-name" target="_blank" style="white-space: nowrap;" title="{{ file.s3files_name }}">
                    <i class="fa {{ file.s3files_extension|fontAwesomeFile }}"></i> {{ file.s3files_name }}
                </a>
                {% endif %}
                <span class="mailbox-attachment-size clearfix mt-1">
                    <span style="padding-top: 0;">{{ file.s3files_meta_uploaded|date("d M Y G:i") }}</span><br/>
                    {% if galleryOnly != true %}
                        <span style="padding-top: 0;">{{ file.s3files_extension }} - {{ file.s3files_meta_size|formatsize }}</span><br/><br/>
                    {% else %}
                        <span>{{ file.s3files_meta_size|formatsize }}</span>
                    {% endif %}


                    <div class="btn-group">
                        {% if galleryOnly != true %}
                            <a href="{{ file.s3files_id|s3URL }}" target="_blank" class="btn btn-default btn-sm float-right"><i class="fas fa-cloud-download-alt"></i></a>
                        {% endif %}


                        {% if AUTH.login and "ASSETS:FILE_ATTACHMENTS:EDIT"|instancePermissions and galleryOnly != true and readOnly != true  %}
                            <a href="#" class="btn btn-default btn-sm float-right renameFile" title="Rename" data-s3fileid="{{ file.s3files_id }}" data-s3filename="{{ file.s3files_name }}"><i class="far fa-edit"></i></a>
                        {% endif %}
                        {% if AUTH.login and "FILES:FILE_ATTACHMENTS:EDIT:SHARING_SETTINGS"|instancePermissions and galleryOnly != true and readOnly != true %}
                            <a href="#" class="btn btn-default btn-sm float-right shareFile" title="Manage Sharing" data-s3fileid="{{ file.s3files_id }}" data-s3filesharekey="{{ file.s3files_shareKey }}"><i class="fas fa-share"></i></a>
                        {% endif %}
                        {% if AUTH.login and "ASSETS:FILE_ATTACHMENTS:DELETE"|instancePermissions and readOnly != true %}
                            <a href="#" class="btn btn-default btn-sm float-right deleteFile" title="Delete" data-s3fileid="{{ file.s3files_id }}" ><i class="fas fa-trash-alt"></i></a>
                        {% endif %}

                    </div>
                </span>
            </div>
        </li>
    {% endfor %}
</ul>