<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml">
	<head>
		<title>{{ CONFIG.PROJECT_NAME }}</title>
		<meta
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">

		<!--Facebook Link Sharing Data-->
		<meta property="og:title" content="{{ CONFIG.PROJECT_NAME }}"/>
		<meta property="og:type" content="website"/>
		<meta property="og:url" content="/login/"/>
		<meta property="og:site_name" content="{{ CONFIG.PROJECT_NAME }}"/>
		<meta property="og:description" content="{{ CONFIG.PROJECT_NAME }} admin login"/>


		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js" integrity="sha512-XKa9Hemdy1Ui3KSGgJdgMyYlUg1gM+QhL6cnlyTe2qzMCYm4nAZ1PsVerQzTTXzonUR+dmswHqgJPuwCq1MaAg==" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA==" crossorigin="anonymous"/>


		<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha256-yNbKY1y6h2rbVcQtf0b8lq4a+xpktyFc3pSYoGAY1qQ=" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" integrity="sha256-R91pD48xW+oHbpJYGn5xR0Q7tMhH4xOrWn1QqMRINtA=" crossorigin="anonymous"/>
		<script>
			toastr.options = {
"closeButton": false,
"debug": false,
"progressBar": false,
"preventDuplicates": true,
"onclick": null,
"showDuration": "300",
"hideDuration": "1000"
}
		</script>
		{%  set background = CONFIG.ROOTURL ~ "/static-assets/img/loginImages/" ~ random(["ahmed-hasan-Lvon5hPT818-unsplash.jpg","anthony-delanoix-hzgs56Ze49s-unsplash.jpg","danny-howe-74kShnX5zZI-unsplash.jpg","danny-howe-bn-D2bCvpik-unsplash.jpg","fabian-centeno-k4s5mTSYULI-unsplash.jpg","jessey-bijl-5Rt5KhbUp5g-unsplash.jpg","leon--eh7p_Ovgjo-unsplash.jpg","luis-morera-GsoirbS7-bA-unsplash.jpg","sam-moqadam-qLMPn_MApAo-unsplash.jpg","stone-hood-qbd-pqDX8f4-unsplash.jpg","yvette-de-wit-NYrVisodQ2M-unsplash.jpg"]) %}
		<style>
			html,
			body,
			.container,
			#masterRow {
				height: 99%;
				font-size: 14px;
			}
			body {
				background-image: url("{{ background }}");
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
			}
			#masterBox {
				box-shadow: 0 1px 5px #888888;
				background: whitesmoke;
				text-align: center;
				border-radius: 10px;
				padding: 10px 20px;
				margin: 0;
			}
			.footer {
				color: white;
				padding: 10px;
			}
			a {
				color: inherit; /* blue colors for links too */
				text-decoration: inherit; /* no underline */
			}
			form {
				display: none;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="row align-items-center" id="masterRow">
				<div class="col-lg-6 offset-lg-3
						                            col-md-6 offset-md-3
						                            col-sm-8 offset-sm-2
						                            col-xs-10 offset-xs-1">
					<div id="masterBox">
						<a href="?"><img src="{{ CONFIG.ROOTURL}}/static-assets/img/logo.png" style="width:30%; margin-bottom: 15px; margin-top: 10px;" id="bCMSLogoHeader"/></a>
						{% if CONFIG.DEV %}
							<div class="alert alert-warning" style="border: 0px; text-align: left;">
								<h4>{{ CONFIG.PROJECT_NAME }} is running in development mode, and should only be used for testing purposes</h4>
								<p>Default username is <strong>username</strong> and password is <strong>password!</strong></p>
								<a type="button" href="/" onclick="javascript:event.target.port=8082" target="_blank" class="btn btn-info btn-sm">Database Editor</a>
							</div>
							{% endif %}
						{% block content %}{% endblock %}
					</div>
				</div>
			</div>
			<div class="footer fixed-bottom">
				<div class="row">
					<div class="col-4">
						{{ VERSION }}
					</div>
					<div class="col-8" style="text-align: right;">
						<a style="margin-right: 15px;" href="https://adam-rms.com">About</a>
{% if CONFIG.LINKS_TERMSOFSERVICEURL %}
	<a href="{{ CONFIG.LINKS_TERMSOFSERVICEURL }}" target="_blank">Terms &amp; Privacy</a>
{% endif %}

					</div>
				</div>
			</div>
		</div>
		{{ CONFIG.FOOTER_ANALYTICS|raw }}
	</body>
</html>
