<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6">
        {% if project.projectsTypes_config_notes == 1 %}
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Notes</h3>
                </div>
                <div class="card-body p-0">
                    <ul class="todo-list">
                        {% for note in project.notes %}
                            <li>
                                <span class="handle">
                                    <i class="fas fa-fw fa-file-contract"></i>
                                </span>
                                <span class="text">{{ note.projectsNotes_title }}</span>
                                <div class="tools">
                                    <a href="{{ CONFIG.ROOTURL }}/project/noteExport.php?id={{ note.projectsNotes_id }}" style="color: #495057; padding-right: 10px;" target="_blank" title="Print Note"><i class="fas fa-print"></i></a>
                                    {% if "PROJECTS:PROJECT_NOTES:EDIT:NOTES"|instancePermissions %}
                                    <a href="#" data-toggle="modal" data-target="#noteModal{{ note.projectsNotes_id }}" style="color: #495057;" title="Edit File"><i class="fas fa-pencil-alt"></i></a>
                                    {% endif %}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="card-footer">
                    <div class="btn-group float-right">
                        {% if "PROJECTS:PROJECT_NOTES:CREATE:NOTES"|instancePermissions and project.projectsTypes_config_notes == 1 %}
                            <button type="button" class="btn btn-default" id="newProjectNote">Create Note</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
        {% if CONFIG.FILES_ENABLED == "Enabled" and USERDATA.instance.instances_storageEnabled == 1 and project.projectsTypes_config_files == 1 %}
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">File Attachments</h3>
                <div class="card-tools">
                    <a data-toggle="modal" data-target="#projectFilesModal" type="button" class="btn btn-tool">
                        <i class="fas fa-external-link-alt"></i></a>
                </div>
            </div>
            {% if files %}
                <div class="card-body p-0">
                    <ul class="todo-list">
                        {% for file in files %}
                            <li>
    <span class="handle">
        <i class="fa {{ file.s3files_extension|fontAwesomeFile }}"></i>
    </span>
                                <span class="text">
        {{ file.s3files_name }}
    </span>
                                <i class="fas fa-info-circle" data-toggle="popover" title="File Details" data-content="Generated {{ file.s3files_meta_uploaded|date("d M Y G:i") }}. File Size {{ file.s3files_meta_size|formatsize }}. File Type {{ file.s3files_extension }}"></i>
                                <div class="tools">
                                    <a href="{{ file.s3files_id|s3URL }}" style="color: #495057;" target="_blank" title="Download File"><i class="fas fa-cloud-download-alt"></i></a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
        {% endif %}
    </div>
    
    <div class="col-sm-12 col-md-12 {% if project.projectsTypes_config_files == 1 or project.projectsTypes_config_notes == 1 %}col-lg-6{% else %}col-lg-12{% endif %}">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Invoices</h3>
                {% if invoices %}
                <div class="card-tools">
                    <a data-toggle="modal" data-target="#projectInvoicesModal" type="button" class="btn btn-tool">
                        <i class="fas fa-external-link-alt"></i></a>
                </div>
                {% endif %}
            </div>
            <div class="card-body p-0">
                <ul class="todo-list">
                    {% for file in invoices %}
                        <li>
    <span class="handle">
        <i class="fa {{ file.s3files_extension|fontAwesomeFile }}"></i>
    </span>
                            <span class="text">
        {{ file.s3files_name }} - {{ file.s3files_meta_uploaded|date("d M Y G:i") }}
    </span>
                            <i class="fas fa-info-circle" data-toggle="popover" title="File Details" data-content="Generated {{ file.s3files_meta_uploaded|date("d M Y G:i") }}. File Size {{ file.s3files_meta_size|formatsize }}. File Type {{ file.s3files_extension }}"></i>
                            <div class="tools">
                                <a href="{{ file.s3files_id|s3URL }}" style="color: #495057;" target="_blank" title="Download File"><i class="fas fa-cloud-download-alt"></i></a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="card-footer">
                <div class="btn-group float-right">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#pdfGenerateModal">
                        Create Invoice
                    </button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Quotes</h3>
                {% if quotes %}
                <div class="card-tools">
                    <a data-toggle="modal" data-target="#projectQuotesModal" type="button" class="btn btn-tool">
                        <i class="fas fa-external-link-alt"></i></a>
                </div>
                {% endif %}
            </div>
            <div class="card-body p-0">
                <ul class="todo-list">
                    {% for file in quotes %}
                        <li>
    <span class="handle">
        <i class="fa {{ file.s3files_extension|fontAwesomeFile }}"></i>
    </span>
                            <span class="text">
        {{ file.s3files_name }} - {{ file.s3files_meta_uploaded|date("d M Y G:i") }}
    </span>
                            <i class="fas fa-info-circle" data-toggle="popover" title="File Details" data-content="Generated {{ file.s3files_meta_uploaded|date("d M Y G:i") }}. File Size {{ file.s3files_meta_size|formatsize }}. File Type {{ file.s3files_extension }}"></i>
                            <div class="tools">
                                <a href="{{ file.s3files_id|s3URL }}" style="color: #495057;" target="_blank" title="Download File"><i class="fas fa-cloud-download-alt"></i></a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="card-footer">
                <div class="btn-group float-right">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#pdfGenerateModal" data-quote="true">
                        Create Quote
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>