<div class="row">
	{% if pageData["DRAFTS"]['cmsPagesDrafts_dataARRAY'] %}
		{% for card in pageData["DRAFTS"]['cmsPagesDrafts_dataARRAY']['cards'] %}
			<div class="col-xs-12 col-sm-12 col-md-{{ card.width }} col-lg-{{ card.width }} cell">
				<div class="card {% if card.outline == " true" %}card-outline{% endif %} {% if card.color %}card-{{ card.color}}{% endif %} data-type=" {{ card.type ?: "custom" }} ">
					<div class="card-header">
						<h3 class="card-title">
							{{ card.title }}
						</h3>
					</div>
					{% embed 'assets/templates/cmsPageContent.twig' with {'card': card } %}{% endembed %}
				</div>
			</div>
		{% endfor %}
	{% endif %}
</div>
