{% extends "assets/template.twig" %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        {% if search|length > 0 %}
                            Search results for users matching <b>{{ search }}</b>
                        {% else %}
                            Users
                        {% endif %}
                    </h3>
                    <div class="card-tools pull-right">
                        <form class="input-group input-group-sm" style="width: 150px;" method="GET">
                            <input type="hidden" name="users" value="true" />
                            <input type="hidden" name="id" value="{{ module.modules_id }}" />
                            <input type="text" name="q" class="form-control" placeholder="Search" value="{{ search }}" />
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                                            </div>
                        </form>
                    </div>
                </div>
                <div class="card-body table-responsive p-0">
                    <table class="table table-head-fixed" border="0" style="overflow-x: scroll;">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    {% if module.modules_type != 3 %}<th>Progress</th>{% endif %}
                                    {% if module.modules_type != 1 %}<th>Certifications</th>{% endif %}
                                    <th>Tools</th>
                                </tr>
                            </thead>
                            {% if users|length > 0 %}
                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>
                                        {% if "BUSINESS:USERS:VIEW:INDIVIDUAL_USER"|instancePermissions %}
                                        <a href="{{ CONFIG.ROOTURL }}/user.php?id={{ user.users_userid }}">
                                            {% endif %}
                                            {{ user["users_name1"] }} {{ user["users_name2"] }}
                                        {% if "BUSINESS:USERS:VIEW:INDIVIDUAL_USER"|instancePermissions %}
                                        </a>
                                        {% endif %}
                                    </td>
                                    {% if module.modules_type != 3 %}
                                    <td>
                                        {% if user.allStepsCompleted %}
                                            <ol>
                                            {% for module in module.steps %}
                                                <li>
                                                    {{ module.modulesSteps_name }}
                                                    {% if module.modulesSteps_id in user.allStepsCompleted %}
                                                        ✔
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                                            </ol>
                                            {% if user.dates.start %}
                                                <i class="far fa-calendar-alt"></i> {{ user.dates.start|date("d M Y h:ia") }} - {{ user.dates.updated|date("d M Y h:ia") }}
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    {% endif %}
                                    {% if module.modules_type != 1 %}
                                        <td>
                                            {% for module in user.userModulesCertifications %}
                                                {% if module.userModulesCertifications_revoked == 1 %}
                                                REVOKED -
                                                {% endif %}
                                                <b>{{ module.users_name1 }} {{ module.users_name2 }}</b> ({{ module.userModulesCertifications_timestamp|date("d M Y h:ia") }}): {{ module.userModulesCertifications_approvedComment }}
                                                <br/>
                                            {% endfor %}
                                        </td>
                                    {% endif %}
                                    <td>
                                        <div class="btn-group">
                                            {% if module.modules_type != 1 %}
                                                {% if "TRAINING:EDIT:CERTIFY_USER"|instancePermissions %}
                                                    <button class="btn btn-sm btn-success certifyButton" data-userid="{{ user['users_userid'] }}">Certify</button>
                                                {% endif %}
                                                {% if "TRAINING:EDIT:REVOKE_USER_CERTIFICATION"|instancePermissions and user.userModulesCertifications|length >0  %}
                                                    <button class="btn btn-sm btn-danger revokeButton" data-userid="{{ user['users_userid'] }}">Revoke all</button>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            {% endif %}
                        </table>



                </div>
                {% if pagination.total > 1 %}
                <div class="card-footer clearfix">
                    <ul class="pagination pagination-sm m-0 float-right">
                        {% if pagination.page > 1 %}
                            <li class="page-item"><a class="page-link" href="?{{ {page: (pagination.page -1)}|modifyGet }}">&laquo;</a></li>
                        {% endif %}

                        {% for i in range((pagination.page > 3 ? pagination.page-2 : 1), (pagination.total > 5 and pagination.page+2 < pagination.total ? pagination.page+2 : pagination.total)) %}
                            <li class="page-item"><a class="page-link" href="?{{ {page: i}|modifyGet }}">
                                    {% if pagination.page == i %}
                                        <b>{{ i }}</b>
                                    {% else %}
                                        {{ i }}
                                    {% endif %}
                                </a></li>
                        {% endfor %}

                        {% if pagination.page < pagination.total %}
                            <li class="page-item"><a class="page-link" href="?{{ {page: (pagination.page +1)}|modifyGet }}">&raquo;</a></li>
                        {% endif %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            {% if "TRAINING:EDIT:CERTIFY_USER"|instancePermissions %}
            $('.certifyButton').on('click', function(e){
                var userid = $(this).data("userid");
                bootbox.prompt("Certification Comment", function(result){
                    if (result && result.length > 0) {
                        ajaxcall("training/certify.php", {
                            "userid": userid,
                            "modules_id": "{{ module.modules_id }}",
                            "comment": result,
                        }, function() {
                            location.reload();
                        }, true);
                    }
                });
            });
            {% endif %}
            {% if "TRAINING:EDIT:REVOKE_USER_CERTIFICATION"|instancePermissions %}
            $('.revokeButton').on('click', function(e){
                var userid = $(this).data("userid");
                ajaxcall("training/revokeAll.php", {
                    "userid": userid,
                    "modules_id": "{{ module.modules_id }}"
                }, function() {
                    location.reload();
                }, true);
            });
            {% endif %}

        });
    </script>
{% endblock %}
