{% extends "assets/template.twig" %}
{% block content %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">
           Crew Role Vacancies
        </h3>
    </div>
    <div class="card-body table-responsive p-0">
        <table class="table table-striped">
            <thead>
            <tr>
                <th style="width: 15%; min-width:300px;">
                    Project
                </th>
                <th style="width: 15%; min-width:300px;">
                    Project Dates
                </th>
                <th style="min-width:150px;">
                    Role Name
                </th>
                <th style="width: 10%; min-width:250px;">
                    Deadline
                </th>
                <th style="width: 10%; min-width:100px;">
                    Places Remaining
                </th>
                <th style="width: 300px">
                </th>
            </tr>
            </thead>
            <tbody>
            {% for role in roles %}
                <tr>
                    <td>
                        {% if project != role.projects_id %}
                            {{ role.projects_name }}
                        {% else %}
                            &#8627;
                        {% endif %}
                    </td>
                    <td>
                        {% if project != role.projects_id %}
                            {{role.projects_dates_use_start ? role.projects_dates_use_start|date("d M Y h:ia") }}<br/>
                            {{ role.projects_dates_use_end? role.projects_dates_use_end|date("d M Y h:ia") }}
                        {% endif %}
                        {% set project = role.projects_id %}
                    </td>
                    <td>
                        {{ role.projectsVacantRoles_name }}
                    </td>
                    <td>
                        {{ role.projectsVacantRoles_deadline ? role.projectsVacantRoles_deadline|date("d M Y h:ia") : '' }}
                    </td>
                    <td>
                        {{ role.projectsVacantRoles_slots - role.projectsVacantRoles_slotsFilled }}
                    </td>
                    <td class="project-actions text-right">
                        <div class="btn-group">
                            <a type="button" class="btn btn-default btn-sm" href="{{CONFIG.ROOTURL}}/project/crew/vacancy.php?id={{ role.projectsVacantRoles_id }}">More Info</a>
                            {% if role.users_userid == USERDATA.users_userid %}
                                <a href="vacantCrew.php?id={{ role.projects_id }}" class="btn btn-secondary btn-sm">Manage</a>
                            {% endif %}
                            {% if role.application %}
                                <button type="button" class="btn btn-default btn-sm" disabled>Applied</button>
                            {% else %}
                                <a type="button" class="btn btn-default btn-sm" href="{{CONFIG.ROOTURL}}/project/crew/vacancy.php?id={{ role.projectsVacantRoles_id }}">Apply</a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
