{% extends "assets/template.twig" %}
{% block content %}
    <div class="row">
        <div class="col-md-3">

            <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle"
                                 src="{{ user.users_thumbnail ? user.users_thumbnail|s3URL("small") : CONFIG.ASSETCDNURL ~ '/img/default-profile-picture.jpg' }}"
                                 alt="{{ user.users_name1 }} {{ user.users_name2 }}">
                        </div>
                    <h3 class="profile-username text-center">{{ user.users_name1 }} {{ user.users_name2 }}</h3>
                    <p class="text-muted text-center">{{ user.users_email }}</p>

                    <ul class="list-group list-group-unbordered mb-3">
                        <li class="list-group-item">
                            <b>Crew Roles</b> <a
                                    class="float-right">{{ user.crewAssignments|length }}</a>
                        </li>
                        <li class="list-group-item">
                            <b>Projects Managed</b> <a
                                    class="float-right">{{ user.projectManagement|length }}</a>
                        </li>
                        {% if user.users_social_facebook != "" %}
                        <li class="list-group-item">
                            <b>Facebook</b> <a href="https://www.facebook.com/{{ user.users_social_facebook }}"
                                    class="float-right" target="_blank">{{ user.users_social_facebook }}</a>
                        </li>
                        {% endif %}
                        {% if user.users_social_twitter != "" %}
                            <li class="list-group-item">
                                <b>Twitter</b> <a href="https://www.twitter.com/{{ user.users_social_twitter }}"
                                                   class="float-right" target="_blank">@{{ user.users_social_twitter }}</a>
                            </li>
                        {% endif %}
                        {% if user.users_social_linkedin != "" %}
                            <li class="list-group-item">
                                <b>LinkedIn</b> <a href="https://www.linkedin.com/in/{{ user.users_social_linkedin }}"
                                                  class="float-right" target="_blank">{{ user.users_social_linkedin }}</a>
                            </li>
                        {% endif %}
                        {% if user.users_social_instagram != "" %}
                            <li class="list-group-item">
                                <b>Instagram</b> <a href="https://www.instagram.com/{{ user.users_social_instagram }}"
                                                  class="float-right" target="_blank">@{{ user.users_social_instagram }}</a>
                            </li>
                        {% endif %}
                        {% if user.users_social_snapchat != "" %}
                            <li class="list-group-item">
                                <b>Snapchat</b> <a href="https://www.snapchat.com/add/{{ user.users_social_snapchat }}"
                                                  class="float-right" target="_blank">{{ user.users_social_snapchat }}</a>
                            </li>
                        {% endif %}
                    </ul>
                    {% if user.users_userid == USERDATA.users_userid %}
                        <a href="{{ CONFIG.ROOTURL }}/account.php" class="btn btn-default btn-block">Account Settings</a>
                    {% endif %}
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
            <div class="card">
                <div class="card-header p-2">
                    <ul class="nav nav-pills">
                        {% if user.crewAssignments|length > 0 %}<li class="nav-item"><a class="nav-link" href="#roles" data-toggle="tab">Crew Roles</a></li>{% endif %}
                        {% if user.projectManagement|length > 0 %}<li class="nav-item"><a class="nav-link" href="#projects" data-toggle="tab">Projects Managed</a></li>{% endif %}
                        <li class="nav-item"><a class="nav-link active" href="#calendar" data-toggle="tab">Calendar</a></li>
                        {% if user.users_userid == USERDATA.users_userid %}
                        <li class="nav-item"><a class="nav-link" href="#export" data-toggle="tab">Export</a></li>
                        {% endif %}
                    </ul>
                </div><!-- /.card-header -->
                <div class="card-body" style="padding: 0;">
                    <div class="tab-content">
                        <div class="tab-pane table-responsive p-0" id="roles" style="height: 600px;">
                            <table class="table table-head-fixed">
                                <tr>
                                    <th>Project</th>
                                    <th></th>
                                    <th>Role</th>
                                </tr>
                                {% for project in user.crewAssignments %}
                                    <tr>
                                        <td>
                                            <a href="{{ CONFIG.ROOTURL }}/project/?id={{ project.projects_id }}">{{ project.clients_name ? project.clients_name ~ " - " }}{{ project.projects_name }}</a>
                                        </td>
                                        <td>
                                            {{ project.projects_dates_use_start|date("M Y") }}
                                        </td>
                                        <td>
                                            {{ project.crewAssignments_role }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <div class="tab-pane table-responsive p-0" id="projects" style="height: 600px;">
                            <table class="table table-head-fixed">
                                <tr>
                                    <th>Project</th>
                                    <th></th>
                                </tr>
                                {% for project in user.projectManagement %}
                                    <tr>
                                        <td>
                                            <a href="{{ CONFIG.ROOTURL }}/project/?id={{ project.projects_id }}">{{ project.clients_name ? project.clients_name ~ " - " }}{{ project.projects_name }}</a>
                                        </td>
                                        <td>
                                            {{ project.projects_dates_use_start|date("M Y") }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <!-- /.tab-pane -->
                        <div class="active tab-pane" style="padding: 1.25rem" id="calendar">
                            <div id="calendar"></div>
                            <script>
                                $(function () {
                                    /* initialize the calendar
                                     -----------------------------------------------------------------*/
                                    var Calendar = FullCalendar.Calendar;
                                    var Draggable = FullCalendarInteraction.Draggable;
                                    var calendarEl = document.getElementById('calendar');

                                    // initialize the external events
                                    // -----------------------------------------------------------------

                                    var calendar = new Calendar(calendarEl, {
                                        plugins: ['bootstrap', 'interaction', 'dayGrid', 'timeGrid', 'list'],
                                        nextDayThreshold: '05:00:00',
                                        customButtons: {},
                                        buttonText: {
                                            today: 'Today',
                                            month: 'Month',
                                            week: 'Week',
                                            day: 'Day',
                                            list: 'List'
                                        },
                                        header: {
                                            left: 'prev,next today',
                                            center: 'title',
                                            right: 'dayGridMonth,timeGridWeek,timeGridDay,listYear'
                                        },

                                        //Random default events
                                        events: [
                                            {% set earliestStart = false %}
                                            {% set latestEnd = false %}
                                            {% for project in user.crewAssignments %}
                                            {
                                                title: '[{{ project.crewAssignments_role }}] {{ project.clients_name ? project.clients_name|raw ~ " - " }}{{ project.projects_name|raw }} ({{ STATUSES[project.projects_status]["name"] }})',
                                                start: Date.parse("{{ project.projects_dates_use_start|date("c") }}"),
                                                end: Date.parse("{{ project.projects_dates_use_end|date("c") }}"),
                                                url: '{{ CONFIG.ROOTURL }}/project/?id={{ project.projects_id }}',
                                                backgroundColor: '{{ STATUSES[project.projects_status]["backgroundColour"] }}',
                                                textColor: '{{ STATUSES[project.projects_status]["foregroundColour"] }}'
                                            },
                                            {% if earliestStart > project.projects_dates_use_start|date("c") or earliestStart == false %}
                                            {% set earliestStart = project.projects_dates_use_start|date("c") %}
                                            {% endif %}
                                            {% if latestEnd < project.projects_dates_use_end|date("c") or latestEnd == false %}
                                            {% set latestEnd = project.projects_dates_use_end|date("c") %}
                                            {% endif %}
                                            {% endfor %}
                                        ],
                                        validRange: {
                                            start: '{{ earliestStart|date("c") }}',
                                            end: '{{ latestEnd|date("c") }}'
                                        },
                                        editable: false,
                                        droppable: false, // this allows things to be dropped onto the calendar !!!
                                        drop: function (info) {

                                        },
                                        height: 800,
                                        firstDay: 1,
                                        weekNumbers: true,
                                        weekNumbersWithinDays: true,
                                        {% if user.instance.weekStartDates %}
                                        weekNumberCalculation: function (date) {
                                            var dates = [{{ user.instance.weekStartDates|join(",") }}];
                                            var today = new Date();
                                            var thisDate = Date.parse(date.getDate() + ' ' + (date.toLocaleString('default', {month: 'long'})) + ' ' + date.getFullYear() + ' 00:00:00');
                                            var idOfThis;
                                            for (var i = 0; i < dates.length; i++) {
                                                if (thisDate <= (dates[i]) - (7 * 24 * 60 * 60 * 1000)) {
                                                    if (i == 0) {
                                                        return "";
                                                    }
                                                    idOfThis = i - 1;
                                                    break;
                                                }
                                            }
                                            return (Math.round((thisDate - dates[idOfThis]) / (7 * 24 * 60 * 60 * 1000)) + 1);
                                        },
                                        {% else %}
                                        weekNumberCalculation: "ISO",
                                        {% endif %}
                                    });

                                    calendar.render();
                                })
                            </script>
                        </div>
                        <!-- /.tab-pane -->
                        {% if user.users_userid == USERDATA.users_userid %}
                        <div class="tab-pane" style="padding: 1.25rem" id="export">
                            <input type="url" class="form-control" disabled value="{{ CONFIG.ROOTURL }}/api/account/calendar-export.php?uid={{ user.users_userid }}&key={{ user.users_calendarHash }}" />
                            <br/>
                            <h2>Google Calendar</h2>
                            <ol>
                                <li>Copy the URL at the top.</li>
                                <li><a href="https://calendar.google.com" target="_blank">Open Google Calendar</a>,
                                    click the <em>+</em> above <em>My calendars</em> and choose <em>From URL</em>.
                                </li>
                                <li>Paste the URL into the field named <em>URL of calendar</em> that appears and click
                                    <em>Add calendar</em>.
                                </li>
                                <li>After a few seconds, it should appear in your calendar. If it does not, try
                                    reloading Google Calendar.
                                </li>
                            </ol>
                            <h2>Apple Calendar</h2>
                            <ol>
                                <li>Copy the URL at the top.</li>
                                <li>In Apple Calendar, click the <em>File</em> menu and choose <em>New Calendar
                                        Subscription…</em>.
                                </li>
                                <li>Paste the URL into the dialog that appears and click <em>Subscribe</em>.</li>
                                <li>A window with settings of the calendar subscription will appear. Set <em>Auto-refresh</em>
                                    to <em>Every hour</em> to keep your calendar up to date and click <em>OK</em>.
                                </li>
                            </ol>
                            <h2>Outlook</h2>
                            <ol>
                                <li>Copy the URL at the top.</li>
                                <li>In Outlook, click <em>Open Calendar</em> and choose <em>From Internet…</em>.</li>
                                <li>Paste the URL into the Outlook dialog that appears and click <em>OK</em>.</li>
                                <li>After a few seconds, Outlook will ask if the internet calendar should be added.
                                    Click <em>Yes</em>.
                                </li>
                            </ol>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
