<style>
    body {
        font-size: 16px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    }

     table {
        width: 100%;
    }

     table td {
        padding: 5px;
        vertical-align: top;
    }
</style>
<body>
<htmlpageheader name="firstpage" style="display:none">
</htmlpageheader>
<htmlpageheader name="otherpages" style="display:none">
    <table width="100%">
        <tr>
            <td width="50%"><b>{{ USERDATA['instance']['instances_name'] }}</b></td>
            <td width="50%" style="text-align: right;"> {{  note['projectsNotes_title'] }} - {{ project['projects_name'] }}</td>
        </tr>
    </table>
</htmlpageheader>
<sethtmlpageheader name="firstpage" value="on" show-this-page="1" />
<sethtmlpageheader name="otherpages" value="on" />
<div style="width: 100%;" align="center" style="text-align: center;">
    <img src="{{ USERDATA.instance.instances_logo|s3URL("medium") }}" style="width: 200px; padding:20px;">
    <h2> {{  note['projectsNotes_title'] }}</h2>
    <h3>{{ USERDATA['instance']['instances_name'] }} - {{ project['projects_name'] }}</h3>
    <hr/>
</div>
{{ note.projectsNotes_text|raw }}
</body>