{% extends "assets/template.twig" %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="card ">
                <div class="card-header">
                    <h3 class="card-title">
                        {% if search|length > 0 %}
                            Search results for manufacturers matching <b>{{ search }}</b>
                        {% else %}
                            Manufacturers
                        {% endif %}
                    </h3>
                    <div class="card-tools pull-right">
                        <form class="input-group input-group-sm" style="width: 150px;" method="GET">
                            <input type="text" name="q" class="form-control" placeholder="Search" value="{{ search }}" />
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                {% if "ASSETS:MANUFACTURERS:CREATE"|instancePermissions %}
                                    <button type="button" class="btn btn-default" id="newManufacturerButton"><i class="fa fa-plus"></i></button>
                                {% endif %}
                            </div>

                        </form>
                    </div>
                </div>
                <div class="card-body table-responsive p-0">
                    {% if manufacturers|length > 0 %}
                        <table class="table table-head-fixed" border="0" style="overflow-x: scroll;">
                            <tbody>
                            {% for manufacturer in manufacturers %}
                                <tr>
                                    <td>{{ manufacturer.manufacturers_name }}</td>
                                    <td><a href="{{ manufacturer.manufacturers_website }}" target="_blank">{{ manufacturer.manufacturers_website }}</a></td>
                                    <td>{{  manufacturer.manufacturers_notes|nl2br }}</td>
                                    <td>
                                        <div class="btn-group">
                                            <a href="{{CONFIG.ROOTURL}}/assets.php?manufacturer%5B%5D={{ manufacturer.manufacturers_id }}&showlinked=1&showarchived=1" class="btn btn-default btn-sm"><i class="fas fa-eye"></i></a>
                                            {% if "ASSETS:MANUFACTURERS:EDIT"|instancePermissions %}
                                            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#editManufacturer-{{ manufacturer.manufacturers_id }}"><i class="fas fa-edit"></i></button>
                                            {% endif %}
                                        </div>
                                        {% if "ASSETS:MANUFACTURERS:EDIT"|instancePermissions %}
                                        <div class="modal fade" id="editManufacturer-{{ manufacturer.manufacturers_id }}">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Edit {{ manufacturer.manufacturers_name }}</h4>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form class="manufacturerEdit-form" data-manufacturerid="{{ manufacturer.manufacturers_id }}">
                                                            <input type="hidden" name="manufacturers_id" value="{{ manufacturer.manufacturers_id }}"/>
                                                            <div class="input-group" style="margin-bottom: 5px;">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text">Name</span>
                                                                </div>
                                                                <input type="text" class="form-control" name="manufacturers_name" value="{{ manufacturer.manufacturers_name }}">
                                                            </div>
                                                            <div class="input-group" style="margin-bottom: 5px;">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text">Website</span>
                                                                </div>
                                                                <input type="text" class="form-control" name="manufacturers_website" value="{{ manufacturer.manufacturers_website }}">
                                                            </div>
                                                            <div class="input-group" style="margin-bottom: 5px;">
                                                                <div class="input-group-prepend"><span class="input-group-text">Notes</span></div>
                                                                <textarea class="form-control" rows="3" name="manufacturers_notes"  placeholder="">{{ manufacturer.manufacturers_notes }}</textarea>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer justify-content-between">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                        <button type="button" class="btn btn-primary saveManufacturerEdit-button" data-manufacturerid="{{ manufacturer.manufacturers_id }}">Save changes</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <center><p style="margin: 10px;"><i>No results</i><br/><a href="?">Remove any filters</a></p></center>
                    {% endif %}
                </div>
                <div class="overlay" id="loadingoverlay">
                    <i class="fas fa-sync fa-spin fa-3x"></i>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                $("#loadingoverlay").hide();
                {% if "ASSETS:MANUFACTURERS:CREATE"|instancePermissions %}
                $("#newManufacturerButton").click(function () {
                    bootbox.prompt("Enter Manufacturer Name", function (result) {
                        if (result) {
                            ajaxcall("manufacturer/new.php", {"manufacturers_name": result}, function (data) {
                                location.reload();
                            });
                        }
                    });
                });
                {% endif %}
                {% if "ASSETS:MANUFACTURERS:EDIT"|instancePermissions %}
                $(".saveManufacturerEdit-button").click(function () {
                    var formData = $(".manufacturerEdit-form[data-manufacturerid=" + $(this).data("manufacturerid") + "]").serializeArray();
                    ajaxcall("manufacturer/edit.php", {formData}, function (data) {
                        location.reload();
                    });
                });
                {% endif %}
            });
        </script>
    </div>
{% endblock %}
