<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ INSTANCE.instances_name }}</title>

    <!-- JS Scripts/Plugins-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha256-OUFW7hFO0/r5aEGTQOz9F/aXQOt+TwqI1Z4fbVvww04=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha512-znmTf4HNoF9U6mfB6KlhAShbRvbt4CvCaHoNV0gyssfToNQ/9A0eNdUbvsSwOIUoJdMjFG2ndSvr0Lo3ZpsTqQ==" crossorigin="anonymous" />
    <!--Bootbox -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.3.4/bootbox.min.js" integrity="sha256-uX1dPz3LieQG3DzdBTKHF4e1XzZyeeHTexV6lppnaAc=" crossorigin="anonymous"></script>

    <!--Pace Loader-->
    <script>
        window.paceOptions = {
            startOnPageLoad: false,
            document: false,
            eventLag: false,
            ajax: {
                trackMethods: ['GET', 'POST', 'PUT', 'DELETE', 'REMOVE'],
                ignoreURLs: []
            }
        };
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js" integrity="sha256-EPrkNjGEmCWyazb3A/Epj+W7Qm2pB9vnfXw+X6LImPM=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ CONFIG.ASSETCDNURL }}/css/pace.css">


    <script src="{{ CONFIG.ASSETCDNURL }}/js/sweetalert2.min.js"></script>
    <link rel="stylesheet"  href="{{ CONFIG.ASSETCDNURL }}/css/sweetAlert2-bootstrap-4.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.min.css" integrity="sha256-VVbO1uqtov1mU6f9qu/q+MfDmrqTfoba0rAE07szS20=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.min.js" integrity="sha256-zI6VVO07NPmVW11q3RQE42YbRmJIkkunrcQ9LEYxJsQ=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.full.min.js" integrity="sha512-RtZU3AyMVArmHLiW0suEZ9McadTdegwbgtiQl5Qqo9kunkVg1ofwueXD8/8wv3Af8jkME3DDe3yLfR8HSJfT2g==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" />
    <link rel="stylesheet"  href="{{ CONFIG.ASSETCDNURL }}/css/select2-bootstrap4.min.css" />
    <style>
        .select2-selection--multiple {
            max-height: 10rem;
            overflow-y: auto
        }
    </style>

    <style>
        html {
            position: relative;
            min-height: 100%;
        }
        body {
            font-size: .875rem;
            margin-bottom: 60px; /* Margin bottom by footer height */
        }
        .h3, h3 {
            font-size: 1rem;
        }
        .sidebar {
            padding: 10px;
            box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
        }

        .sidebar-sticky {
            position: relative;
            top: 0;
            overflow-x: hidden;
            overflow-y: hidden;
        }
        @media (min-width:992px) {
            .sidebar-sticky {
                height: calc(100vh - 80px);
            }
        }
        @supports ((position: -webkit-sticky) or (position: sticky)) {
            .sidebar-sticky {
                position: -webkit-sticky;
                position: sticky;
            }
        }

        .sidebar .nav-link {
            font-weight: 500;
            color: #333;
        }

        .sidebar .nav-link .fa {
            margin-right: 4px;
            color: #999;
        }

        .sidebar .nav-link.active {
            color: #007bff;
        }

        .sidebar .nav-link:hover .fa,
        .sidebar .nav-link.active .fa {
            color: inherit;
        }

        .sidebar-heading {
            font-size: .75rem;
            text-transform: uppercase;
        }
        [role="main"] {
            padding: 10px;
        }

        .navbar-dark .navbar-nav .nav-link {
            color: white;
        }
        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: #f5f5f5;
        }
        @media (min-width:992px) {
            .footer {
                padding:0;
                height: 60px;
                line-height: 40px;
            }
            div#footer-left {
                padding:10px;
            }
            div#footer-right {
                text-align: right;
                padding:10px;
            }
        }
        @media (max-width:991px) {
            div#footer-left {
                padding:5px;
                text-align:center;
            }
            div#footer-right {
                text-align:center;
                padding:5px;
            }
        }
        img.logo {
            width:80%;
            margin:5px;
        }
        div.logo {
            width: 100%;
            text-align:center;
        }
        div.headerImage {
            width: 100%;
            min-height:200px;
            background-repeat: no-repeat;
            background-position: center;
            background-size:cover;
            background-color: #cccccc;
            background-image: url("{{ INSTANCE.publicData.headerImage|s3URL("medium")|raw }}");
            margin-bottom:10px;
        }

    </style>
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-12 col-md-12 col-lg-2 bg-light sidebar">
            <div class="sidebar-sticky">
                <div class="logo">
                    <a href="/" class="nav-link">
                    {% if INSTANCE.instances_logo %}
                        <img src="{{ INSTANCE.instances_logo|s3URL("small") }}" class="logo" alt="{{ INSTANCE.instances_name }} Logo" />
                    {% else %}
                         <h3>{{ INSTANCE.instances_name }}</h3>
                    {% endif %}
                    </a>
                    <hr/>
                </div>

                {% block menu %}
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/">
                                Home
                            </a>
                        </li>
                        {% if INSTANCE.publicData.enableAssets %}
                            <li class="nav-item">
                                <a class="nav-link" href="assets.php">
                                    Assets
                                </a>
                            </li>
                        {% endif %}
                        {% if INSTANCE.FILES %}
                            <li class="nav-item">
                                <a class="nav-link" href="files.php">
                                    Downloads
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Other</span>
                        <a class="d-flex align-items-center text-muted" href="#">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="https://dash.adam-rms.com" target="_blank">
                                AdamRMS Login
                            </a>
                        </li>
                    </ul>
                {% endblock %}
            </div>
        </nav>
        <main role="main" class="col-sm-12 col-md-12 col-lg-10 p-0">
            {% block header %}
            {% if INSTANCE.publicData.headerImage %}
                <div class="headerImage"></div>
            {% endif %}
            {% endblock %}
            <div class="px-4">
                {% block main %}
                {% endblock %}
            </div>
        </main>
        <footer class="footer">
            <div class="row" style="width: 100%;margin:0;">
                <div class="col-sm-12 col-md-6 text-muted" id="footer-left">
                    {% if INSTANCE.publicData.footerText %}
                        {{ INSTANCE.publicData.footerText }}
                    {% else %}
                        Proudly powered by <a href="https://adam-rms.com">AdamRMS</a>
                    {% endif %}
                </div>
                <div class="col-sm-12 col-md-6 text-muted" id="footer-right">
                    <strong>&copy;2018-{{ "now"|date("Y") }} <a href="https://studios.jbithell.com">Bithell Studios Ltd</a>.</strong> All rights
                    reserved.
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="{{ CONFIG.ASSETCDNURL }}/js/sweetalert2.min.js"></script>
<link rel="stylesheet"  href="{{ CONFIG.ASSETCDNURL }}/css/sweetAlert2-bootstrap-4.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.min.css" integrity="sha256-VVbO1uqtov1mU6f9qu/q+MfDmrqTfoba0rAE07szS20=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.min.js" integrity="sha256-zI6VVO07NPmVW11q3RQE42YbRmJIkkunrcQ9LEYxJsQ=" crossorigin="anonymous"></script>

<link rel="stylesheet" href="{{ CONFIG.ASSETCDNURL }}/libs/slick-1.8.1/slick/slick.css" />
<link rel="stylesheet" href="{{ CONFIG.ASSETCDNURL }}/libs/slick-1.8.1/slick/slick-theme.css" />
<script type="text/javascript" src="{{ CONFIG.ASSETCDNURL }}/libs/slick-1.8.1/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="{{ CONFIG.ASSETCDNURL }}/libs/slick-1.8.1/slick/slick.min.js"></script>


{% include 'analytics.twig' %}
</body>
</html>
